Repository deepmodeling/deepmd-kit, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, Docs, Examples, Core, CUDA, ROCM, OP, C++, C, LAMMPS, Gromacs, i-Pi

skip pushing when an action is triggered by dependeabot (#3035)
  .github/workflows/build_wheel.yml
Labels: none

chore: replace `all_nlocal` as `atom->natoms`
  source/lmp/pair_deepmd.cpp
Labels: LAMMPS

fix bugs
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_pot.py
  source/tests/test_deeppot_a.py
Labels: Python

add docstring
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_pot.py
Labels: Python

test with -fsanitize=leak
  .github/workflows/test_cc.yml
Labels: none

add support for deep dipole
  deepmd/infer/deep_dipole.py
  deepmd/infer/deep_tensor.py
  source/tests/test_deepdipole.py
Labels: Python

support deeppolar; support ase
  deepmd/calculator.py
  deepmd/infer/__init__.py
  deepmd/infer/deep_polar.py
  source/tests/test_deepdipole.py
  source/tests/test_deeppolar.py
Labels: Python

print NaN loss when labeled data is not found
  deepmd/loss/dos.py
  deepmd/loss/ener.py
  deepmd/loss/loss.py
  deepmd/loss/tensor.py
Labels: Python

fix GPU mapping error for Horovod + finetune
  deepmd/utils/batch_size.py
Labels: Python

remove unused codes
  deepmd/descriptor/se_a.py
Labels: Python

fix: invalid read and write when natom grows (#3031)
  source/api_cc/src/common.cc
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h
Labels: C++, LAMMPS

build neighbor list with external Python program (#3046)
  deepmd/calculator.py
  deepmd/infer/__init__.py
  deepmd/infer/deep_dipole.py
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_polar.py
  deepmd/infer/deep_pot.py
  deepmd/infer/deep_tensor.py
  source/tests/test_deepdipole.py
  source/tests/test_deeppolar.py
  source/tests/test_deeppot_a.py
Labels: Python

fix GPU mapping error for Horovod + finetune (#3048)
  deepmd/utils/batch_size.py
Labels: Python

docs: document external neighbor list
  doc/inference/python.md
Labels: Docs

add comment for nan
  deepmd/train/trainer.py
Labels: Python

remove unused codes in se_a.py (#3049)
  deepmd/descriptor/se_a.py
Labels: Python

docs: document external neighbor list (#3056)
  doc/inference/python.md
Labels: Docs

print NaN loss when labeled data is not found (#3047)
  deepmd/loss/dos.py
  deepmd/loss/ener.py
  deepmd/loss/loss.py
  deepmd/loss/tensor.py
  deepmd/train/trainer.py
Labels: Python

add water tensor dipole
  deepmd/entrypoints/test.py
  deepmd/fit/dipole.py
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_tensor.py
  deepmd/loss/tensor.py
  deepmd/model/tensor.py
  deepmd/train/trainer.py
Labels: Python

fix
  deepmd/fit/dipole.py
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_tensor.py
  deepmd/loss/tensor.py
  deepmd/model/tensor.py
  deepmd/train/trainer.py
Labels: Python

nvnmd
  deepmd/nvnmd/data/data.py
  deepmd/nvnmd/entrypoints/mapt.py
  deepmd/nvnmd/entrypoints/wrap.py
  deepmd/nvnmd/utils/config.py
  doc/nvnmd/nvnmd.md
  examples/nvnmd/train/train_cnn.json
  examples/nvnmd/train/train_qnn.json
  source/tests/test_nvnmd_entrypoints.py
Labels: Python, Docs, Examples

fix
  deepmd/entrypoints/test.py
  deepmd/fit/dipole.py
  deepmd/infer/deep_eval.py
  deepmd/loss/tensor.py
  deepmd/model/tensor.py
  deepmd/train/trainer.py
Labels: Python

fix memory leak of DeepPot
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
Labels: C

.github/labeler.yml:

Python:
- deepmd/**/*
- deepmd_utils/**/*
- source/tests/**/*
Docs: doc/**/*
Examples: examples/**/*
Core: source/lib/**/*
CUDA: source/lib/src/gpu/**/*
ROCM: source/lib/src/gpu/**/*
OP: source/op/**/*
C++: source/api_cc/**/*
C: source/api_c/**/*
LAMMPS: source/lmp/**/*
Gromacs: source/gmx/**/*
i-Pi: source/ipi/**/*
