Repository deepmodeling/deepmd-kit, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, Docs, Examples, Core, CUDA, ROCM, OP, C++, LAMMPS, Gromacs, i-Pi

.github/labeler.yml:

Python:
- deepmd/**/*
- source/tests/**/*
Docs: doc/**/*
Examples: examples/**/*
Core: source/lib/**/*
CUDA: source/lib/src/cuda/**/*
ROCM: source/lib/src/rocm/**/*
OP: source/op/**/*
C++: source/api_cc/**/*
LAMMPS: source/lmp/**/*
Gromacs: source/gmx/**/*
i-Pi: source/ipi/**/*

[WIP] refactor
  doc/inference/cxx.md
  source/api_c/include/c_api.h
  source/api_c/src/c_api.cc
Labels: Docs

merge double and float cc library (#2033)
  doc/inference/cxx.md
  source/api_cc/CMakeLists.txt
  source/api_cc/include/AtomMap.h
  source/api_cc/include/DataModifier.h
  source/api_cc/include/DeepPot.h
  source/api_cc/include/DeepTensor.h
  source/api_cc/include/common.h
  source/api_cc/include/version.h.in
  source/api_cc/src/AtomMap.cc
  source/api_cc/src/DataModifier.cc
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepTensor.cc
  source/api_cc/src/common.cc
  source/api_cc/tests/CMakeLists.txt
  source/gmx/patches/2020.2/CMakeLists.txt.patch.in
  source/ipi/CMakeLists.txt
  source/lmp/env.sh.in
  source/lmp/env_py.sh.in
  source/lmp/plugin/CMakeLists.txt
Labels: Docs, C++, LAMMPS, Gromacs, i-Pi

migrate to PEP 517 and PEP 621 (#2035)
  .github/workflows/build_cc.yml
  .github/workflows/lint_python.yml
  .github/workflows/test_python.yml
  backend/dp_backend.py
  backend/find_tensorflow.py
  doc/development/coding-conventions.rst
  doc/install/install-from-source.md
  pyproject.toml
  requirements.txt
  setup.py
Labels: Docs

fix errors
  doc/inference/cxx.md
  source/api_c/include/c_api.h
  source/api_c/src/c_api.cc
Labels: Docs

deprecate HIGH_PREC
  doc/inference/cxx.md
  source/api_c/CMakeLists.txt
  source/api_c/include/c_api.h
  source/api_c/src/c_api.cc
Labels: Docs

add tests
  .gitignore
  doc/inference/cxx.md
  source/api_c/CMakeLists.txt
  source/api_c/include/c_api.h
  source/api_c/src/c_api.cc
  source/api_c/tests/CMakeLists.txt
  source/api_c/tests/test_deeppot_a.cc
  source/install/test_cc.sh
  source/install/test_cc_local.sh
Labels: Docs

add docs
  doc/conf.py
  doc/index.rst
Labels: Docs

add links
  doc/inference/cxx.md
Labels: Docs

add coverage for c
  source/api_c/CMakeLists.txt
Labels: none

fix find packages
  source/api_c/tests/CMakeLists.txt
Labels: none

accurate description of dp test -d
  deepmd/entrypoints/main.py
  doc/test/test.md
Labels: Python, Docs

add dp test help doc (#2038)
  deepmd/entrypoints/main.py
  doc/test/test.md
Labels: Python, Docs

Update doc/inference/cxx.md
  doc/inference/cxx.md
Labels: Docs

add atomic energy and atomic virial to parameters
  backend/dp_backend.py
  doc/inference/cxx.md
  source/api_c/include/c_api.h
  source/api_c/src/c_api.cc
  source/api_c/tests/test_deeppot_a.cc
Labels: Docs

fix bug in hdf5 path
  deepmd/utils/path.py
Labels: Python

support no PBC
  source/api_c/include/c_api.h
  source/api_c/src/c_api.cc
  source/api_c/tests/test_deeppot_a.cc
Labels: none
