Repository deepmodeling/deepmd-kit, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, Docs, Examples, Core, CUDA, ROCM, OP, C++, C, LAMMPS, Gromacs, i-Pi

.github/labeler.yml:

Python:
- deepmd/**/*
- deepmd_utils/**/*
- source/tests/**/*
Docs: doc/**/*
Examples: examples/**/*
Core: source/lib/**/*
CUDA: source/lib/src/gpu/**/*
ROCM: source/lib/src/gpu/**/*
OP: source/op/**/*
C++: source/api_cc/**/*
C: source/api_c/**/*
LAMMPS: source/lmp/**/*
Gromacs: source/gmx/**/*
i-Pi: source/ipi/**/*

bump CUDA version to 12.2 for pre-built packages (#2960)
  .github/workflows/build_cc.yml
  .github/workflows/test_cuda.yml
  backend/find_tensorflow.py
  doc/install/easy-install-dev.md
  doc/install/easy-install.md
  doc/install/install-from-c-library.md
  pyproject.toml
  source/install/docker/Dockerfile
  source/install/docker_package_c.sh
Labels: Docs

add tests for compressed training and restart
  source/tests/test_compressed_training.py
Labels: Python

fix restarting from compressed training with type embedding
  deepmd/model/dos.py
  deepmd/model/ener.py
  deepmd/model/model.py
  deepmd/model/multi.py
  deepmd/model/pairwise_dprc.py
  deepmd/model/tensor.py
  deepmd/utils/type_embed.py
Labels: Python

remove useless variable
  deepmd/model/model.py
Labels: Python

nvnmd: add init-model feature
  deepmd/nvnmd/entrypoints/train.py
  deepmd_utils/main.py
Labels: Python

use shfmt-src
  .pre-commit-config.yaml
Labels: none

assign `-c` for `dp freeze`
  source/tests/test_compressed_training.py
Labels: Python

fix
  .github/workflows/package_c.yml
  pyproject.toml
Labels: none

fix pip install
  source/install/docker_package_c.sh
Labels: none

fix needs
  .github/workflows/build_wheel.yml
Labels: none

build cu11 wheel
  .github/workflows/build_wheel.yml
  backend/find_tensorflow.py
  doc/install/easy-install.md
  pyproject.toml
Labels: Docs

build cu11 for docker and C interface library
  .github/workflows/build_wheel.yml
  .github/workflows/package_c.yml
  doc/install/easy-install-dev.md
  doc/install/install-from-c-library.md
  pyproject.toml
  source/install/docker/Dockerfile
  source/install/docker_package_c.sh
Labels: Docs

fix invalid version
  backend/find_tensorflow.py
Labels: none

Update package_c.yml
  .github/workflows/package_c.yml
Labels: none

test lammps fparam/aparam keyword
  source/lmp/tests/test_lammps_faparam.py
Labels: LAMMPS

fix the pbtxt file
  source/lmp/tests/test_lammps_faparam.py
Labels: LAMMPS

type is 1 1 1 1 1 1
  source/lmp/tests/test_lammps_faparam.py
Labels: LAMMPS

remove mass 2
  source/lmp/tests/test_lammps_faparam.py
Labels: LAMMPS

format variables
  deepmd/descriptor/se.py
  deepmd/descriptor/se_a.py
  deepmd/env.py
  deepmd/fit/ener.py
  deepmd/fit/fitting.py
  deepmd_utils/model_format.py
Labels: Python

fix typo
  deepmd/env.py
Labels: Python

x
  deepmd/env.py
Labels: Python

fix replace
  deepmd/utils/graph.py
Labels: Python

add unit tests for LAMMPS fparam/aparam keywords (#2998)
  source/lmp/tests/test_lammps_faparam.py
Labels: LAMMPS

fix restarting from compressed training with type embedding (#2996)
  deepmd/model/dos.py
  deepmd/model/ener.py
  deepmd/model/model.py
  deepmd/model/multi.py
  deepmd/model/pairwise_dprc.py
  deepmd/model/tensor.py
  deepmd/utils/type_embed.py
  source/tests/test_compressed_training.py
Labels: Python

docs: document horovod on conda-forge
  doc/install/easy-install.md
Labels: Docs

docs: document horovod on Conda-Forge (#3001)
  doc/install/easy-install.md
Labels: Docs

nvnmd: fix the bug of init-model feature
  deepmd/fit/ener.py
  deepmd/nvnmd/descriptor/se_a.py
  deepmd/nvnmd/descriptor/se_atten.py
  deepmd/nvnmd/entrypoints/freeze.py
  deepmd/nvnmd/entrypoints/mapt.py
Labels: Python

fix typo
  deepmd/descriptor/se_a.py
Labels: Python

add the missing suffix parameter
  deepmd/descriptor/se_a_ebd_v2.py
  source/tests/test_init_frz_model_se_a_tebd.py
Labels: Python

code refactor
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_a_ebd_v2.py
  deepmd/descriptor/se_atten.py
  deepmd/utils/graph.py
Labels: Python

code refactor
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_atten.py
  deepmd/utils/compress.py
  deepmd/utils/graph.py
Labels: Python

pre-commit
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_atten.py
  deepmd/utils/graph.py
Labels: Python

remove explicit literals
  deepmd/descriptor/se_a.py
Labels: Python

pre-commit
  deepmd/descriptor/se_a.py
Labels: Python

fix error variable name
  deepmd/descriptor/se_a.py
Labels: Python

nvnmd: add sub_version and atom_bias_ener into model to fix the differece in energy
  deepmd/nvnmd/data/data.py
  deepmd/nvnmd/entrypoints/wrap.py
Labels: Python

nvnmd: fix the bug (invaild mesh tensor) according to prod_env_mat_multi_device.cc
  deepmd/fit/ener.py
  source/op/prod_env_mat_multi_device_nvnmd.cc
Labels: Python, OP

Add the missing initializations for extra embedding variables (#3005)
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_atten.py
  deepmd/utils/compress.py
  deepmd/utils/graph.py
  source/tests/test_init_frz_model_se_a_tebd.py
Labels: Python

print system prob using scientific natation
  deepmd/utils/data_system.py
Labels: Python

add cu11 prebuilt packages (#3002)
  .github/workflows/build_wheel.yml
  .github/workflows/package_c.yml
  backend/find_tensorflow.py
  doc/install/easy-install-dev.md
  doc/install/easy-install.md
  doc/install/install-from-c-library.md
  pyproject.toml
  source/install/docker/Dockerfile
  source/install/docker_package_c.sh
Labels: Docs
