Repository deepmodeling/deepmd-kit, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, Docs, Examples, Core, CUDA, ROCM, OP, C++, C, LAMMPS, Gromacs, i-Pi

prevent logging messages from other modules
  deepmd/loggers/loggers.py
Labels: Python

docs: fix the docs of numb_btch
  deepmd/utils/argcheck.py
Labels: Python

dismiss warning when `batch_size` is `auto`
  deepmd/utils/data_system.py
Labels: Python

1. variable `FixTTMMod` in make_ttm_fparam is changed to `FixTTMDP` 2. function name `make_compute_fparam` is changed to `make_fparam_from_compute`
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h.in
Labels: LAMMPS

do not use np.append
  deepmd/common.py
  deepmd/descriptor/se_a_ebd.py
  deepmd/fit/ener.py
  deepmd/utils/data_system.py
  source/tests/common.py
Labels: Python

fix errors
  deepmd/utils/data.py
  deepmd/utils/data_system.py
Labels: Python

fix select_idx_map
  deepmd/common.py
Labels: Python

use dependabot to update github actions
  .github/dependabot.yml
  .github/workflows/build_cc.yml
  .github/workflows/build_wheel.yml
  .github/workflows/test_cc.yml
  .github/workflows/test_python.yml
Labels: none

no v4
  .github/workflows/test_cc.yml
  .github/workflows/test_python.yml
Labels: none

prevent logging messages from other modules (#2256)
  deepmd/loggers/loggers.py
Labels: Python

.github/labeler.yml:

Python:
- deepmd/**/*
- source/tests/**/*
Docs: doc/**/*
Examples: examples/**/*
Core: source/lib/**/*
CUDA: source/lib/src/cuda/**/*
ROCM: source/lib/src/rocm/**/*
OP: source/op/**/*
C++: source/api_cc/**/*
C: source/api_c/**/*
LAMMPS: source/lmp/**/*
Gromacs: source/gmx/**/*
i-Pi: source/ipi/**/*
