Repository deepmodeling/deepmd-kit, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, Docs, Examples, Core, CUDA, ROCM, OP, C++, C, LAMMPS, Gromacs, i-Pi

refine code
  deepmd/env.py
  deepmd/utils/neighbor_stat.py
  deepmd/utils/network.py
Labels: Python

set minimal width
  deepmd/utils/data_system.py
Labels: Python

fix for missing code
  README.md
  source/api_c/src/c_api.cc
  source/api_cc/src/common.cc
Labels: C++, C

add unitest code and fix for custom op installation in python
  source/lib/paddle_src/custom_op_install.py
  source/lib/paddle_src/custom_op_test.py
Labels: Core

update README for unitest of python custom op
  README.md
Labels: none

refine docs
  README.md
Labels: none

try shfmt hook again
  .pre-commit-config.yaml
Labels: none

print system prob using scientific natation (#3008)
  deepmd/utils/data_system.py
Labels: Python

nvnmd: add the mode nvnmd_v0v1_ni256 fpr 256 neighbors
  deepmd/nvnmd/data/data.py
  deepmd/nvnmd/entrypoints/train.py
  deepmd/nvnmd/entrypoints/wrap.py
  deepmd/nvnmd/utils/argcheck.py
  deepmd/nvnmd/utils/config.py
Labels: Python

polish code
  deepmd/descriptor/se_a.py
  deepmd/entrypoints/freeze.py
  deepmd/entrypoints/test.py
  deepmd/fit/ener.py
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_pot.py
  deepmd/model/ener.py
  deepmd/train/trainer.py
  deepmd/utils/network.py
Labels: Python

update CPU train and content in RAEDME
  README.md
  deepmd/entrypoints/main.py
  deepmd/entrypoints/train.py
Labels: Python

remove old code cuz merge
  deepmd/descriptor/se_a.py
  deepmd/fit/ener.py
  deepmd/infer/deep_eval.py
  deepmd/model/ener.py
  deepmd/train/trainer.py
Labels: Python

Fix macro issue with multiple arguments
  source/lmp/deepmd_version.h.in
Labels: LAMMPS

Fix macro issue with multiple arguments (#3016)
  source/lmp/deepmd_version.h.in
Labels: LAMMPS

nvnmd: add the mode nvnmd_v1v1_ni256 fpr 256 neighbors
  deepmd/nvnmd/data/data.py
  deepmd/nvnmd/entrypoints/mapt.py
  deepmd/nvnmd/utils/config.py
Labels: Python

remove C++ inference dependency of tensorflow and add more buffer
  deepmd/model/ener.py
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/common.cc
Labels: Python, C++

update dev code
  deepmd/loss/ener.py
  deepmd/utils/spin.py
Labels: Python

update README
  README.md
Labels: none

set rpath for symlink and macos
  source/lmp/plugin/CMakeLists.txt
Labels: LAMMPS

add spin_energy python train/test code
  deepmd/descriptor/se_a.py
  deepmd/entrypoints/freeze.py
  deepmd/fit/ener.py
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_pot.py
  deepmd/loss/ener.py
  deepmd/model/ener.py
  deepmd/train/trainer.py
  deepmd/utils/neighbor_stat.py
  deepmd/utils/network.py
  deepmd/utils/spin.py
  source/lib/paddle_src/custom_op_test.py
  source/lib/paddle_src/paddle_neighbor_stat.cc
Labels: Python, Core

refine code
  deepmd/entrypoints/freeze.py
  deepmd/infer/deep_pot.py
  source/api_cc/src/DeepPot.cc
Labels: Python, C++

update README.md
  README.md
Labels: none

fix: invalid read an write when natom grows
  source/lmp/pair_deepmd.cpp
Labels: LAMMPS

add (manually)mixed precision training mode(tested with se_e2_a_mixed_prec)
  deepmd/common.py
  deepmd/descriptor/se_a.py
  deepmd/fit/ener.py
  deepmd/train/trainer.py
  deepmd/utils/network.py
Labels: Python

fix: sizeof(stdfsend) is always sizeof(double) style: fix typo in print_summary
  source/api_cc/src/common.cc
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h
Labels: C++, LAMMPS

skip pushing when an action is triggered by dependeabot
  .github/workflows/build_wheel.yml
Labels: none

lmp: do not apply scale factor to model deviation
  doc/third-party/lammps-command.md
  source/lmp/pair_deepmd.cpp
Labels: Docs, LAMMPS

fix: use all_nlocal instead of nlocal
  source/lmp/pair_deepmd.cpp
Labels: LAMMPS

style: format deepmd::print_summary
  source/api_cc/src/common.cc
Labels: C++

remove scale from std_f_all
  source/lmp/pair_deepmd.cpp
Labels: LAMMPS

checkpoint
  deepmd/utils/type_embed.py
Labels: Python

fix se_a_ebd_v2 when nloc != nall
  deepmd/descriptor/se_a.py
Labels: Python

type_embed serialize
  deepmd/descriptor/se.py
  deepmd/env.py
  deepmd/utils/type_embed.py
Labels: Python

bump scikit-build-core to 0.7
  pyproject.toml
Labels: none

bump scikit-build-core to 0.7 (#3038)
  pyproject.toml
Labels: none

breaking(lmp): do not apply scale factor to model deviation (#3036)
  doc/third-party/lammps-command.md
  source/lmp/pair_deepmd.cpp
Labels: Docs, LAMMPS

build neighbor list with external Python program
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_pot.py
  source/tests/test_deeppot_a.py
Labels: Python

kk
  deepmd/infer/deep_pot.py
  source/tests/test_deeppot_a.py
Labels: Python

fix: set all_nlocal as atom->natoms
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h
Labels: LAMMPS

fix se_a_ebd_v2 when nloc != nall (#3037)
  deepmd/descriptor/se_a.py
Labels: Python

.github/labeler.yml:

Python:
- deepmd/**/*
- deepmd_utils/**/*
- source/tests/**/*
Docs: doc/**/*
Examples: examples/**/*
Core: source/lib/**/*
CUDA: source/lib/src/gpu/**/*
ROCM: source/lib/src/gpu/**/*
OP: source/op/**/*
C++: source/api_cc/**/*
C: source/api_c/**/*
LAMMPS: source/lmp/**/*
Gromacs: source/gmx/**/*
i-Pi: source/ipi/**/*
