Repository deepmodeling/deepmd-kit, pull requests merged in 2022-08, with the labels that each got.

#1838 fix deprecated bare `pair_coeff`
  doc/third-party/lammps-command.md
  examples/fparam/lmp/in.lammps
Labels: Docs, Examples

#1847 bump default lammps version to stable_23Jun2022_update1
  doc/install/install-lammps.md
  source/install/build_cc.sh
  source/install/build_lammps.sh
  source/lmp/CMakeLists.txt
Labels: LAMMPS, Docs

#1849 error if LAMMPS_VERSION_NUMBER is not defined
  source/lmp/pair_deepmd.h.in
Labels: LAMMPS

#1851 add variant info to output message
  deepmd/train/run_options.py
  source/CMakeLists.txt
  source/api_cc/src/DeepPot.cc
  source/config/run_config.ini
Labels: Python, C++

#1854 generate author list from git
  doc/credits.rst
  setup.py
Labels: Docs

#1862 revert prod_force OMP in #1360
  .github/workflows/test_python.yml
  source/lib/src/prod_force.cc
Labels: Core

#1863 lammps plugin: replace v2.0 with actual version
  source/lmp/plugin/deepmdplugin.cpp
Labels: LAMMPS

#1864 Merge devel into master
  .github/workflows/test_python.yml
  .gitignore
  deepmd/env.py
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_pot.py
  deepmd/infer/deep_tensor.py
  deepmd/train/run_options.py
  deepmd/train/trainer.py
  deepmd/utils/tabulate.py
  doc/Doxyfile
  doc/api_op.rst
  doc/conf.py
  doc/credits.rst
  doc/data/system.md
  doc/index.rst
  doc/install/easy-install.md
  doc/install/install-from-source.md
  doc/install/install-lammps.md
  doc/sphinx_contrib_exhale_multiproject.py
  doc/third-party/lammps-command.md
  examples/fparam/lmp/in.lammps
  pyproject.toml
  setup.py
  source/CMakeLists.txt
  source/api_cc/CMakeLists.txt
  source/api_cc/include/DataModifier.h
  source/api_cc/include/DeepTensor.h
  source/api_cc/include/common.h
  source/api_cc/src/DataModifier.cc
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepTensor.cc
  source/api_cc/tests/CMakeLists.txt
  source/cmake/Findtensorflow.cmake
  source/config/run_config.ini
  source/install/build_cc.sh
  source/install/build_lammps.sh
  source/install/install_tf.sh
  source/lib/include/gpu_rocm.h
  source/lib/src/prod_force.cc
  source/lib/tests/CMakeLists.txt
  source/lmp/CMakeLists.txt
  source/lmp/env_py.sh.in
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h.in
  source/lmp/plugin/deepmdplugin.cpp
  source/op/CMakeLists.txt
  source/op/optimizer/parallel.cc
  source/op/optimizer/parallel.h
  source/op/prod_env_mat_multi_device.cc
Labels: Python, Core, OP, C++, LAMMPS, Docs, Examples

#1870 remove white space from train_attr/training_script
  deepmd/entrypoints/train.py
Labels: Python

#1874 replace FastGFile with GFile
  deepmd/utils/convert.py
Labels: Python

#1866 Upload attention based model
  README.md
  deepmd/common.py
  deepmd/descriptor/__init__.py
  deepmd/descriptor/se_atten.py
  deepmd/entrypoints/train.py
  deepmd/fit/ener.py
  deepmd/model/ener.py
  deepmd/train/trainer.py
  deepmd/utils/argcheck.py
  deepmd/utils/data.py
  deepmd/utils/data_system.py
  deepmd/utils/network.py
  deepmd/utils/type_embed.py
  doc/data/data-conv.md
  doc/data/system.md
  doc/images/model_se_atten.png
  doc/model/index.md
  doc/model/index.rst
  doc/model/train-se-atten.md
  examples/water/se_atten/input.json
  source/lib/include/neighbor_list.h
  source/lib/include/prod_env_mat.h
  source/lib/src/cuda/neighbor_list.cu
  source/lib/src/cuda/prod_env_mat.cu
  source/lib/src/neighbor_list.cc
  source/lib/src/prod_env_mat.cc
  source/lib/src/rocm/neighbor_list.hip.cu
  source/lib/src/rocm/prod_env_mat.hip.cu
  source/lib/tests/test_env_mat_a_mix.cc
  source/op/prod_env_mat_multi_device.cc
  source/tests/common.py
  source/tests/test_data_large_batch.py
  source/tests/test_descrpt_se_atten.py
  source/tests/test_examples.py
  source/tests/test_fitting_ener_type.py
  source/tests/test_model_se_atten.py
  source/tests/water_se_atten.json
  source/tests/water_se_atten_mixed_type.json
Labels: Python, Core, CUDA, ROCM, OP, Docs, Examples

#1879 docs: make warnings more prominent
  doc/conf.py
  doc/development/type-embedding.md
  doc/install/easy-install.md
  doc/model/train-se-e2-a-tebd.md
  doc/train/training.md
Labels: Docs
