Repository deepmodeling/deepmd-kit, pull requests merged in 2022-12, with the labels that each got.

#2143 optimize FioBin.save
  deepmd/nvnmd/utils/fio.py
Labels: Python

#2144 open the graph file only once in compress
  deepmd/entrypoints/compress.py
Labels: Python

#2147 refactor enable_compression
  deepmd/descriptor/descriptor.py
  deepmd/descriptor/hybrid.py
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_r.py
  deepmd/descriptor/se_t.py
  deepmd/fit/ener.py
  deepmd/train/trainer.py
  deepmd/utils/tabulate.py
Labels: Python

#2148 do not apply automatic batch size on CPUs
  deepmd/utils/batch_size.py
  source/tests/test_auto_batch_size.py
Labels: Python

#2150 remove OP_LIB from op_abi
  source/op/CMakeLists.txt
Labels: OP

#2151 add an option to enable native compilation optimization
  doc/install/install-from-source.md
  setup.py
  source/CMakeLists.txt
Labels: Docs

#2156 docs: add a note about lammps runpath
  doc/install/install-lammps.md
Labels: Docs

#2158 Update python.md
  doc/inference/python.md
Labels: Docs

#2168 pass user defined CUDA_NVCC_FLAGS and HIP_HIPCC_FLAGS
  source/lib/src/cuda/CMakeLists.txt
  source/lib/src/rocm/CMakeLists.txt
Labels: Core, CUDA, ROCM

#2166 support DPRc + type embedding
  deepmd/descriptor/descriptor.py
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_r.py
  deepmd/fit/ener.py
  source/tests/test_model_se_a.py
  source/tests/test_type_one_side.py
Labels: Python

#2175 add ut for dp convert-from
  source/tests/infer/sea_012.pbtxt
  source/tests/test_deeppot_a.py
Labels: Python

#2177 refactor `USE_TF_PYTHON_LIBS`
  source/cmake/Findtensorflow.cmake
  source/lmp/env_py.sh.in
Labels: LAMMPS

#2184 c: DeepTensor
  source/api_c/include/c_api.h
  source/api_c/include/c_api_internal.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_c/tests/test_deepdipole_hpp.cc
  source/api_c/tests/test_deeppolar_hpp.cc
Labels: C

#2179 build wheels for Linux ARM64
  .github/workflows/build_wheel.yml
  backend/find_tensorflow.py
  doc/install/easy-install.md
  pyproject.toml
Labels: Docs

#2186 pip install lammps module
  deepmd/env.py
  deepmd/lmp.py
  doc/install/easy-install.md
  pyproject.toml
  setup.py
  source/CMakeLists.txt
  source/api_c/CMakeLists.txt
  source/api_cc/CMakeLists.txt
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/common.cc
  source/cmake/Findtensorflow.cmake
  source/ipi/CMakeLists.txt
  source/lib/CMakeLists.txt
  source/lmp/plugin/CMakeLists.txt
  source/op/CMakeLists.txt
  source/tests/infer/in.test
  source/tests/test_lammps.py
Labels: Python, Core, OP, C++, LAMMPS, Docs, i-Pi, C

#2193 Fixed a typo inside function comment
  deepmd/common.py
Labels: Python

#2199 Add ABACUS to the interface part.
  doc/third-party/out-of-deepmd-kit.md
Labels: Docs

#2205 support CUDA 12.0
  .github/workflows/build_cc.yml
  source/lib/src/cuda/cudart/cuda_runtime_11_8.inc
  source/lib/src/cuda/cudart/cuda_runtime_12_0.inc
  source/lib/src/cuda/cudart/cudart_stub.cc
Labels: Core, CUDA

#2204 c: add DipoleChargeModifier
  source/api_c/include/c_api.h
  source/api_c/include/c_api_internal.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_c/tests/CMakeLists.txt
  source/api_c/tests/test_dipolecharge.cc
  source/api_cc/include/DataModifier.h
  source/api_cc/include/DeepTensor.h
  source/api_cc/src/DataModifier.cc
  source/api_cc/src/DeepTensor.cc
Labels: C++, C

#2207 merge print_summary and add it to C API
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_c/tests/test_deeppolar_hpp.cc
  source/api_c/tests/test_deeppot_a_hpp.cc
  source/api_c/tests/test_dipolecharge.cc
  source/api_cc/include/common.h
  source/api_cc/src/DataModifier.cc
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepTensor.cc
  source/api_cc/src/common.cc
  source/api_cc/tests/test_deeppolar.cc
  source/api_cc/tests/test_deeppot_a.cc
  source/api_cc/tests/test_dipolecharge.cc
Labels: C++, C
