Repository deepmodeling/deepmd-kit, pull requests merged in 2022-10, with the labels that each got.

#1961 fix compatible with importlib_metadata 5.0.0 and Python 3.12
  deepmd/__init__.py
Labels: Python

#1946 Upload the finetune api
  deepmd/entrypoints/main.py
  deepmd/entrypoints/test.py
  deepmd/entrypoints/train.py
  deepmd/fit/ener.py
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_pot.py
  deepmd/infer/deep_tensor.py
  deepmd/train/run_options.py
  deepmd/train/trainer.py
  deepmd/utils/argcheck.py
  deepmd/utils/finetune.py
  doc/train/finetuning.md
  doc/train/index.md
  doc/train/index.rst
  source/tests/finetune/data/set.000/box.npy
  source/tests/finetune/data/set.000/coord.npy
  source/tests/finetune/data/set.000/energy.npy
  source/tests/finetune/data/set.000/force.npy
  source/tests/finetune/data/type.raw
  source/tests/finetune/data/type_map.raw
  source/tests/finetune/data_mixed_type/set.000/box.npy
  source/tests/finetune/data_mixed_type/set.000/coord.npy
  source/tests/finetune/data_mixed_type/set.000/energy.npy
  source/tests/finetune/data_mixed_type/set.000/force.npy
  source/tests/finetune/data_mixed_type/set.000/real_atom_types.npy
  source/tests/finetune/data_mixed_type/type.raw
  source/tests/finetune/data_mixed_type/type_map.raw
  source/tests/finetune/input_finetune.json
  source/tests/finetune/input_pretrain.json
  source/tests/test_argument_parser.py
  source/tests/test_finetune_se_atten.py
Labels: Python, Docs

#1949 fix googletest download
  source/api_cc/tests/CMakeLists.txt
  source/cmake/googletest.cmake.in
  source/lib/tests/CMakeLists.txt
Labels: Core, C++

#1963 fix typo in the doc of `loc_frame`
  deepmd/descriptor/loc_frame.py
  deepmd/utils/argcheck.py
Labels: Python

#1969 enable gcov for Python tests
  .github/workflows/test_python.yml
  setup.py
  source/CMakeLists.txt
  source/op/CMakeLists.txt
Labels: OP

#1970 support bfloat16
  deepmd/common.py
  deepmd/train/trainer.py
  deepmd/utils/argcheck.py
Labels: Python

#1977 add unittests for LAMMPS pair deepmd
  .github/workflows/build_cc.yml
  deepmd/entrypoints/convert.py
  deepmd/entrypoints/main.py
  source/install/build_cc.sh
  source/install/build_lammps.sh
  source/lmp/plugin/CMakeLists.txt
  source/lmp/tests/.gitignore
  source/lmp/tests/data.lmp
  source/lmp/tests/test_lammps.py
Labels: Python, LAMMPS

#1983 lmp: throw errors when 6-element atomic virial requested
  source/lmp/pair_deepmd.cpp
Labels: LAMMPS

#1986 remove duplicated `convert_13_to_21`
  deepmd/utils/convert.py
Labels: Python

#1992 c++: add clang tests and fix clang errors
  .github/workflows/build_cc.yml
  source/api_cc/src/AtomMap.cc
Labels: C++

#1993 resolve macos clang errors
  source/api_cc/CMakeLists.txt
  source/cmake/Findtensorflow.cmake
  source/ipi/CMakeLists.txt
  source/lmp/plugin/CMakeLists.txt
  source/op/CMakeLists.txt
Labels: OP, C++, LAMMPS, i-Pi

#2013 fix OP_CXX_ABI for TF>=2.9
  source/CMakeLists.txt
  source/api_cc/tests/CMakeLists.txt
  source/cmake/Findtensorflow.cmake
  source/cmake/test_cxx_abi.cpp
  source/cmake/tf_cxx_abi.cpp
Labels: C++

#2012 Fix compatibility with ROCm>=3.5.1; fix typo in hip neighbor_list
  .github/workflows/build_cc.yml
  doc/install/install-from-source.md
  setup.py
  source/cmake/FindROCM.cmake
  source/install/build_cc.sh
  source/lib/src/rocm/CMakeLists.txt
  source/lib/src/rocm/neighbor_list.hip.cu
Labels: Core, ROCM, Docs

#2029 dp test output files: energy per atom, virial per atom
  deepmd/entrypoints/test.py
Labels: Python

#2031 uncouple model precision and interface precision
  source/api_cc/include/DataModifier.h
  source/api_cc/include/DeepPot.h
  source/api_cc/include/DeepTensor.h
  source/api_cc/include/common.h
  source/api_cc/src/DataModifier.cc
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepTensor.cc
  source/api_cc/src/common.cc
  source/api_cc/tests/CMakeLists.txt
  source/api_cc/tests/test_deepdipole.cc
  source/api_cc/tests/test_deeppolar.cc
  source/api_cc/tests/test_deeppot_a.cc
  source/api_cc/tests/test_deeppot_model_devi.cc
  source/api_cc/tests/test_deeppot_r.cc
  source/api_cc/tests/test_dipolecharge.cc
  source/api_cc/tests/test_ewald.cc
  source/api_cc/tests/test_utils.h
  source/cmake/googletest.cmake.in
  source/install/test_cc.sh
  source/install/test_cc_local.sh
Labels: C++

#2032 log HIP_VISIBLE_DEVICES for ROCm
  deepmd/train/run_options.py
Labels: Python
