Repository deepmodeling/deepmd-kit, pull requests merged in 2022-09, with the labels that each got.

#1885 support initilize parameters from a fitting with suffix
  deepmd/fit/dipole.py
  deepmd/fit/ener.py
  deepmd/fit/polar.py
  deepmd/utils/graph.py
Labels: Python

#1886 check/update sel for se_atten
  deepmd/entrypoints/main.py
  deepmd/entrypoints/neighbor_stat.py
  deepmd/entrypoints/train.py
  deepmd/utils/argcheck.py
  deepmd/utils/neighbor_stat.py
  source/tests/test_train.py
Labels: Python

#1887 add examples to cli help
  deepmd/entrypoints/main.py
Labels: Python

#1896 fix DeprecationWarning of imp
  deepmd/env.py
Labels: Python

#1898 bump to C++ 17 for TF 2.10
  .github/workflows/build_wheel.yml
  source/CMakeLists.txt
  source/api_cc/tests/CMakeLists.txt
Labels: C++

#1901 compare converted lr with almost equal
  source/tests/test_compat_input.py
Labels: Python

#1904 add tutorial and publication links to docs
  doc/index.rst
Labels: Docs

#1915 LAMMPS: Use of “override” instead of “virtual”
  source/lmp/compute_deeptensor_atom.h
  source/lmp/fix_dplr.h
  source/lmp/pair_deepmd.h.in
  source/lmp/pppm_dplr.h
Labels: LAMMPS

#1918 Use GeluCustom as operator name
  deepmd/common.py
  source/op/_gelu.py
  source/op/gelu_multi_device.cc
  source/tests/test_activation_fn_gelu.py
Labels: Python, OP

#1919 handle float point error in sys_probs
  deepmd/utils/data_system.py
  source/tests/test_deepmd_data_sys.py
Labels: Python

#1921 highlight LAMMPS codes in doc
  deepmd/nvnmd/entrypoints/wrap.py
  doc/model/dplr.md
  doc/third-party/lammps-command.md
  doc/third-party/lammps.md
  setup.py
Labels: Python, Docs

#1923 enforce type_map change when mixed_type
  deepmd/utils/data.py
Labels: Python

#1941 fix model conversion of 0.12
  deepmd/utils/convert.py
Labels: Python

#1951 fix gcov coverage
  source/api_cc/CMakeLists.txt
  source/api_cc/tests/CMakeLists.txt
  source/cmake/coverage_config/CMakeLists.txt
  source/lib/CMakeLists.txt
  source/lib/tests/CMakeLists.txt
  source/op/CMakeLists.txt
Labels: Core, OP, C++

#1950 perceive LAMMPS version for built-in mode
  doc/install/install-from-source.md
  doc/install/install-lammps.md
  source/lmp/CMakeLists.txt
  source/lmp/env.sh.in
  source/lmp/env_py.sh.in
  source/lmp/lmp_version.sh
  source/lmp/plugin/CMakeLists.txt
Labels: LAMMPS, Docs

#1954 Fix typo of radisu
  deepmd/descriptor/loc_frame.py
  deepmd/descriptor/se_a_ef.py
  deepmd/descriptor/se_r.py
  deepmd/descriptor/se_t.py
Labels: Python

#1956 supports left hands volume
  source/lib/include/SimulationRegion_Impl.h
  source/lib/src/region.cc
Labels: Core
