Repository deepmodeling/deepmd-kit, pull requests merged in 2022-06, with the labels that each got.

#1737 using int64 within the memory allocation operations
  deepmd/descriptor/hybrid.py
  deepmd/descriptor/loc_frame.py
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_a_ebd.py
  deepmd/descriptor/se_a_ef.py
  deepmd/descriptor/se_r.py
  deepmd/descriptor/se_t.py
  deepmd/fit/dipole.py
  deepmd/fit/ener.py
  deepmd/fit/polar.py
  source/lib/include/device.h
  source/lib/include/gelu.h
  source/lib/src/cuda/gelu.cu
  source/lib/src/cuda/prod_env_mat.cu
  source/lib/src/cuda/prod_force.cu
  source/lib/src/cuda/prod_force_grad.cu
  source/lib/src/cuda/prod_virial.cu
  source/lib/src/cuda/prod_virial_grad.cu
  source/lib/src/cuda/tabulate.cu
  source/lib/src/gelu.cc
  source/lib/src/prod_env_mat.cc
  source/lib/src/rocm/gelu.hip.cu
  source/lib/src/rocm/prod_env_mat.hip.cu
  source/lib/src/rocm/prod_force.hip.cu
  source/lib/src/rocm/prod_force_grad.hip.cu
  source/lib/src/rocm/prod_virial.hip.cu
  source/lib/src/rocm/prod_virial_grad.hip.cu
  source/lib/src/rocm/tabulate.hip.cu
  source/op/custom_op.h
  source/op/gelu_multi_device.cc
  source/op/prod_env_mat_multi_device.cc
  source/op/prod_force_grad_multi_device.cc
  source/op/prod_force_multi_device.cc
  source/op/prod_virial_grad_multi_device.cc
  source/op/prod_virial_multi_device.cc
Labels: Python, Core, CUDA, ROCM, OP

#1741 replace GPU 1./sqrt with rsqrt
  source/lib/src/cuda/prod_env_mat.cu
  source/lib/src/rocm/prod_env_mat.hip.cu
Labels: Core, CUDA, ROCM

#1750 add DPRc docs
  README.md
  doc/model/dprc.md
  doc/model/index.md
  doc/model/index.rst
  doc/third-party/out-of-deepmd-kit.md
Labels: Docs

#1752 fix typos in docs and docstrings
  deepmd/common.py
  deepmd/model/model_stat.py
  deepmd/op/__init__.py
  deepmd/utils/batch_size.py
  deepmd/utils/data_system.py
  deepmd/utils/path.py
  deepmd/utils/plugin.py
  doc/development/type-embedding.md
  doc/model/dplr.md
  doc/model/overall.md
  doc/model/train-se-e2-a-tebd.md
  doc/model/train-se-e2-r.md
  doc/model/train-se-e3.md
  doc/third-party/ipi.md
  source/api_cc/include/DeepPot.h
  source/api_cc/include/DeepTensor.h
Labels: Python, C++, Docs

#1753 docs: switch to dargs directive
  doc/conf.py
  doc/train/train-input.rst
  setup.py
Labels: Docs

#1754 docs: fix emoji in PDF
  doc/conf.py
Labels: Docs

#1755 add a script to build TF C++ library from source
  doc/install/install-from-source.md
  source/install/build_tf.py
Labels: Docs

#1765 set a proper std when there is no atoms in the data
  deepmd/descriptor/se_a.py
Labels: Python

#1767 docs: add links to parameter keys
  doc/model/dplr.md
  doc/model/dprc.md
  doc/model/overall.md
  doc/model/train-energy.md
  doc/model/train-fitting-tensor.md
  doc/model/train-hybrid.md
  doc/model/train-se-e2-a-tebd.md
  doc/model/train-se-e2-a.md
  doc/model/train-se-e2-r.md
  doc/model/train-se-e3.md
  doc/train/parallel-training.md
  doc/train/tensorboard.md
  doc/train/training-advanced.md
  doc/train/training.md
Labels: Docs

#1770 add argument tests to check examples
  examples/fparam/train/input.json
  examples/fparam/train/input_aparam.json
  examples/water/se_e2_r/input.json
  examples/water/se_e3/input.json
  source/tests/test_examples.py
Labels: Python, Examples

#1771 reduce training steps in tests
  source/tests/model_compression/input.json
Labels: Python

#1783 deprecated docstring_parameter; use sphinx rst_epilog instead
  deepmd/common.py
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_a_ef.py
  deepmd/descriptor/se_r.py
  deepmd/descriptor/se_t.py
  deepmd/fit/dipole.py
  deepmd/fit/ener.py
  deepmd/fit/polar.py
  deepmd/fit/wfc.py
  deepmd/utils/argcheck.py
  deepmd/utils/type_embed.py
  doc/conf.py
Labels: Python, Docs

#1784 add __init__.py to deepmd/train/
  deepmd/train/__init__.py
Labels: Python

#1785 remove run_doxygen from sphinx conf.py
  doc/conf.py
Labels: Docs

#1779 bump LAMMPS version to stable_23Jun2022
  doc/install/build-conda.md
  doc/install/easy-install.md
  doc/install/install-from-source.md
  doc/install/install-lammps.md
  source/install/build_cc.sh
  source/install/build_lammps.sh
  source/lmp/CMakeLists.txt
Labels: LAMMPS, Docs

#1790 use lru_cache for DeepEval
  deepmd/infer/deep_eval.py
Labels: Python

#1796 bump manylinux image to 2_24; add error message when TF_CXX11_ABI_FLAG is 1
  .github/workflows/build_wheel.yml
  deepmd/env.py
Labels: Python

#1795 support custom gelu implementation
  deepmd/common.py
  deepmd/utils/argcheck.py
Labels: Python
