Repository deepmodeling/deepmd-kit, pull requests merged in 2022-11, with the labels that each got.

#2033 merge double and float cc library
  doc/inference/cxx.md
  source/api_cc/CMakeLists.txt
  source/api_cc/include/AtomMap.h
  source/api_cc/include/DataModifier.h
  source/api_cc/include/DeepPot.h
  source/api_cc/include/DeepTensor.h
  source/api_cc/include/common.h
  source/api_cc/include/version.h.in
  source/api_cc/src/AtomMap.cc
  source/api_cc/src/DataModifier.cc
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepTensor.cc
  source/api_cc/src/common.cc
  source/api_cc/tests/CMakeLists.txt
  source/gmx/patches/2020.2/CMakeLists.txt.patch.in
  source/ipi/CMakeLists.txt
  source/lmp/env.sh.in
  source/lmp/env_py.sh.in
  source/lmp/plugin/CMakeLists.txt
Labels: C++, LAMMPS, Gromacs, Docs, i-Pi

#2035 migrate to PEP 517 and PEP 621
  .github/workflows/build_cc.yml
  .github/workflows/lint_python.yml
  .github/workflows/test_python.yml
  backend/dp_backend.py
  backend/find_tensorflow.py
  doc/development/coding-conventions.rst
  doc/install/install-from-source.md
  pyproject.toml
  requirements.txt
  setup.py
Labels: Docs

#2038 add dp test help doc
  deepmd/entrypoints/main.py
  doc/test/test.md
Labels: Python, Docs

#2049 export c++ library to cmake config
  doc/development/cmake.md
  examples/infer_water/.gitignore
  examples/infer_water/CMakeLists.txt
  examples/infer_water/README.md
  examples/infer_water/infer_water.cpp
  source/CMakeLists.txt
  source/api_cc/CMakeLists.txt
  source/cmake/Config.cmake.in
  source/lib/CMakeLists.txt
  source/lib/src/cuda/CMakeLists.txt
  source/lib/src/rocm/CMakeLists.txt
Labels: Core, CUDA, ROCM, C++, Docs, Examples

#2053 bump lammps to stable_23Jun2022_update2
  doc/install/install-lammps.md
  source/install/build_cc.sh
  source/install/build_lammps.sh
Labels: Docs

#2054 fix python inference on windows
  deepmd/infer/deep_eval.py
Labels: Python

#2056 cmake: set TensorFlow as import libraries
  source/api_cc/CMakeLists.txt
  source/cmake/Findtensorflow.cmake
  source/gmx/.gitignore
  source/gmx/CMakeLists.txt
  source/lmp/plugin/CMakeLists.txt
  source/op/CMakeLists.txt
Labels: OP, C++, LAMMPS, Gromacs

#2055 enable ttm without a patch
  doc/install/install-lammps.md
  source/CMakeLists.txt
  source/install/build_cc.sh
  source/lmp/deepmd_fix_ttm.patch
  source/lmp/env.sh.in
  source/lmp/env_py.sh.in
  source/lmp/fix_ttm_dp.h
  source/lmp/pair_deepmd.cpp
  source/lmp/plugin/CMakeLists.txt
Labels: LAMMPS, Docs

#2059 export C library to cmake config
  doc/development/cmake.md
  examples/infer_water/.gitignore
  examples/infer_water/CMakeLists.txt
  examples/infer_water/README.md
  examples/infer_water/infer_water.c
  source/api_c/CMakeLists.txt
Labels: Docs, Examples, C

#2060 docs: document lammps keyword `relative_v`, `aparam`, and `ttm`
  doc/third-party/lammps-command.md
Labels: Docs

#2061 add get cutoff, numb_types, and type_map to C API
  source/api_c/include/c_api.h
  source/api_c/src/c_api.cc
  source/api_c/tests/test_deeppot_a.cc
Labels: C

#2069 the se-2 descriptor is multi-body
  doc/model/train-se-e2-a.md
Labels: Docs

#2070 fix type hints errors
  deepmd/infer/deep_pot.py
  deepmd/infer/deep_tensor.py
Labels: Python

#2072 build, package, and release C library
  .github/workflows/package_c.yml
  .gitignore
  examples/infer_water/.gitignore
  source/api_c/CMakeLists.txt
  source/install/docker_package_c.sh
  source/install/docker_test_package_c.sh
  source/install/package_c.sh
Labels: C

#2079 add a header-only C++ DeepPot class based on C library
  source/api_c/CMakeLists.txt
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/tests/test_deeppot_a_hpp.cc
  source/api_cc/include/common.h
Labels: C++, C

#2082 dynamically load CUDA runtime library
  source/api_cc/src/common.cc
  source/lib/CMakeLists.txt
  source/lib/src/cuda/CMakeLists.txt
  source/lib/src/cuda/cudart/CMakeLists.txt
  source/lib/src/cuda/cudart/cuda_runtime_10_0.inc
  source/lib/src/cuda/cudart/cuda_runtime_10_1.inc
  source/lib/src/cuda/cudart/cuda_runtime_10_2.inc
  source/lib/src/cuda/cudart/cuda_runtime_11_0.inc
  source/lib/src/cuda/cudart/cuda_runtime_11_2.inc
  source/lib/src/cuda/cudart/cuda_runtime_9_0.inc
  source/lib/src/cuda/cudart/cudart_stub.cc
  source/lib/tests/CMakeLists.txt
Labels: Core, CUDA, C++

#2076 docs: fix HDF5 path
  doc/data/data-conv.md
Labels: Docs

#2091 docs: document pip install
  doc/install/easy-install.md
Labels: Docs

#2098 move run_config.ini into the root directory
  deepmd/.gitignore
  deepmd/env.py
  source/config/CMakeLists.txt
Labels: Python

#2083 add header only library example
  doc/inference/cxx.md
  examples/infer_water/CMakeLists.txt
  examples/infer_water/infer_water_hpp.cpp
Labels: Docs, Examples

#2095 docs: document the conda-forge channel
  README.md
  doc/install/easy-install.md
Labels: Docs

#2102 refactor: merge tests into the main cmake project
  .github/workflows/build_cc.yml
  .github/workflows/test_cc.yml
  source/CMakeLists.txt
  source/api_c/CMakeLists.txt
  source/api_c/tests/CMakeLists.txt
  source/api_cc/CMakeLists.txt
  source/api_cc/tests/CMakeLists.txt
  source/cmake/Findtensorflow.cmake
  source/cmake/googletest.cmake.in
  source/install/build_cc.sh
  source/install/test_cc.sh
  source/install/test_cc_local.sh
  source/lib/CMakeLists.txt
  source/lib/tests/CMakeLists.txt
Labels: Core, C++, C

#2109 fix TF compile warnings about Status::OK
  source/op/optimizer/parallel.cc
  source/op/optimizer/parallel.h
Labels: OP

#2108 merge double and float cc tests
  source/CMakeLists.txt
  source/api_cc/tests/CMakeLists.txt
  source/api_cc/tests/test_deepdipole.cc
  source/api_cc/tests/test_deeppolar.cc
  source/api_cc/tests/test_deeppot_a.cc
  source/api_cc/tests/test_deeppot_model_devi.cc
  source/api_cc/tests/test_deeppot_r.cc
  source/api_cc/tests/test_dipolecharge.cc
  source/api_cc/tests/test_ewald.cc
  source/api_cc/tests/test_utils.h
  source/install/test_cc.sh
  source/install/test_cc_local.sh
Labels: C++

#2110 Fix version 0.12 model conversion
  deepmd/infer/deep_pot.py
  deepmd/utils/convert.py
Labels: Python

#2111 add shuffle_exclude_empty to DeepPot.compute(nlist, atomic)
  source/api_cc/src/DeepPot.cc
  source/api_cc/tests/test_deeppot_a.cc
Labels: C++

#2106 c: support neighbor list input in the C API
  .gitignore
  doc/inference/cxx.md
  examples/infer_water/.gitignore
  examples/infer_water/CMakeLists.txt
  examples/infer_water/infer_water_hpp.cpp
  examples/infer_water/infer_water_nlist.cpp
  source/api_c/include/c_api.h
  source/api_c/include/c_api_internal.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_c/tests/CMakeLists.txt
  source/api_c/tests/test_deeppot_a_hpp.cc
  source/api_c/tests/test_utils.h
Labels: Docs, Examples, C

#2114 docs: fix spellings and grammars
  README.md
  doc/application-examples.md
  doc/data/data-conv.md
  doc/data/dpdata.md
  doc/data/index.md
  doc/data/index.rst
  doc/data/system.md
  doc/development/cmake.md
  doc/development/coding-conventions.rst
  doc/development/create-a-model.md
  doc/development/type-embedding.md
  doc/freeze/compress.md
  doc/index.rst
  doc/inference/cxx.md
  doc/inference/python.md
  doc/install/build-conda.md
  doc/install/easy-install.md
  doc/install/install-from-source.md
  doc/install/install-gromacs.md
  doc/install/install-ipi.md
  doc/install/install-lammps.md
  doc/install/install-tf.1.12.md
  doc/install/install-tf.1.14-gpu.md
  doc/install/install-tf.1.8.md
  doc/install/install-tf.2.8.md
  doc/model/dplr.md
  doc/model/overall.md
  doc/model/sel.md
  doc/model/train-energy.md
  doc/model/train-fitting-tensor.md
  doc/model/train-hybrid.md
  doc/model/train-se-atten.md
  doc/model/train-se-e2-a-tebd.md
  doc/model/train-se-e2-a.md
  doc/nvnmd/nvnmd.md
  doc/test/model-deviation.md
  doc/third-party/gromacs.md
  doc/third-party/ipi.md
  doc/third-party/lammps-command.md
  doc/third-party/lammps.md
  doc/third-party/out-of-deepmd-kit.md
  doc/train/finetuning.md
  doc/train/gpu-limitations.md
  doc/train/parallel-training.md
  doc/train/tensorboard.md
  doc/train/training-advanced.md
  doc/train/training.md
  doc/troubleshooting/howtoset_rcut.md
  doc/troubleshooting/howtoset_sel.md
  doc/troubleshooting/index.md
  doc/troubleshooting/index.rst
  doc/troubleshooting/installation.md
  doc/troubleshooting/md-energy-undulation.md
  doc/troubleshooting/md-version-compatibility.md
  doc/troubleshooting/model-compatability.md
Labels: Docs

#2112 c: support DeepPot model deviation in the C API
  source/api_c/include/c_api.h
  source/api_c/include/c_api_internal.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_c/tests/test_deeppot_model_devi_hpp.cc
Labels: C

#2099 docs: rewrite docs for parallelism
  README.md
  doc/train/parallel-training.md
  doc/train/training-advanced.md
  doc/troubleshooting/howtoset_num_nodes.md
  doc/troubleshooting/index.md
Labels: Docs

#2120 speed up test_neighbor_stat
  source/tests/test_neighbor_stat.py
Labels: Python

#2121 speed up tests with CLI
  deepmd/common.py
  deepmd/entrypoints/main.py
  source/tests/common.py
  source/tests/test_adjust_sel.py
  source/tests/test_finetune_se_atten.py
  source/tests/test_init_frz_model_se_a.py
  source/tests/test_init_frz_model_se_a_type.py
  source/tests/test_init_frz_model_se_atten.py
  source/tests/test_init_frz_model_se_r.py
  source/tests/test_mixed_prec_training.py
  source/tests/test_model_compression_se_a.py
  source/tests/test_model_compression_se_a_type_one_side_exclude_types.py
  source/tests/test_model_compression_se_r.py
  source/tests/test_model_compression_se_t.py
  source/tests/test_transfer.py
Labels: Python

#2122 fix invalid escape sequence in strings
  deepmd/descriptor/se_a_ebd.py
  deepmd/descriptor/se_a_ef.py
  deepmd/descriptor/se_atten.py
  deepmd/descriptor/se_r.py
  deepmd/descriptor/se_t.py
  deepmd/entrypoints/freeze.py
  deepmd/fit/dipole.py
  deepmd/fit/polar.py
  deepmd/loss/ener.py
  deepmd/nvnmd/data/data.py
  deepmd/train/run_options.py
  deepmd/utils/argcheck.py
  deepmd/utils/tabulate.py
  deepmd/utils/type_embed.py
Labels: Python

#2123 add precompile headers
  source/CMakeLists.txt
  source/api_c/tests/CMakeLists.txt
  source/api_cc/CMakeLists.txt
  source/api_cc/tests/CMakeLists.txt
  source/api_cc/tests/test_utils.h
  source/lib/src/cuda/CMakeLists.txt
  source/lib/src/rocm/CMakeLists.txt
  source/op/CMakeLists.txt
  source/op/custom_op.h
Labels: Core, CUDA, ROCM, OP, C++, C

#2128 c: fix bug in hpp float interface and add tests
  source/api_c/include/deepmd.hpp
  source/api_c/tests/CMakeLists.txt
  source/api_c/tests/test_deeppot_a_hpp.cc
  source/api_c/tests/test_deeppot_model_devi_hpp.cc
  source/api_c/tests/test_utils.h
Labels: C

#2131 fix the missing header in api_c tests
  source/api_c/tests/test_utils.h
Labels: C

#2115 docs: add a FAQ about precision
  README.md
  doc/troubleshooting/index.md
  doc/troubleshooting/precision.md
Labels: Docs

#2135 skip `get_gpus` subprocess when TF is cpu only
  deepmd/cluster/local.py
  source/tests/test_cluster.py
Labels: Python

#2093 Upload the multi-task training api
  README.md
  deepmd/descriptor/hybrid.py
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_atten.py
  deepmd/descriptor/se_r.py
  deepmd/descriptor/se_t.py
  deepmd/entrypoints/freeze.py
  deepmd/entrypoints/train.py
  deepmd/env.py
  deepmd/fit/dipole.py
  deepmd/fit/polar.py
  deepmd/fit/wfc.py
  deepmd/loss/ener.py
  deepmd/loss/tensor.py
  deepmd/model/__init__.py
  deepmd/model/multi.py
  deepmd/model/tensor.py
  deepmd/train/trainer.py
  deepmd/utils/argcheck.py
  deepmd/utils/data.py
  deepmd/utils/data_system.py
  doc/freeze/freeze.md
  doc/train/index.md
  doc/train/index.rst
  doc/train/multi-task-training.md
  doc/train/train-input.rst
  examples/water_multi_task/ener_dipole/input.json
  examples/water_tensor/dipole/training_data/atomic_system/type_map.raw
  examples/water_tensor/dipole/training_data/global_system/type_map.raw
  examples/water_tensor/dipole/validation_data/atomic_system/type_map.raw
  examples/water_tensor/dipole/validation_data/global_system/type_map.raw
  examples/water_tensor/polar/training_data/atomic_system/type_map.raw
  examples/water_tensor/polar/training_data/global_system/type_map.raw
  examples/water_tensor/polar/validation_data/atomic_system/type_map.raw
  examples/water_tensor/polar/validation_data/global_system/type_map.raw
  setup.py
  source/tests/polar_se_a_tebd.json
  source/tests/test_dipole_se_a_tebd.py
  source/tests/test_examples.py
  source/tests/test_model_multi.py
  source/tests/test_polar_se_a_tebd.py
  source/tests/water_multi.json
Labels: Python, Docs, Examples

#2139 add Optional to type hints when default is None
  deepmd/common.py
  deepmd/descriptor/descriptor.py
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_a_ebd.py
  deepmd/descriptor/se_a_ef.py
  deepmd/descriptor/se_atten.py
  deepmd/descriptor/se_r.py
  deepmd/descriptor/se_t.py
  deepmd/fit/dipole.py
  deepmd/fit/ener.py
  deepmd/fit/polar.py
  deepmd/model/multi.py
  deepmd/utils/parallel_op.py
  deepmd/utils/path.py
  deepmd/utils/random.py
  deepmd/utils/type_embed.py
Labels: Python

#2140 clean deprecated codes
  deepmd/common.py
  deepmd/descriptor/hybrid.py
  deepmd/descriptor/loc_frame.py
  deepmd/descriptor/se_a_ebd.py
  deepmd/descriptor/se_a_ef.py
  deepmd/descriptor/se_r.py
  deepmd/fit/__init__.py
  deepmd/fit/dipole.py
  deepmd/fit/polar.py
  deepmd/fit/wfc.py
  deepmd/infer/ewald_recp.py
  deepmd/loss/ener.py
  deepmd/loss/tensor.py
  deepmd/model/ener.py
  deepmd/model/tensor.py
  deepmd/train/trainer.py
  deepmd/utils/__init__.py
  deepmd/utils/data.py
  deepmd/utils/data_system.py
  deepmd/utils/learning_rate.py
  source/op/legacy/descrpt_se_a.cc
  source/op/legacy/descrpt_se_r.cc
  source/op/legacy/prod_force_se_a.cc
  source/op/legacy/prod_force_se_r.cc
  source/op/legacy/prod_virial_se_a.cc
  source/op/legacy/prod_virial_se_r.cc
  source/tests/common.py
  source/tests/test_class_arg.py
  source/tests/test_descrpt_se_a_type.py
  source/tests/test_descrpt_se_atten.py
  source/tests/test_dipole_se_a.py
  source/tests/test_dipole_se_a_tebd.py
  source/tests/test_fitting_ener_type.py
  source/tests/test_model_loc_frame.py
  source/tests/test_model_multi.py
  source/tests/test_model_se_a.py
  source/tests/test_model_se_a_aparam.py
  source/tests/test_model_se_a_fparam.py
  source/tests/test_model_se_a_srtab.py
  source/tests/test_model_se_a_type.py
  source/tests/test_model_se_atten.py
  source/tests/test_model_se_r.py
  source/tests/test_model_se_t.py
  source/tests/test_nvnmd_se_a.py
  source/tests/test_polar_se_a.py
  source/tests/test_polar_se_a_tebd.py
  source/tests/test_type_one_side.py
  source/tests/test_wfc.py
Labels: Python, OP
