Repository deepmodeling/deepmd-kit, pull requests merged in 2023-09, with the labels that each got.

#2775 lmp: support `unit real`
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h
  source/lmp/tests/test_lammps.py
Labels: LAMMPS

#2777 lmp: throw error for traditional installation if dependent packages are not installed
  source/lmp/Install.sh
Labels: LAMMPS

#2781 add linear models
  README.md
  deepmd/entrypoints/train.py
  deepmd/infer/__init__.py
  deepmd/infer/deep_dipole.py
  deepmd/infer/deep_dos.py
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_polar.py
  deepmd/infer/deep_pot.py
  deepmd/infer/deep_tensor.py
  deepmd/infer/deep_wfc.py
  deepmd/model/frozen.py
  deepmd/model/linear.py
  deepmd/model/model.py
  deepmd/train/trainer.py
  deepmd/utils/argcheck.py
  doc/getting-started/quick_start.ipynb
  doc/model/index.md
  doc/model/index.rst
  doc/model/linear.md
  examples/water/linear/input.json
  source/tests/test_examples.py
  source/tests/test_linear_model.py
Labels: Python, Docs, Examples

#2778 lmp: add the header for atomic model deviation
  source/lmp/pair_deepmd.cpp
Labels: LAMMPS

#2782 check status of allocate_temp
  source/op/prod_env_mat_multi_device.cc
Labels: OP

#2784 docs: improve checkpoint description
  deepmd/entrypoints/train.py
  deepmd/model/frozen.py
  deepmd/model/linear.py
  deepmd/model/model.py
  deepmd/utils/argcheck.py
  deepmd_cli/main.py
  doc/nvnmd/nvnmd.md
  doc/train/training-advanced.md
Labels: Python, Docs

#2785 fix dp test atomic polar; add UTs for dp test
  deepmd/entrypoints/test.py
  source/tests/test_dp_test.py
Labels: Python

#2790 lmp: add unit_style requirement for compute deeptensor/atom
  source/lmp/compute_deeptensor_atom.cpp
Labels: LAMMPS

#2794 do not sort atoms in dp test
  deepmd/entrypoints/test.py
  deepmd/utils/data.py
  deepmd/utils/data_system.py
  source/tests/test_dp_test.py
Labels: Python

#2776 lmp: `fix_dplr` use the same `type_map` from `pair_deepmd`
  doc/model/dplr.md
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_cc/include/DeepTensor.h
  source/api_cc/src/DeepTensor.cc
  source/lmp/fix_dplr.cpp
  source/lmp/fix_dplr.h
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h
  source/lmp/tests/test_dplr.py
Labels: C++, LAMMPS, Docs, C

#2797 check status of allocate_temp
  source/op/prod_env_mat_multi_device.cc
Labels: OP

#2798 migrate Python build backend to scikit-build-core
  .gitignore
  MANIFEST.in
  backend/__init__.py
  backend/dp_backend.py
  backend/dynamic_metadata.py
  backend/find_tensorflow.py
  backend/read_env.py
  deepmd/.gitignore
  deepmd/env.py
  deepmd/lmp.py
  deepmd/op/_add_flt_nvnmd_grad.py
  deepmd/op/_copy_flt_nvnmd_grad.py
  deepmd/op/_dotmul_flt_nvnmd_grad.py
  deepmd/op/_flt_nvnmd_grad.py
  deepmd/op/_gelu.py
  deepmd/op/_map_flt_nvnmd_grad.py
  deepmd/op/_matmul_fitnet_nvnmd_grad.py
  deepmd/op/_matmul_flt2fix_nvnmd.py
  deepmd/op/_matmul_flt_nvnmd_grad.py
  deepmd/op/_mul_flt_nvnmd_grad.py
  deepmd/op/_prod_force_grad.py
  deepmd/op/_prod_force_se_a_grad.py
  deepmd/op/_prod_force_se_a_mask_grad.py
  deepmd/op/_prod_force_se_r_grad.py
  deepmd/op/_prod_virial_grad.py
  deepmd/op/_prod_virial_se_a_grad.py
  deepmd/op/_prod_virial_se_r_grad.py
  deepmd/op/_quantize_nvnmd_grad.py
  deepmd/op/_soft_min_force_grad.py
  deepmd/op/_soft_min_virial_grad.py
  deepmd/op/_tabulate_grad.py
  deepmd/op/_tanh4_flt_nvnmd_grad.py
  deepmd_cli/main.py
  pyproject.toml
  setup.py
  source/api_c/CMakeLists.txt
  source/api_cc/CMakeLists.txt
  source/config/CMakeLists.txt
  source/config/__init__.py
  source/ipi/CMakeLists.txt
  source/lib/CMakeLists.txt
  source/lib/src/cuda/CMakeLists.txt
  source/lib/src/cuda/cudart/CMakeLists.txt
  source/lib/src/rocm/CMakeLists.txt
  source/lmp/plugin/CMakeLists.txt
  source/op/CMakeLists.txt
Labels: Python, Core, CUDA, ROCM, OP, C++, LAMMPS, i-Pi, C

#2802 fix np.loadtxt DeprecationWarning
  deepmd/utils/data.py
Labels: Python

#2801 support atomic/relative model deviation in CLI
  deepmd/infer/model_devi.py
  deepmd_cli/main.py
  doc/test/model-deviation.md
  doc/third-party/lammps-command.md
  pyproject.toml
  source/tests/test_model_devi.py
Labels: Python, Docs

#2805 docs: add doc to install cmake
  doc/install/install-from-source.md
Labels: Docs

#2806 docs: add docs for addtional CMake arguments via pip
  doc/install/install-from-source.md
Labels: Docs

#2807 ignore drdq when generalized force loss is not set
  deepmd/loss/ener.py
Labels: Python

#2814 `ndarray.tostring` -> `ndarray.tobytes`
  deepmd/entrypoints/transfer.py
Labels: Python

#2815 `tf.accumulate_n` -> `tf.add_n`
  deepmd/descriptor/se_a.py
Labels: Python

#2816 `tf.test.TestCase.test_session` -> `tf.test.TestCase.cached_session`
  source/tests/test_activation_fn_gelu.py
  source/tests/test_data_large_batch.py
  source/tests/test_data_modifier.py
  source/tests/test_data_modifier_shuffle.py
  source/tests/test_descrpt_hybrid.py
  source/tests/test_descrpt_nonsmth.py
  source/tests/test_descrpt_se_a_mask.py
  source/tests/test_descrpt_se_a_type.py
  source/tests/test_descrpt_se_atten.py
  source/tests/test_descrpt_se_r.py
  source/tests/test_descrpt_sea_ef.py
  source/tests/test_descrpt_sea_ef_para.py
  source/tests/test_descrpt_sea_ef_rot.py
  source/tests/test_descrpt_sea_ef_vert.py
  source/tests/test_descrpt_smooth.py
  source/tests/test_dipole_se_a.py
  source/tests/test_dipole_se_a_tebd.py
  source/tests/test_embedding_net.py
  source/tests/test_ewald.py
  source/tests/test_fitting_dos.py
  source/tests/test_fitting_ener_type.py
  source/tests/test_layer_name.py
  source/tests/test_linear_model.py
  source/tests/test_model_dos.py
  source/tests/test_model_loc_frame.py
  source/tests/test_model_multi.py
  source/tests/test_model_se_a.py
  source/tests/test_model_se_a_aparam.py
  source/tests/test_model_se_a_ebd.py
  source/tests/test_model_se_a_fparam.py
  source/tests/test_model_se_a_srtab.py
  source/tests/test_model_se_a_type.py
  source/tests/test_model_se_atten.py
  source/tests/test_model_se_r.py
  source/tests/test_model_se_t.py
  source/tests/test_model_spin.py
  source/tests/test_nvnmd_entrypoints.py
  source/tests/test_nvnmd_op.py
  source/tests/test_pairwise_dprc.py
  source/tests/test_polar_se_a.py
  source/tests/test_polar_se_a_tebd.py
  source/tests/test_prod_env_mat.py
  source/tests/test_prod_force.py
  source/tests/test_prod_force_grad.py
  source/tests/test_prod_virial.py
  source/tests/test_prod_virial_grad.py
  source/tests/test_tab_nonsmth.py
  source/tests/test_tab_smooth.py
  source/tests/test_type_embed.py
  source/tests/test_type_one_side.py
Labels: Python

#2819 lmp: let fparam_do_compute not execute by default
  source/lmp/pair_deepmd.cpp
Labels: LAMMPS

#2796 fix grammatical errors
  doc/development/type-embedding.md
Labels: Docs

#2823 improve configurations of Python lint tools
  .pre-commit-config.yaml
  data/raw/shuffle_raw.py
  deepmd/calculator.py
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_a_ebd.py
  deepmd/descriptor/se_a_mask.py
  deepmd/descriptor/se_atten.py
  deepmd/descriptor/se_r.py
  deepmd/descriptor/se_t.py
  deepmd/entrypoints/ipi.py
  deepmd/fit/dos.py
  deepmd/infer/deep_tensor.py
  deepmd/loss/ener.py
  deepmd/model/model_stat.py
  deepmd/nvnmd/entrypoints/wrap.py
  deepmd/train/run_options.py
  deepmd/train/trainer.py
  deepmd/utils/argcheck.py
  deepmd/utils/data_system.py
  deepmd/utils/finetune.py
  deepmd/utils/multi_init.py
  deepmd/utils/network.py
  deepmd/utils/path.py
  deepmd/utils/spin.py
  deepmd_cli/main.py
  pyproject.toml
  source/install/build_tf.py
  source/tests/common.py
  source/tests/test_argument_parser.py
  source/tests/test_descrpt_sea_ef_rot.py
  source/tests/test_fitting_stat.py
Labels: Python

#2821 add citation for fparam
  CITATIONS.bib
  doc/credits.rst
Labels: Docs

#2818 make pairwise_dprc model work with MPI
  deepmd/descriptor/se_a_mask.py
  deepmd/entrypoints/freeze.py
  deepmd/model/pairwise_dprc.py
  source/api_c/include/c_api.h
  source/api_c/include/c_api_internal.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_c/tests/test_deeppot_a_fparam_aparam.cc
  source/api_cc/include/DeepPot.h
  source/api_cc/include/common.h
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/common.cc
  source/lib/src/pairwise.cc
  source/op/pairwise.cc
  source/tests/infer/pairwise_dprc.pbtxt
  source/tests/test_pairwise_dprc.py
Labels: Python, Core, OP, C++, C

#2800 lmp: support other units for both pair deepmd and fix dplr
  doc/third-party/lammps-command.md
  source/lmp/compute_deeptensor_atom.cpp
  source/lmp/compute_deeptensor_atom.h
  source/lmp/fix_dplr.cpp
  source/lmp/fix_dplr.h
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h
  source/lmp/tests/constants.py
  source/lmp/tests/test_deeptensor.py
  source/lmp/tests/test_dplr.py
  source/lmp/tests/test_lammps.py
  source/lmp/tests/write_lmp_data.py
Labels: LAMMPS, Docs

#2828 fix CTest
  source/api_c/tests/CMakeLists.txt
  source/api_cc/CMakeLists.txt
  source/api_cc/tests/CMakeLists.txt
  source/install/test_cc.sh
  source/install/test_cc_local.sh
Labels: C++, C

#2830 use parse_version from packaging.version instead of pkg_resources
  source/tests/test_pairwise_dprc.py
Labels: Python

#2825 add citation for `aparam`
  CITATIONS.bib
  doc/credits.rst
Labels: Docs

#2820 Fix invalid escape sequence
  deepmd/utils/argcheck.py
  deepmd/utils/convert.py
Labels: Python

#2833 make the pairwise DPRc model 2x faster
  deepmd/model/pairwise_dprc.py
  source/lib/include/gpu_rocm.h
  source/op/pairwise.cc
  source/op/prod_env_mat_multi_device.cc
  source/tests/test_pairwise_dprc.py
Labels: Python, Core, OP

#2839 remove `_cuda` or `_rocm` suffix
  source/lib/include/coord.h
  source/lib/include/fmt_nlist.h
  source/lib/include/gelu.h
  source/lib/include/neighbor_list.h
  source/lib/include/prod_env_mat.h
  source/lib/include/prod_force.h
  source/lib/include/prod_force_grad.h
  source/lib/include/prod_virial.h
  source/lib/include/prod_virial_grad.h
  source/lib/include/region.h
  source/lib/include/tabulate.h
  source/lib/src/cuda/gelu.cu
  source/lib/src/cuda/neighbor_list.cu
  source/lib/src/cuda/prod_env_mat.cu
  source/lib/src/cuda/prod_force.cu
  source/lib/src/cuda/prod_force_grad.cu
  source/lib/src/cuda/prod_virial.cu
  source/lib/src/cuda/prod_virial_grad.cu
  source/lib/src/cuda/tabulate.cu
  source/lib/src/rocm/coord.hip.cu
  source/lib/src/rocm/gelu.hip.cu
  source/lib/src/rocm/neighbor_list.hip.cu
  source/lib/src/rocm/prod_env_mat.hip.cu
  source/lib/src/rocm/prod_force.hip.cu
  source/lib/src/rocm/prod_force_grad.hip.cu
  source/lib/src/rocm/prod_virial.hip.cu
  source/lib/src/rocm/prod_virial_grad.hip.cu
  source/lib/src/rocm/region.hip.cu
  source/lib/src/rocm/tabulate.hip.cu
  source/lib/tests/test_coord.cc
  source/lib/tests/test_env_mat_a.cc
  source/lib/tests/test_env_mat_a_mix.cc
  source/lib/tests/test_env_mat_r.cc
  source/lib/tests/test_fmt_nlist.cc
  source/lib/tests/test_gelu.cc
  source/lib/tests/test_neighbor_list.cc
  source/lib/tests/test_prod_force_a.cc
  source/lib/tests/test_prod_force_grad_a.cc
  source/lib/tests/test_prod_force_grad_r.cc
  source/lib/tests/test_prod_force_r.cc
  source/lib/tests/test_prod_virial_a.cc
  source/lib/tests/test_prod_virial_grad_a.cc
  source/lib/tests/test_prod_virial_grad_r.cc
  source/lib/tests/test_prod_virial_r.cc
  source/lib/tests/test_simulation_region.cc
  source/lib/tests/test_tabulate_se_a.cc
  source/lib/tests/test_tabulate_se_r.cc
  source/lib/tests/test_tabulate_se_t.cc
  source/op/gelu_multi_device.cc
  source/op/prod_env_mat_multi_device.cc
  source/op/prod_force_grad_multi_device.cc
  source/op/prod_force_multi_device.cc
  source/op/prod_virial_grad_multi_device.cc
  source/op/prod_virial_multi_device.cc
  source/op/tabulate_multi_device.cc
Labels: Core, CUDA, ROCM, OP

#2845 merge CUDA and ROCm in header files
  source/lib/include/coord.h
  source/lib/include/fmt_nlist.h
  source/lib/include/gelu.h
  source/lib/include/neighbor_list.h
  source/lib/include/prod_env_mat.h
  source/lib/include/prod_env_mat_nvnmd.h
  source/lib/include/prod_force.h
  source/lib/include/prod_force_grad.h
  source/lib/include/prod_virial.h
  source/lib/include/prod_virial_grad.h
  source/lib/include/region.h
  source/lib/include/tabulate.h
Labels: Core

#2846 merge CUDA and ROCm codes in tests
  source/lib/tests/test_coord.cc
  source/lib/tests/test_env_mat_a.cc
  source/lib/tests/test_env_mat_a_mix.cc
  source/lib/tests/test_env_mat_r.cc
  source/lib/tests/test_fmt_nlist.cc
  source/lib/tests/test_gelu.cc
  source/lib/tests/test_neighbor_list.cc
  source/lib/tests/test_prod_force_a.cc
  source/lib/tests/test_prod_force_grad_a.cc
  source/lib/tests/test_prod_force_grad_r.cc
  source/lib/tests/test_prod_force_r.cc
  source/lib/tests/test_prod_virial_a.cc
  source/lib/tests/test_prod_virial_grad_a.cc
  source/lib/tests/test_prod_virial_grad_r.cc
  source/lib/tests/test_prod_virial_r.cc
  source/lib/tests/test_simulation_region.cc
  source/lib/tests/test_tabulate_se_a.cc
  source/lib/tests/test_tabulate_se_r.cc
  source/lib/tests/test_tabulate_se_t.cc
Labels: Core

#2832 prod_env_mat: allocate GPU memory out of frame loop
  source/op/prod_env_mat_multi_device.cc
Labels: OP

#2850 fix missing version file with setuptools-scm v8
  deepmd/__init__.py
  deepmd_cli/main.py
  pyproject.toml
Labels: Python

#2848 add test cuda workflow
  .github/workflows/remove_test_cuda_label.yml
  .github/workflows/test_cuda.yml
  doc/development/cicd.md
  doc/index.rst
  source/install/test_cc.sh
  source/install/test_cc_local.sh
  source/lmp/plugin/CMakeLists.txt
Labels: LAMMPS, Docs, Test CUDA

#2853 fix compatibility with NumPy 1.26
  deepmd/env.py
Labels: Python

#2855 docs: rewrite coding conventions
  doc/development/coding-conventions.rst
Labels: Docs

#2854 refactor convert
  deepmd/utils/convert.py
  source/tests/test_deeppot_a.py
Labels: Python

#2859 bump LAMMPS version to stable_2Aug2023_update1
  backend/dynamic_metadata.py
  doc/install/install-lammps.md
  pyproject.toml
  source/install/build_cc.sh
  source/install/build_from_c.sh
  source/install/build_lammps.sh
  source/install/test_cc.sh
  source/install/test_cc_local.sh
Labels: Docs

#2857 cmake: use modern `HIP` language
  backend/read_env.py
  doc/install/install-from-source.md
  source/CMakeLists.txt
  source/cmake/FindROCM.cmake
  source/lib/CMakeLists.txt
  source/lib/src/gpu/CMakeLists.txt
Labels: Core, CUDA, ROCM, Docs

#2860 fix finetune RMSE and memory issue
  deepmd/fit/ener.py
Labels: Python

#2864 fix the issue of applying modifier multiple times when batch set is load only once
  deepmd/utils/data.py
Labels: Python

#2847 merge CUDA and ROCm codes in op
  source/lib/include/gpu_cuda.h
  source/lib/include/gpu_rocm.h
  source/op/gelu_multi_device.cc
  source/op/prod_env_mat_multi_device.cc
  source/op/prod_env_mat_multi_device_nvnmd.cc
  source/op/prod_force_grad_multi_device.cc
  source/op/prod_force_multi_device.cc
  source/op/prod_virial_grad_multi_device.cc
  source/op/prod_virial_multi_device.cc
  source/op/tabulate_multi_device.cc
  source/op/unaggregated_grad.cc
Labels: Core, OP

#2831 nvnmd: update doc and fix bug in map_flt_nvnmd.cc
  doc/nvnmd/nvnmd.md
  pyproject.toml
  source/op/map_flt_nvnmd.cc
Labels: OP, Docs

#2841 apply compression for se_e2_a_tebd
  deepmd/descriptor/__init__.py
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_a_ebd_v2.py
  deepmd/descriptor/se_a_mask.py
  deepmd/descriptor/se_atten.py
  deepmd/utils/argcheck.py
  deepmd/utils/compress.py
  deepmd/utils/tabulate.py
  examples/water/se_e2_a_tebd/input.json
  source/tests/test_model_compression_se_a_ebd.py
  source/tests/test_model_compression_se_a_ebd_type_one_side.py
  source/tests/test_model_se_a_ebd_v2.py
Labels: Python, Examples

#2874 docs: update DPRc examples to make it compressible
  doc/model/dprc.md
  examples/dprc/generalized_force/input.json
  examples/dprc/normal/input.json
Labels: Docs, Examples

#2880 docs: add easy install development version
  README.md
  doc/development/cicd.md
  doc/install/easy-install-dev.md
  doc/install/index.md
  doc/install/index.rst
Labels: Docs

#2878 forward GPU error message
  source/lib/include/gpu_cuda.h
  source/lib/include/gpu_rocm.h
Labels: Core
