Repository deepmodeling/deepmd-kit, pull requests merged in 2023-03, with the labels that each got.

#2355 fix `TestReadFileToString.readfiletostring`
  source/api_cc/tests/test_read_file_to_string.cc
Labels: C++

#2357 fix ROCm tabulate_fusion_se_a_grad_fifth_order_polynomial
  source/lib/src/rocm/tabulate.hip.cu
Labels: Core, ROCM

#2358 fix: add declaration of strlen to deepmd.hpp
  source/api_c/include/deepmd.hpp
Labels: C

#2345 support mixed numbers of atoms with mixed_type
  deepmd/descriptor/se_atten.py
  deepmd/fit/ener.py
  source/lib/include/neighbor_list.h
  source/lib/src/cuda/neighbor_list.cu
  source/lib/src/cuda/prod_env_mat.cu
  source/lib/src/fmt_nlist.cc
  source/lib/src/prod_env_mat.cc
  source/lib/src/rocm/neighbor_list.hip.cu
  source/lib/src/rocm/prod_env_mat.hip.cu
  source/op/prod_env_mat_multi_device.cc
  source/tests/infer/virtual_type.pbtxt
  source/tests/test_virtual_type.py
Labels: Python, Core, CUDA, ROCM, OP

#2351 fix C++ inference of multiple frames with fparam/aparam
  source/api_cc/include/DeepPot.h
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/common.cc
  source/api_cc/tests/test_deeppot_a_fparam_aparam.cc
  source/api_cc/tests/test_deeppot_a_fparam_aparam_nframes.cc
  source/tests/infer/fparam_aparam.pbtxt
  source/tests/test_deeppot_a.py
Labels: Python, C++

#2360 add C++/C/hpp mixed type inference interface
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_c/tests/test_mixed_type.cc
  source/api_cc/include/DeepPot.h
  source/api_cc/include/common.h
  source/api_cc/src/AtomMap.cc
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/common.cc
  source/api_cc/tests/test_mixed_type.cc
Labels: C++, C

#2362 add an URL to the warning of parallelism
  deepmd/env.py
  source/api_cc/src/common.cc
Labels: Python, C++

#2361 add Optional to type hints when default is None
  deepmd/descriptor/hybrid.py
  deepmd/descriptor/loc_frame.py
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_a_ebd.py
  deepmd/descriptor/se_a_ef.py
  deepmd/descriptor/se_a_mask.py
  deepmd/descriptor/se_r.py
  deepmd/descriptor/se_t.py
  deepmd/fit/dipole.py
  deepmd/fit/ener.py
  deepmd/fit/polar.py
  deepmd/infer/deep_eval.py
  deepmd/loss/ener.py
  deepmd/model/ener.py
  deepmd/model/tensor.py
  deepmd/utils/argcheck.py
  deepmd/utils/data.py
  deepmd/utils/data_system.py
  deepmd/utils/learning_rate.py
  source/install/build_tf.py
Labels: Python

#2353 Test se_a_ebd to increase test coverage
  source/tests/test_model_se_a_ebd.py
  source/tests/water_se_a_ebd.json
Labels: Python

#2375 enable openmp for gelu
  source/lib/src/gelu.cc
Labels: Core

#2376 Add docs for 'None' activation functions.
  deepmd/common.py
  deepmd/utils/argcheck.py
Labels: Python

#2391 link op library with protobuf
  source/op/CMakeLists.txt
Labels: OP

#2390 atype_filter should have the shape of nloc
  deepmd/fit/ener.py
Labels: Python

#2397 Fix incompatibility after fixing the incontinuity of se_atten
  deepmd/descriptor/se_atten.py
  deepmd/utils/argcheck.py
Labels: Python

#2366 support mixed natoms training
  deepmd/utils/data.py
  deepmd/utils/neighbor_stat.py
  doc/model/train-se-atten.md
  source/op/neighbor_stat.cc
  source/tests/common.py
  source/tests/test_virtual_type.py
Labels: Python, OP, Docs

#2372 support mixed systems training
  deepmd/utils/argcheck.py
  deepmd/utils/data_system.py
  examples/nopbc/mixed/input.json
  source/tests/test_deepmd_data_sys.py
Labels: Python, Examples

#2401 fix pdf docs
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_a_mask.py
  deepmd/fit/ener.py
  deepmd/utils/network.py
  doc/conf.py
Labels: Python, Docs

#2400 clean old handlers before adding new one
  deepmd/loggers/loggers.py
Labels: Python

#2402 Merge devel into master
  .github/workflows/build_wheel.yml
  .github/workflows/package_c.yml
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_a_mask.py
  deepmd/descriptor/se_atten.py
  deepmd/fit/ener.py
  deepmd/loggers/loggers.py
  deepmd/utils/argcheck.py
  deepmd/utils/data.py
  deepmd/utils/data_system.py
  deepmd/utils/neighbor_stat.py
  deepmd/utils/network.py
  doc/conf.py
  doc/model/train-se-atten.md
  examples/nopbc/mixed/input.json
  source/op/CMakeLists.txt
  source/op/neighbor_stat.cc
  source/tests/common.py
  source/tests/test_deepmd_data_sys.py
  source/tests/test_virtual_type.py
Labels: Python, OP, Docs, Examples

#2404 fix typo
  deepmd/descriptor/descriptor.py
  deepmd/utils/argcheck.py
Labels: Python

#2415 C API: support fparam and aparam for DeepPot
  source/api_c/include/c_api.h
  source/api_c/include/c_api_internal.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_c/tests/test_deeppot_a_fparam_aparam.cc
  source/api_c/tests/test_deeppot_a_fparam_aparam_nframes.cc
Labels: C

#2417 fix lmp_version.sh
  source/lmp/lmp_version.sh
Labels: LAMMPS

#2412 add read_file_to_string to C API
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_c/tests/test_read_file_to_string.cc
Labels: C

#2420 `source` a relative path
  source/lmp/Install.sh
Labels: LAMMPS

#2422 bump to TF 2.12
  .github/workflows/build_cc.yml
  .github/workflows/build_wheel.yml
  .github/workflows/package_c.yml
  .github/workflows/test_cc.yml
  .github/workflows/test_python.yml
  doc/install/install-from-source.md
  doc/install/install-lammps.md
  setup.py
  source/install/build_cc.sh
  source/install/docker_package_c.sh
  source/install/package_c.sh
  source/install/test_cc_local.sh
Labels: Docs

#2427 support xla for CUDA pip packages
  deepmd/env.py
  setup.py
Labels: Python

#2428 set mixed_type to True for mixed systems
  deepmd/descriptor/se_atten.py
  deepmd/utils/data_system.py
Labels: Python

#2348 Support different learning rate settings for each fitting net in multi-task mode
  deepmd/entrypoints/freeze.py
  deepmd/train/trainer.py
  deepmd/utils/argcheck.py
  deepmd/utils/multi_init.py
  source/tests/test_init_frz_model_multi.py
  source/tests/water_multi.json
Labels: Python

#2430 nvnmd: fix some warnings about matmul_flt_nvnmd
  source/op/matmul_flt_nvnmd.cc
  source/tests/test_nvnmd_op.py
  source/tests/test_nvnmd_se_a.py
Labels: Python, OP
