Repository deepmodeling/deepmd-kit, pull requests merged in 2023-08, with the labels that each got.

#2710 add args decorator for fitting and loss
  deepmd/utils/argcheck.py
Labels: Python

#2711 update citation information
  CITATIONS.bib
  README.md
  deepmd/train/run_options.py
  doc/credits.rst
  doc/index.rst
  source/lmp/pair_deepmd.cpp
Labels: Python, LAMMPS, Docs

#2716 make only the local GPU visible
  deepmd/train/run_options.py
Labels: Python

#2714 raise error if both v1 and v2 parameters are given
  deepmd/utils/compat.py
Labels: Python

#2717 bump lammps to stable_2Aug2023
  doc/install/install-lammps.md
  pyproject.toml
  setup.py
  source/install/build_cc.sh
  source/install/build_from_c.sh
  source/install/build_lammps.sh
  source/install/test_cc.sh
  source/install/test_cc_local.sh
  source/lmp/tests/test_deeptensor.py
  source/lmp/tests/test_dplr.py
  source/lmp/tests/test_lammps.py
  source/lmp/tests/test_lammps_3types.py
Labels: LAMMPS, Docs

#2732 support mapping to ghost type
  doc/third-party/lammps-command.md
  source/lmp/pair_deepmd.cpp
Labels: LAMMPS, Docs

#2731 fix bug in deepmd.infer.deep_pot.DeepPot
  deepmd/infer/deep_pot.py
Labels: Python

#2747 Added atomic dipole to test.py
  deepmd/entrypoints/test.py
Labels: Python

#2757 feat: calculate the real error in dp model-devi
  deepmd/infer/model_devi.py
  deepmd_cli/main.py
  source/tests/test_model_devi.py
Labels: Python

#2756 breaking: dp test all data
  deepmd/entrypoints/test.py
  deepmd_cli/main.py
Labels: Python

#2760 enable check_json hook
  .pre-commit-config.yaml
  examples/dos/train/input.json
  examples/dprc/generalized_force/input.json
  examples/dprc/normal/input.json
  examples/dprc/pairwise/input.json
  examples/fparam/train/input.json
  examples/fparam/train/input_aparam.json
  examples/nopbc/mixed/input.json
  examples/nopbc/train/input.json
  examples/spin/se_e2_a/input.json
  examples/water/dplr/train/dw.json
  examples/water/dplr/train/ener.json
  examples/water/hybrid/input.json
  examples/water/se_atten/input.json
  examples/water/se_atten_compressible/input.json
  examples/water/se_atten_dpa1_compat/input.json
  examples/water/se_e2_a/input.json
  examples/water/se_e2_a_mixed_prec/input.json
  examples/water/se_e2_a_tebd/input.json
  examples/water/se_e2_r/input.json
  examples/water/se_e3/input.json
  examples/water/zbl/input.json
  examples/water_multi_task/ener_dipole/input.json
  examples/water_tensor/dipole/dipole_input.json
  examples/water_tensor/polar/polar_input.json
  examples/zinc_protein/zinc_se_a_mask.json
  source/tests/compat_inputs/water_se_a_v0.json
  source/tests/compat_inputs/water_v0.json
  source/tests/data_modifier/dipole.json
  source/tests/finetune/input_finetune.json
  source/tests/finetune/input_pretrain.json
  source/tests/init_frz_model/input.json
  source/tests/model_compression/input.json
  source/tests/pairwise_dprc.json
  source/tests/polar_se_a.json
  source/tests/polar_se_a_tebd.json
  source/tests/train_dos.json
  source/tests/water.json
  source/tests/water_hybrid.json
  source/tests/water_layer_name.json
  source/tests/water_multi.json
  source/tests/water_se_a.json
  source/tests/water_se_a_afparam.json
  source/tests/water_se_a_aparam.json
  source/tests/water_se_a_ebd.json
  source/tests/water_se_a_fparam.json
  source/tests/water_se_a_srtab.json
  source/tests/water_se_a_type.json
  source/tests/water_se_atten.json
  source/tests/water_se_atten_compressible_mixed_type.json
  source/tests/water_se_atten_mixed_type.json
  source/tests/water_se_r.json
  source/tests/water_se_t.json
  source/tests/wfc.json
  source/tests/zinc_se_a_mask.json
Labels: Python, Examples

#2769 Use `module.__path__[0]` instead of `module.__file__`
  deepmd/env.py
Labels: Python

#2755 Change the smooth method in se_atten descriptor
  README.md
  deepmd/descriptor/__init__.py
  deepmd/descriptor/se_atten.py
  deepmd/descriptor/se_atten_v2.py
  deepmd/entrypoints/train.py
  deepmd/utils/argcheck.py
  deepmd/utils/finetune.py
  doc/credits.rst
  doc/freeze/compress.md
  doc/model/dprc.md
  doc/model/index.md
  doc/model/train-se-atten.md
  doc/train/multi-task-training.md
  examples/dprc/generalized_force/input.json
  examples/dprc/normal/input.json
  examples/dprc/pairwise/input.json
  examples/water/se_atten/input.json
  examples/water/se_atten_compressible/input.json
  source/lib/src/cuda/tabulate.cu
  source/lib/src/rocm/tabulate.hip.cu
  source/lib/src/tabulate.cc
  source/lib/tests/test_tabulate_se_a.cc
  source/tests/pairwise_dprc.json
  source/tests/test_data_large_batch.py
  source/tests/test_descrpt_se_atten.py
  source/tests/test_model_compression_se_atten.py
  source/tests/test_model_se_atten.py
Labels: Python, Core, CUDA, ROCM, Docs, Examples
