Repository deepmodeling/deepmd-kit, pull requests merged in 2023-02, with the labels that each got.

#2288 fix: provide get_nlist method for hybrid descriptor
  deepmd/descriptor/hybrid.py
Labels: Python

#2295 fix deprecated `logging.warn`
  deepmd/env.py
Labels: Python

#2296 fix the installation path of `dp_ipi`
  .github/workflows/build_cc.yml
  source/ipi/CMakeLists.txt
Labels: i-Pi

#2298 fix docstrings to follow the numpydoc style guide
  .pre-commit-config.yaml
  backend/find_tensorflow.py
  deepmd/common.py
  deepmd/descriptor/descriptor.py
  deepmd/descriptor/hybrid.py
  deepmd/descriptor/loc_frame.py
  deepmd/descriptor/se.py
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_a_ebd.py
  deepmd/descriptor/se_a_ef.py
  deepmd/descriptor/se_atten.py
  deepmd/descriptor/se_r.py
  deepmd/descriptor/se_t.py
  deepmd/entrypoints/config.py
  deepmd/entrypoints/main.py
  deepmd/entrypoints/test.py
  deepmd/entrypoints/train.py
  deepmd/fit/dipole.py
  deepmd/fit/ener.py
  deepmd/fit/polar.py
  deepmd/infer/__init__.py
  deepmd/infer/data_modifier.py
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_pot.py
  deepmd/infer/deep_tensor.py
  deepmd/infer/ewald_recp.py
  deepmd/infer/model_devi.py
  deepmd/loggers/loggers.py
  deepmd/model/model_stat.py
  deepmd/nvnmd/utils/fio.py
  deepmd/train/run_options.py
  deepmd/utils/compat.py
  deepmd/utils/convert.py
  deepmd/utils/data.py
  deepmd/utils/data_system.py
  deepmd/utils/finetune.py
  deepmd/utils/graph.py
  deepmd/utils/learning_rate.py
  deepmd/utils/multi_init.py
  deepmd/utils/neighbor_stat.py
  deepmd/utils/network.py
  deepmd/utils/pair_tab.py
  deepmd/utils/sess.py
  deepmd/utils/type_embed.py
  source/install/build_tf.py
Labels: Python

#2297 docs: add the logo
  README.md
  doc/conf.py
  doc/logo.md
  doc/logo.svg
Labels: Docs

#2300 Change gridcomm into grid3d in pppm_dplr.cpp to support LAMMPS after 20221222
  source/lmp/pppm_dplr.cpp
Labels: LAMMPS

#2301 dark mode for the logo
  README.md
  doc/_static/css/custom.css
  doc/_static/logo-dark.svg
  doc/_static/logo.svg
  doc/conf.py
  doc/index.rst
  doc/logo.md
Labels: Docs

#2302 Fix bugs #2284 when using hybrid descriptor with se_atten
  deepmd/train/trainer.py
Labels: Python

#2305 support multiple frames with C++ DeepPot
  source/api_cc/include/AtomMap.h
  source/api_cc/include/DeepPot.h
  source/api_cc/include/common.h
  source/api_cc/src/AtomMap.cc
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/common.cc
  source/api_cc/tests/test_deeppot_a_nframes.cc
  source/api_cc/tests/test_utils.h
Labels: C++

#2306 Cleanup with flake8 E and F rule sets
  .pre-commit-config.yaml
  deepmd/entrypoints/compress.py
  deepmd/entrypoints/test.py
  deepmd/entrypoints/transfer.py
  deepmd/fit/polar.py
  deepmd/infer/deep_pot.py
  deepmd/infer/deep_tensor.py
  deepmd/nvnmd/entrypoints/mapt.py
  deepmd/nvnmd/utils/config.py
  deepmd/train/trainer.py
  deepmd/utils/argcheck.py
  deepmd/utils/data.py
  deepmd/utils/graph.py
  deepmd/utils/network.py
  doc/conf.py
  doc/sphinx_contrib_exhale_multiproject.py
  pyproject.toml
  source/tests/common.py
  source/tests/test_data_large_batch.py
  source/tests/test_deepmd_data_sys.py
  source/tests/test_descrpt_se_atten.py
  source/tests/test_embedding_net.py
  source/tests/test_model_se_a.py
  source/tests/test_model_se_atten.py
  source/tests/test_nvnmd_op.py
Labels: Python, Docs

#2308 print average training time
  deepmd/train/trainer.py
Labels: Python

#2310 print MAE for `dp test`
  deepmd/entrypoints/test.py
  deepmd/utils/weight_avg.py
Labels: Python

#2312 Fix bug #2311 when using FP32 in se_atten
  deepmd/descriptor/se_atten.py
Labels: Python

#2309 support multiple frames DeepPot in C/hpp API
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_c/tests/test_deeppot_a_nframes_hpp.cc
  source/api_c/tests/test_utils.h
Labels: C

#2313 Implementation of se_a_mask op
  deepmd/descriptor/__init__.py
  deepmd/descriptor/se_a_mask.py
  deepmd/fit/ener.py
  deepmd/loss/ener.py
  deepmd/utils/argcheck.py
  doc/model/index.md
  doc/model/index.rst
  doc/model/overall.md
  doc/model/train-se-a-mask.md
  dp4mask.pb
  examples/zinc_protein/data_dp_mask/nopbc
  examples/zinc_protein/data_dp_mask/set.000/aparam.npy
  examples/zinc_protein/data_dp_mask/set.000/atom_pref.npy
  examples/zinc_protein/data_dp_mask/set.000/box.npy
  examples/zinc_protein/data_dp_mask/set.000/coord.npy
  examples/zinc_protein/data_dp_mask/set.000/energy.npy
  examples/zinc_protein/data_dp_mask/set.000/force.npy
  examples/zinc_protein/data_dp_mask/type.raw
  examples/zinc_protein/data_dp_mask/type_map.raw
  examples/zinc_protein/zinc_se_a_mask.json
  source/op/CMakeLists.txt
  source/op/_prod_force_se_a_mask_grad.py
  source/op/descrpt_se_a_mask.cc
  source/op/prod_force_se_a_mask.cc
  source/op/prod_force_se_a_mask_grad.cc
  source/tests/data_dp_mask/nopbc
  source/tests/data_dp_mask/set.000/aparam.npy
  source/tests/data_dp_mask/set.000/atom_pref.npy
  source/tests/data_dp_mask/set.000/box.npy
  source/tests/data_dp_mask/set.000/coord.npy
  source/tests/data_dp_mask/set.000/energy.npy
  source/tests/data_dp_mask/set.000/force.npy
  source/tests/data_dp_mask/type.raw
  source/tests/data_dp_mask/type_map.raw
  source/tests/infer/dp4mask.pbtxt
  source/tests/test_descrpt_se_a_mask.py
  source/tests/zinc_se_a_mask.json
Labels: Python, OP, Docs, Examples

#2317 fix restarting from the original model
  deepmd/train/trainer.py
Labels: Python

#2320 package dp_ipi in the PyPI wheels
  deepmd/entrypoints/ipi.py
  doc/install/easy-install.md
  pyproject.toml
  setup.py
  source/CMakeLists.txt
  source/cmake/Findtensorflow.cmake
  source/ipi/CMakeLists.txt
  source/ipi/driver.cc
Labels: Python, Docs, i-Pi

#2324 build Docker images for each push
  .github/workflows/build_wheel.yml
  deepmd/lmp.py
  source/install/docker/Dockerfile
Labels: Python

#2325 Fix typo in install docs
  doc/install/easy-install.md
Labels: Docs

#2318 Add a script to detect model version
  deepmd/entrypoints/convert.py
  deepmd/entrypoints/main.py
  deepmd/utils/convert.py
  source/tests/test_deeppot_a.py
Labels: Python

#2335 remove dependencies on _pywrap_tensorflow_internal and libpython for TF 2.12
  deepmd/lmp.py
  pyproject.toml
  setup.py
  source/cmake/Findtensorflow.cmake
  source/ipi/CMakeLists.txt
  source/lib/src/cuda/CMakeLists.txt
  source/lib/src/cuda/cudart/CMakeLists.txt
  source/lmp/CMakeLists.txt
Labels: Python, Core, CUDA, LAMMPS, i-Pi

#2337 Add unit test TestSelectByType
  source/api_cc/tests/test_select_by_type.cc
Labels: C++

#2336 bump LAMMPS version to stable_23Jun2022_update3
  doc/install/install-lammps.md
  pyproject.toml
  setup.py
  source/install/build_cc.sh
  source/install/build_lammps.sh
  source/install/test_cc.sh
  source/install/test_cc_local.sh
Labels: Docs

#2338 Add C++ unittests
  source/api_cc/tests/test_deepmd_exception.cc
  source/api_cc/tests/test_read_file_to_string.cc
  source/api_cc/tests/test_select_map.cc
  source/tests/infer/deeppot.txt
Labels: Python, C++

#2343 Support multiple sets in one system for mixed_type format
  deepmd/utils/data.py
  doc/model/train-se-atten.md
Labels: Python, Docs

#2347 copy std when expanding `sel`
  deepmd/descriptor/se_a.py
Labels: Python

#2350 Enforce `set_davg_zero` to be true in `se_atten` descriptor
  deepmd/descriptor/se_atten.py
  deepmd/utils/argcheck.py
  source/tests/test_data_large_batch.py
  source/tests/test_model_se_atten.py
Labels: Python
