Repository deepmodeling/deepmd-kit, pull requests merged in 2023-01, with the labels that each got.

#2208 support the custom training times for each frame
  deepmd/common.py
  deepmd/utils/data.py
  doc/data/system.md
  source/tests/test_deepmd_data.py
Labels: Python, Docs

#2219 add CUDA Toolkit to optional dependencies
  deepmd/env.py
  doc/install/easy-install.md
  setup.py
Labels: Python, Docs

#2220 fix per atom energy test results for multiple systems
  deepmd/entrypoints/test.py
Labels: Python

#2224 docs: typo correction in docstring
  deepmd/entrypoints/train.py
  deepmd/train/run_options.py
Labels: Python

#2211 support sharing fitting network parameters
  deepmd/env.py
  deepmd/fit/ener.py
  deepmd/utils/argcheck.py
  doc/train/multi-task-training.md
  source/tests/test_layer_name.py
  source/tests/water_layer_name.json
Labels: Python, Docs

#2235 Support dp test with txt
  deepmd/entrypoints/main.py
  deepmd/entrypoints/test.py
Labels: Python

#2239 fix `dp freeze` for multi-task when `atom_ener` is set
  deepmd/env.py
Labels: Python

#2241 load libcublasLt before libcublas
  deepmd/env.py
Labels: Python

#2244 add `DeepEval.eval_typeebd` to get type embedding
  deepmd/infer/deep_eval.py
  source/tests/infer/se_e2_a_tebd.pbtxt
  source/tests/test_deeppot_a.py
Labels: Python

#2256 prevent logging messages from other modules
  deepmd/loggers/loggers.py
Labels: Python

#2259 do not loop using `np.append`
  deepmd/common.py
  deepmd/descriptor/se_a_ebd.py
  deepmd/fit/ener.py
  deepmd/utils/data.py
  deepmd/utils/data_system.py
  source/tests/common.py
Labels: Python

#2258 dismiss warnings when `batch_size` is `auto`
  deepmd/utils/data_system.py
Labels: Python

#1730 add JIT option
  deepmd/env.py
  doc/train/training-advanced.md
Labels: Python, Docs

#2263 docs: update docs for type_one_side
  deepmd/utils/argcheck.py
  doc/model/train-se-e2-a.md
Labels: Python, Docs

#2257 docs: fix the docs of numb_btch
  deepmd/utils/argcheck.py
Labels: Python

#2264 load training data once from disk if there is only one set
  deepmd/utils/data.py
Labels: Python

#2267 assign type map for LAMMPS `pair_style deepmd`
  deepmd/utils/argcheck.py
  doc/data/system.md
  doc/model/dplr.md
  doc/third-party/lammps-command.md
  doc/third-party/lammps.md
  examples/water/lmp/in.lammps
  examples/water/lmp/in.plugin.lammps
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h.in
  source/lmp/tests/data_type_map.lmp
  source/lmp/tests/test_lammps.py
Labels: Python, LAMMPS, Docs, Examples

#2253 support restarting from compressed checkpoints
  deepmd/model/ener.py
  deepmd/model/model.py
  deepmd/model/multi.py
  deepmd/model/tensor.py
  deepmd/train/trainer.py
Labels: Python

#2281 prepare for formatting codes
  .clang-format
  .github/workflows/lint_python.yml
  source/ipi/include/XyzFileManager.h
  source/lib/include/pair_tab.h
  source/lib/include/switcher.h
Labels: Core, i-Pi

#2254 update frame parameter according to LAMMPS compute command
  doc/third-party/lammps-command.md
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h.in
Labels: LAMMPS, Docs
