Repository deepmodeling/deepmd-kit, pull requests merged in 2023-10, with the labels that each got.

#2886 set GPU binding in DeepTensor and DataModifier
  source/api_cc/src/DataModifier.cc
  source/api_cc/src/DeepTensor.cc
Labels: C++

#2887 fix LAMMPS wheel with CUDA wheels
  deepmd/lmp.py
Labels: Python

#2891 cmake: support LAMMPS in built-in mode; remove kspace requirement
  doc/install/install-lammps.md
  source/install/build_lammps.sh
  source/lmp/builtin.cmake
  source/lmp/plugin/CMakeLists.txt
Labels: LAMMPS, Docs

#2884 Generate CUDA stubs dynamically
  .gitattributes
  .pre-commit-config.yaml
  source/3rdparty/implib/arch/aarch64/config.ini
  source/3rdparty/implib/arch/aarch64/table.S.tpl
  source/3rdparty/implib/arch/aarch64/trampoline.S.tpl
  source/3rdparty/implib/arch/arm/config.ini
  source/3rdparty/implib/arch/arm/table.S.tpl
  source/3rdparty/implib/arch/arm/trampoline.S.tpl
  source/3rdparty/implib/arch/common/init.c.tpl
  source/3rdparty/implib/arch/e2k/README.md
  source/3rdparty/implib/arch/e2k/config.ini
  source/3rdparty/implib/arch/e2k/table.S.tpl
  source/3rdparty/implib/arch/e2k/trampoline.S.tpl
  source/3rdparty/implib/arch/i386/config.ini
  source/3rdparty/implib/arch/i386/table.S.tpl
  source/3rdparty/implib/arch/i386/trampoline.S.tpl
  source/3rdparty/implib/arch/mips/config.ini
  source/3rdparty/implib/arch/mips/table.S.tpl
  source/3rdparty/implib/arch/mips/trampoline.S.tpl
  source/3rdparty/implib/arch/mips64/config.ini
  source/3rdparty/implib/arch/mips64/table.S.tpl
  source/3rdparty/implib/arch/mips64/trampoline.S.tpl
  source/3rdparty/implib/arch/x86_64/config.ini
  source/3rdparty/implib/arch/x86_64/table.S.tpl
  source/3rdparty/implib/arch/x86_64/trampoline.S.tpl
  source/3rdparty/implib/implib-gen.py
  source/lib/CMakeLists.txt
  source/lib/src/gpu/cudart/CMakeLists.txt
  source/lib/src/gpu/cudart/cuda_runtime_10_0.inc
  source/lib/src/gpu/cudart/cuda_runtime_10_1.inc
  source/lib/src/gpu/cudart/cuda_runtime_10_2.inc
  source/lib/src/gpu/cudart/cuda_runtime_11_0.inc
  source/lib/src/gpu/cudart/cuda_runtime_11_2.inc
  source/lib/src/gpu/cudart/cuda_runtime_11_8.inc
  source/lib/src/gpu/cudart/cuda_runtime_12_0.inc
  source/lib/src/gpu/cudart/cuda_runtime_9_0.inc
  source/lib/src/gpu/cudart/cudart_stub.cc
Labels: Core, CUDA, ROCM

#2901 refactor update_sel
  deepmd/descriptor/descriptor.py
  deepmd/descriptor/hybrid.py
  deepmd/descriptor/loc_frame.py
  deepmd/descriptor/se.py
  deepmd/descriptor/se_a_ef.py
  deepmd/descriptor/se_atten.py
  deepmd/entrypoints/train.py
  deepmd/model/frozen.py
  deepmd/model/linear.py
  deepmd/model/model.py
  deepmd/model/multi.py
  deepmd/model/pairwise_dprc.py
  source/tests/test_train.py
Labels: Python

#2898 Se atten grad grad
  deepmd/op/_tabulate_grad.py
  source/lib/include/tabulate.h
  source/lib/src/gpu/tabulate.cu
  source/lib/src/tabulate.cc
  source/op/tabulate_multi_device.cc
Labels: Python, Core, CUDA, ROCM, OP

#2890 fix TypeError when type_map is not given
  deepmd/descriptor/se_atten.py
  deepmd/model/model.py
  deepmd/model/multi.py
Labels: Python

#2902 support combining frozen models into a pairwise DPRc model
  deepmd/model/pairwise_dprc.py
Labels: Python

#2897 support neighbor stat on GPUs
  deepmd/utils/neighbor_stat.py
  source/lib/include/neighbor_stat.h
  source/lib/src/gpu/neighbor_stat.cu
  source/op/custom_op.h
  source/op/neighbor_stat.cc
  source/op/prod_env_mat_multi_device.cc
Labels: Python, Core, CUDA, ROCM, OP

#2904 Add `dpgui` entry point and `dp gui` CLI
  backend/dynamic_metadata.py
  deepmd/entrypoints/__init__.py
  deepmd/entrypoints/gui.py
  deepmd/entrypoints/main.py
  deepmd_cli/main.py
  doc/cli.rst
  doc/train/train-input.rst
  pyproject.toml
  source/tests/test_gui.py
Labels: Python, Docs

#2903 add explanations for se_a_grad_grad
  source/lib/src/gpu/tabulate.cu
  source/lib/src/tabulate.cc
Labels: Core, CUDA, ROCM

#2910 fix "expression result unused" warnings
  source/api_cc/src/DataModifier.cc
  source/api_cc/src/DeepTensor.cc
  source/api_cc/src/common.cc
  source/lib/include/ComputeDescriptor.h
  source/lmp/fix_dplr.cpp
Labels: Core, C++, LAMMPS

#2905 fix: make the se attn v2 descriptor energy conservative.
  deepmd/descriptor/se_atten.py
  deepmd/op/_tabulate_grad.py
  source/lib/include/tabulate.h
  source/lib/src/gpu/tabulate.cu
  source/lib/src/tabulate.cc
  source/lib/tests/test_tabulate_se_a.cc
  source/op/tabulate_multi_device.cc
  source/tests/common.py
  source/tests/test_model_se_atten.py
Labels: Python, Core, CUDA, ROCM, OP

#2915 docs: `mpirun --version` to get MPI version
  doc/troubleshooting/howtoset_num_nodes.md
Labels: Docs

#2916 unittest for the compression of smooth se_atten descriptor
  source/tests/test_model_compression_se_atten.py
  source/tests/test_model_se_atten.py
Labels: Python

#2922 fix py lmp plugin path for editable installation
  deepmd/env.py
  deepmd/lmp.py
Labels: Python

#2924 fix se_a compression for just enough sel and symmetrical coordinates
  source/lib/src/gpu/tabulate.cu
  source/lib/src/tabulate.cc
Labels: Core, CUDA, ROCM

#2923 fix floating point exception when nloc or nall is zero
  deepmd/infer/deep_pot.py
  deepmd/utils/batch_size.py
  source/api_c/include/deepmd.hpp
  source/api_c/tests/test_deeppot_a_hpp.cc
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/common.cc
  source/op/map_aparam.cc
  source/op/pairwise.cc
  source/op/prod_force.cc
  source/op/prod_force_grad.cc
  source/op/prod_force_grad_multi_device.cc
  source/op/prod_force_multi_device.cc
  source/op/prod_force_se_a_grad.cc
  source/op/prod_force_se_a_mask.cc
  source/op/prod_force_se_a_mask_grad.cc
  source/op/prod_force_se_r_grad.cc
  source/op/prod_virial.cc
  source/op/prod_virial_grad.cc
  source/op/prod_virial_grad_multi_device.cc
  source/op/prod_virial_multi_device.cc
  source/op/prod_virial_se_a_grad.cc
  source/op/prod_virial_se_r_grad.cc
  source/op/soft_min_force.cc
  source/op/soft_min_force_grad.cc
  source/op/soft_min_virial.cc
  source/op/soft_min_virial_grad.cc
  source/tests/test_deeppot_a.py
  source/tests/test_deeppot_r.py
Labels: Python, OP, C++, C

#2925 fix typo about fparam/aparam
  deepmd/fit/dos.py
  deepmd/fit/ener.py
  deepmd/model/dos.py
  deepmd/model/ener.py
  source/lmp/pair_deepmd.cpp
Labels: Python, LAMMPS

#2929 add `aparam_from_compute` to `pair deepmd`
  doc/third-party/lammps-command.md
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h
Labels: LAMMPS, Docs

#2930 Fix typos
  deepmd/train/trainer.py
Labels: Python

#2932 deploy developed Python packages to GitHub Pages
  .github/workflows/build_wheel.yml
  doc/install/easy-install-dev.md
Labels: Docs

#2937 only freeze in rank 0
  deepmd/entrypoints/freeze.py
Labels: Python

#2933 support compressing any neuron structure
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_atten.py
  deepmd/descriptor/se_r.py
  deepmd/descriptor/se_t.py
  deepmd/utils/tabulate.py
  source/op/unaggregated_grad.cc
  source/tests/model_compression/input.json
Labels: Python, OP

#2943 Support conversion to pbtxt in command line interface
  deepmd/entrypoints/convert.py
  deepmd_cli/main.py
  source/tests/test_deeppot_a.py
Labels: Python

#2945 argcheck: restrict the type of elements in a list
  deepmd/utils/argcheck.py
  pyproject.toml
Labels: Python

#2946 reformat func for further merging with pt version
  deepmd/utils/data_system.py
  source/tests/test_deepmd_data_sys.py
Labels: Python

#2950 fix ase tarball url and testing C library
  .github/workflows/test_cc.yml
  .github/workflows/test_cuda.yml
  examples/infer_water/convert_model.c
  source/install/docker_test_package_c.sh
Labels: Examples

#2957 support compressing gelu_tf
  deepmd/utils/tabulate.py
Labels: Python

#2963 merge prob_sys_size with prob_sys_size;0:nsys:1.0
  deepmd/utils/data_system.py
Labels: Python
