Repository deepmodeling/deepmd-kit, pull requests merged in 2023-05, with the labels that each got.

#2505 fix build_type_exclude_mask when nloc != nall
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_atten.py
  deepmd/descriptor/se_r.py
Labels: Python

#2493 hpp: add compute_avg, compute_std, etc
  source/api_c/include/deepmd.hpp
  source/api_c/tests/test_deeppot_model_devi_fparam_aparam.cc
  source/api_c/tests/test_deeppot_model_devi_hpp.cc
Labels: C

#2495 bump lammps to stable_23Jun2022_update4
  doc/install/install-lammps.md
  pyproject.toml
  setup.py
  source/install/build_cc.sh
  source/install/build_lammps.sh
  source/install/test_cc.sh
  source/install/test_cc_local.sh
Labels: Docs

#2491 C: add select_by_type and select_map
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_c/tests/test_dipolecharge.cc
  source/api_c/tests/test_select_by_type.cc
  source/api_c/tests/test_select_map.cc
  source/api_cc/include/common.h
Labels: C++, C

#2492 lmp: remove codes to calculate energy deviation
  source/lmp/pair_deepmd.cpp
Labels: LAMMPS

#2489 Add training_data key in zinc_se_a_mask.json
  examples/zinc_protein/train_data_dp_mask/nopbc
  examples/zinc_protein/train_data_dp_mask/set.000/aparam.npy
  examples/zinc_protein/train_data_dp_mask/set.000/atom_pref.npy
  examples/zinc_protein/train_data_dp_mask/set.000/box.npy
  examples/zinc_protein/train_data_dp_mask/set.000/coord.npy
  examples/zinc_protein/train_data_dp_mask/set.000/energy.npy
  examples/zinc_protein/train_data_dp_mask/set.000/force.npy
  examples/zinc_protein/train_data_dp_mask/type.raw
  examples/zinc_protein/train_data_dp_mask/type_map.raw
  examples/zinc_protein/val_data_dp_mask/nopbc
  examples/zinc_protein/val_data_dp_mask/set.000/aparam.npy
  examples/zinc_protein/val_data_dp_mask/set.000/atom_pref.npy
  examples/zinc_protein/val_data_dp_mask/set.000/box.npy
  examples/zinc_protein/val_data_dp_mask/set.000/coord.npy
  examples/zinc_protein/val_data_dp_mask/set.000/energy.npy
  examples/zinc_protein/val_data_dp_mask/set.000/force.npy
  examples/zinc_protein/val_data_dp_mask/type.raw
  examples/zinc_protein/val_data_dp_mask/type_map.raw
  examples/zinc_protein/zinc_se_a_mask.json
  source/tests/test_examples.py
Labels: Python, Examples

#2498 clean unused methods in C++ API
  source/api_cc/include/DeepPot.h
  source/api_cc/src/DeepPot.cc
Labels: C++

#2500 fix dtype in PairTabOp
  deepmd/utils/pair_tab.py
  source/op/pair_tab.cc
Labels: Python, OP

#2501 print model deviation of total energy per atom in `dp model_devi`
  deepmd/infer/model_devi.py
  source/tests/test_model_devi.py
Labels: Python

#2503 raise a clear message when no set is found in a system
  deepmd/utils/data.py
Labels: Python

#2504 catch tf.errors.CancelledError for OOM
  deepmd/utils/sess.py
Labels: Python

#2507 lmp: add tests for compute deeptensor/atom
  source/lmp/compute_deeptensor_atom.cpp
  source/lmp/tests/test_deeptensor.py
Labels: LAMMPS

#2514 allow building lmp/gmx from pre-compiled C library
  .github/workflows/package_c.yml
  README.md
  doc/install/index.md
  doc/install/index.rst
  doc/install/install-from-c-library.md
  source/CMakeLists.txt
  source/cmake/cmake_lammps.cmake.in
  source/install/build_from_c.sh
Labels: Docs

#2518 improve messages for model compatability
  deepmd/infer/deep_eval.py
  doc/troubleshooting/model-compatability.md
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepTensor.cc
Labels: Python, C++, Docs

#2519 lmp/ipi: remove float precision
  doc/install/install-from-source.md
  doc/install/install-lammps.md
  doc/third-party/ipi.md
  doc/third-party/lammps-command.md
  source/cmake/cmake_lammps.cmake.in
  source/ipi/CMakeLists.txt
  source/ipi/driver.cc
  source/lmp/CMakeLists.txt
  source/lmp/compute_deeptensor_atom.cpp
  source/lmp/env.sh.in
  source/lmp/env_c.sh.in
  source/lmp/env_py.sh.in
  source/lmp/env_py_c.sh.in
  source/lmp/fix_dplr.h
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h
  source/lmp/plugin/CMakeLists.txt
  source/lmp/pppm_dplr.h
Labels: LAMMPS, Docs, i-Pi

#2524 add Node.js interface
  README.md
  doc/inference/index.md
  doc/inference/nodejs.md
  doc/install/index.md
  doc/install/install-nodejs.md
  source/CMakeLists.txt
  source/nodejs/.gitignore
  source/nodejs/.npmignore
  source/nodejs/CMakeLists.txt
  source/nodejs/README.md
  source/nodejs/binding.gyp.in
  source/nodejs/binding.gyp.pack
  source/nodejs/index.js
  source/nodejs/package.json
  source/nodejs/prepublish.py
  source/nodejs/tests/test_deeppot.js
  source/nodejs/yarn.lock
  source/swig/deepmd.i
Labels: Docs

#2527 remove _GLIBCXX_USE_CXX11_ABI macro for libraries linking against the C library
  setup.py
  source/gmx/CMakeLists.txt
  source/ipi/CMakeLists.txt
  source/lmp/plugin/CMakeLists.txt
Labels: LAMMPS, Gromacs, i-Pi

#2534 prefetch data during training
  deepmd/train/trainer.py
Labels: Python

#2470 remove warnings of batch size for mixed systems training
  deepmd/utils/data_system.py
Labels: Python

#2541 make Fittings pluginable
  deepmd/descriptor/descriptor.py
  deepmd/fit/__init__.py
  deepmd/fit/dipole.py
  deepmd/fit/dos.py
  deepmd/fit/ener.py
  deepmd/fit/fitting.py
  deepmd/fit/polar.py
  deepmd/train/trainer.py
Labels: Python

#2539 lmp: forward errors to error->one instead of error->all
  source/lmp/compute_deeptensor_atom.cpp
  source/lmp/fix_dplr.cpp
  source/lmp/pair_deepmd.cpp
Labels: LAMMPS

#2540 remove unmaintained dp config
  deepmd/entrypoints/__init__.py
  deepmd/entrypoints/config.py
  deepmd/entrypoints/main.py
  source/tests/test_argument_parser.py
Labels: Python

#2547 c: pass errors for read_file_to_string
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_c/tests/test_read_file_to_string.cc
Labels: C

#2552 fix se_e3 tabulate op
  source/lib/src/cuda/tabulate.cu
  source/lib/src/rocm/tabulate.hip.cu
  source/lib/src/tabulate.cc
  source/tests/test_model_compression_se_t.py
Labels: Python, Core, CUDA, ROCM

#2562 docs: add nodejs to toc
  doc/inference/index.rst
  doc/install/index.rst
Labels: Docs

#2571 improve docs and scripts to install libtensorflow_cc 2.12
  doc/install/install-from-source.md
  doc/install/install-tf.2.12.md
  source/cmake/Findtensorflow.cmake
  source/install/build_tf.py
Labels: Docs

#2574 Add unittest for dp_ipi
  .github/workflows/test_cc.yml
  codecov.yml
  source/ipi/CMakeLists.txt
  source/ipi/tests/test_driver.py
Labels: i-Pi

#2578 docs: fix a typo in cxx.md
  doc/inference/cxx.md
Labels: Docs
