Repository deepmodeling/deepmd-kit, pull requests merged in 2023-11, with the labels that each got.

#2951 move to ruff formatter
  .pre-commit-config.yaml
  deepmd/entrypoints/train.py
  deepmd/fit/polar.py
  deepmd/utils/argcheck.py
  deepmd/utils/finetune.py
  deepmd/utils/tabulate.py
  doc/getting-started/quick_start.ipynb
Labels: Python, Docs

#2715 docs: add theory from v2 paper
  README.md
  backend/dynamic_metadata.py
  doc/conf.py
  doc/freeze/compress.md
  doc/model/dplr.md
  doc/model/dprc.md
  doc/model/index.md
  doc/model/index.rst
  doc/model/overall.md
  doc/model/pairtab.md
  doc/model/train-energy.md
  doc/model/train-fitting-tensor.md
  doc/model/train-hybrid.md
  doc/model/train-se-atten.md
  doc/model/train-se-e2-a-tebd.md
  doc/model/train-se-e2-a.md
  doc/model/train-se-e2-r.md
  doc/model/train-se-e3.md
  doc/nvnmd/nvnmd.md
  doc/test/model-deviation.md
  doc/train/multi-task-training.md
  doc/train/training-advanced.md
Labels: Docs

#2975 docs: configuring automatically generated release notes
  .github/release.yml
Labels: other docs

#2976 docs: use relative links
  doc/getting-started/quick_start.ipynb
Labels: Docs

#2979 respect user defined CUDAARCHS
  source/lib/src/gpu/CMakeLists.txt
Labels: Core, CUDA, ROCM

#2971 lmp: refactor ixnode
  source/lmp/pair_deepmd.cpp
Labels: enhancement, LAMMPS

#2983 rename `deepmd_cli` to `deepmd_utils`
  .github/labeler.yml
  .github/workflows/test_cuda.yml
  .github/workflows/test_python.yml
  backend/dynamic_metadata.py
  codecov.yml
  deepmd/__init__.py
  deepmd/entrypoints/main.py
  deepmd_cli/__init__.py
  deepmd_utils/__init__.py
  deepmd_utils/main.py
  doc/conf.py
  pyproject.toml
Labels: Python, Docs

#2986 docs: remove lammps.md
  README.md
  doc/third-party/index.md
  doc/third-party/index.rst
  doc/third-party/lammps-command.md
  doc/third-party/lammps.md
Labels: Docs

#2960 bump CUDA version to 12.2 for pre-built packages
  .github/workflows/build_cc.yml
  .github/workflows/test_cuda.yml
  backend/find_tensorflow.py
  doc/install/easy-install-dev.md
  doc/install/easy-install.md
  doc/install/install-from-c-library.md
  pyproject.toml
  source/install/docker/Dockerfile
  source/install/docker_package_c.sh
Labels: Docs, build

#2998 add unit tests for LAMMPS fparam/aparam keywords
  source/lmp/tests/test_lammps_faparam.py
Labels: LAMMPS

#2996 fix restarting from compressed training with type embedding
  deepmd/model/dos.py
  deepmd/model/ener.py
  deepmd/model/model.py
  deepmd/model/multi.py
  deepmd/model/pairwise_dprc.py
  deepmd/model/tensor.py
  deepmd/utils/type_embed.py
  source/tests/test_compressed_training.py
Labels: Python

#3001 docs: document horovod on Conda-Forge
  doc/install/easy-install.md
Labels: Docs

#3005 Add the missing initializations for extra embedding variables
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_atten.py
  deepmd/utils/compress.py
  deepmd/utils/graph.py
  source/tests/test_init_frz_model_se_a_tebd.py
Labels: Python

#3002 add cu11 prebuilt packages
  .github/workflows/build_wheel.yml
  .github/workflows/package_c.yml
  backend/find_tensorflow.py
  doc/install/easy-install-dev.md
  doc/install/easy-install.md
  doc/install/install-from-c-library.md
  pyproject.toml
  source/install/docker/Dockerfile
  source/install/docker_package_c.sh
Labels: Docs, build

#3008 print system prob using scientific natation
  deepmd/utils/data_system.py
Labels: enhancement, Python

#3016 Fix macro issue with multiple arguments
  source/lmp/deepmd_version.h.in
Labels: LAMMPS
