Repository deepmodeling/deepmd-kit, pull requests merged in 2023-06, with the labels that each got.

#2549 refactor: uncouple Descriptor and Fitting from Trainer
  deepmd/descriptor/descriptor.py
  deepmd/descriptor/hybrid.py
  deepmd/descriptor/loc_frame.py
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_a_ebd.py
  deepmd/descriptor/se_a_ef.py
  deepmd/descriptor/se_a_mask.py
  deepmd/descriptor/se_atten.py
  deepmd/descriptor/se_r.py
  deepmd/descriptor/se_t.py
  deepmd/fit/dipole.py
  deepmd/fit/dos.py
  deepmd/fit/ener.py
  deepmd/fit/fitting.py
  deepmd/fit/polar.py
  deepmd/loss/dos.py
  deepmd/loss/ener.py
  deepmd/model/dos.py
  deepmd/model/ener.py
  deepmd/model/model.py
  deepmd/model/multi.py
  deepmd/model/tensor.py
  deepmd/train/trainer.py
  deepmd/utils/argcheck.py
  deepmd/utils/type_embed.py
  source/tests/.gitignore
  source/tests/test_init_frz_model_spin.py
  source/tests/test_model_spin.py
Labels: Python

#2584 Support minimization in dplr
  source/lmp/fix_dplr.cpp
  source/lmp/fix_dplr.h
  source/lmp/tests/test_dplr.py
Labels: LAMMPS

#2587 docs: change `set-rpath` to `add-rpath`
  doc/install/install-lammps.md
Labels: Docs

#2585 docs: clarify batch_size when MPI is used
  deepmd/utils/argcheck.py
Labels: Python

#2580 fix dplr: correct type check in get_valid_pairs
  source/lmp/fix_dplr.cpp
Labels: LAMMPS

#2588 Reduce dp mask pb size and fix bug in dim_fparam/dim_aparam fetching
  source/api_c/src/c_api.cc
  source/tests/data_dp_mask/set.000/aparam.npy
  source/tests/data_dp_mask/set.000/atom_pref.npy
  source/tests/data_dp_mask/set.000/coord.npy
  source/tests/data_dp_mask/set.000/force.npy
  source/tests/data_dp_mask/type.raw
  source/tests/data_dp_mask/type_map.raw
  source/tests/infer/dp4mask.pbtxt
  source/tests/test_descrpt_se_a_mask.py
  source/tests/zinc_se_a_mask.json
Labels: Python, C

#2581 fix_dplr: make pppm_dplr optional
  source/lmp/fix_dplr.cpp
Labels: LAMMPS

#2591 fix the missing modifier issue of dp compress
  deepmd/entrypoints/train.py
Labels: Python

#2592 import deepmd.op in infer.data_modifier
  deepmd/infer/data_modifier.py
Labels: Python

#2596 fix memory leaking in test_env_mat_a_mix.cc
  source/lib/tests/test_env_mat_a_mix.cc
Labels: Core

#2601 prod_force_grad: support multiple frames in parallel
  source/lib/include/prod_force_grad.h
  source/lib/src/cuda/prod_force_grad.cu
  source/lib/src/prod_force_grad.cc
  source/lib/src/rocm/prod_force_grad.hip.cu
  source/lib/tests/test_prod_force_grad_a.cc
  source/lib/tests/test_prod_force_grad_r.cc
  source/op/prod_force_grad_multi_device.cc
Labels: Core, CUDA, ROCM, OP

#2600 prod_force: support multiple frames in parallel
  source/lib/include/prod_force.h
  source/lib/src/cuda/prod_force.cu
  source/lib/src/prod_force.cc
  source/lib/src/rocm/prod_force.hip.cu
  source/lib/tests/test_prod_force_a.cc
  source/lib/tests/test_prod_force_r.cc
  source/op/prod_force_multi_device.cc
Labels: Core, CUDA, ROCM, OP

#2611 pass ntypes to sub descriptors in the hybrid descriptor
  deepmd/descriptor/hybrid.py
  source/tests/test_descrpt_hybrid.py
  source/tests/water_hybrid.json
Labels: Python

#2610 apply the C4 rule (flake8-comprehensions)
  data/json/json2yaml.py
  deepmd/descriptor/se_a.py
  deepmd/fit/dipole.py
  deepmd/fit/ener.py
  deepmd/fit/polar.py
  deepmd/infer/deep_dos.py
  deepmd/infer/deep_pot.py
  deepmd/train/trainer.py
  deepmd/utils/multi_init.py
  deepmd/utils/path.py
  deepmd/utils/tabulate.py
  deepmd/utils/type_embed.py
  pyproject.toml
  source/install/build_tf.py
  source/tests/test_argument_parser.py
  source/tests/test_gen_stat_data.py
Labels: Python

#2616 build macOS arm64 wheels
  .github/workflows/build_wheel.yml
  backend/find_tensorflow.py
  doc/install/easy-install.md
  pyproject.toml
  setup.py
  source/cmake/Findtensorflow.cmake
Labels: Docs

#2532 Enable model compression for se_atten
  deepmd/descriptor/se_atten.py
  deepmd/model/ener.py
  deepmd/utils/argcheck.py
  deepmd/utils/tabulate.py
  deepmd/utils/type_embed.py
  doc/freeze/compress.md
  examples/water/se_atten/input.json
  source/lib/include/tabulate.h
  source/lib/src/cuda/tabulate.cu
  source/lib/src/rocm/tabulate.hip.cu
  source/lib/src/tabulate.cc
  source/lib/tests/test_tabulate_se_a.cc
  source/op/_tabulate_grad.py
  source/op/tabulate_multi_device.cc
  source/tests/test_data_large_batch.py
  source/tests/test_descrpt_se_atten.py
  source/tests/test_finetune_se_atten.py
  source/tests/test_init_frz_model_se_atten.py
  source/tests/test_model_compression_se_atten.py
  source/tests/test_model_se_atten.py
  source/tests/water_se_atten_compressible_mixed_type.json
Labels: Python, Core, CUDA, ROCM, OP, Docs, Examples

#2631 fix se_atten variable names when suffix is given
  deepmd/descriptor/se_atten.py
Labels: Python

#2625 Fix DPLR: Support time-dependent efield
  doc/model/dplr.md
  source/lmp/fix_dplr.cpp
  source/lmp/fix_dplr.h
  source/lmp/tests/test_dplr.py
Labels: LAMMPS, Docs

#2604 ProdEnvMatAMixOp: move filter_ftype out of nsamples loop
  source/op/prod_env_mat_multi_device.cc
Labels: OP

#2481 set specific mesh shapes for mixed type
  deepmd/common.py
  deepmd/infer/data_modifier.py
  deepmd/infer/deep_dos.py
  deepmd/infer/deep_pot.py
  deepmd/infer/deep_tensor.py
  deepmd/utils/data_system.py
  source/api_cc/src/common.cc
  source/op/descrpt.cc
  source/op/descrpt_se_a_ef.cc
  source/op/descrpt_se_a_ef_para.cc
  source/op/descrpt_se_a_ef_vert.cc
  source/op/neighbor_stat.cc
  source/op/prod_env_mat_multi_device.cc
  source/op/prod_env_mat_multi_device_nvnmd.cc
  source/tests/test_deepmd_data_sys.py
Labels: Python, OP, C++

#2613 Add zbl example
  examples/water/zbl/H2O_tab_potential.txt
  examples/water/zbl/input.json
  source/tests/test_examples.py
Labels: Python, Examples

#2614 fix hybrid compute stat when using mixed_type
  deepmd/descriptor/descriptor.py
  deepmd/descriptor/hybrid.py
  deepmd/descriptor/loc_frame.py
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_a_ef.py
  deepmd/descriptor/se_a_mask.py
  deepmd/descriptor/se_atten.py
  deepmd/descriptor/se_r.py
  deepmd/descriptor/se_t.py
Labels: Python

#2635 fix se_atten compression when suffix is given
  deepmd/descriptor/se_atten.py
  deepmd/utils/tabulate.py
Labels: Python

#2634 cmake: migrate from `FindCUDA` to CUDA language
  doc/install/install-from-source.md
  doc/install/install-gromacs.md
  setup.py
  source/CMakeLists.txt
  source/lib/CMakeLists.txt
  source/lib/src/cuda/CMakeLists.txt
  source/lib/src/cuda/cudart/CMakeLists.txt
Labels: Core, CUDA, Docs
