Repository deepmodeling/deepmd-kit, pull requests merged in 2023-12, with the labels that each got.

#3036 breaking(lmp): do not apply scale factor to model deviation
  doc/third-party/lammps-command.md
  source/lmp/pair_deepmd.cpp
Labels: LAMMPS, Docs, breaking change

#3037 fix se_a_ebd_v2 when nloc != nall
  deepmd/descriptor/se_a.py
Labels: bug, Python

#3035 skip pushing when an action is triggered by dependeabot
  .github/workflows/build_wheel.yml
Labels: github_actions

#3031 fix: invalid read and write when natom grows
  source/api_cc/src/common.cc
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h
Labels: bug, C++, LAMMPS

#3046 build neighbor list with external Python program
  deepmd/calculator.py
  deepmd/infer/__init__.py
  deepmd/infer/deep_dipole.py
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_polar.py
  deepmd/infer/deep_pot.py
  deepmd/infer/deep_tensor.py
  source/tests/test_deepdipole.py
  source/tests/test_deeppolar.py
  source/tests/test_deeppot_a.py
Labels: new feature, Python

#3048 fix GPU mapping error for Horovod + finetune
  deepmd/utils/batch_size.py
Labels: bug, Python

#3049 remove unused codes in se_a.py
  deepmd/descriptor/se_a.py
Labels: enhancement, Python

#3047 print NaN loss when labeled data is not found
  deepmd/loss/dos.py
  deepmd/loss/ener.py
  deepmd/loss/loss.py
  deepmd/loss/tensor.py
  deepmd/train/trainer.py
Labels: enhancement, Python

#3058 nvnmd: init-model feature and 256 neighbors
  deepmd/fit/ener.py
  deepmd/nvnmd/data/data.py
  deepmd/nvnmd/descriptor/se_a.py
  deepmd/nvnmd/descriptor/se_atten.py
  deepmd/nvnmd/entrypoints/freeze.py
  deepmd/nvnmd/entrypoints/mapt.py
  deepmd/nvnmd/entrypoints/train.py
  deepmd/nvnmd/entrypoints/wrap.py
  deepmd/nvnmd/utils/argcheck.py
  deepmd/nvnmd/utils/config.py
  deepmd_utils/main.py
  doc/nvnmd/nvnmd.md
  examples/nvnmd/train/train_cnn.json
  examples/nvnmd/train/train_qnn.json
  source/op/prod_env_mat_multi_device_nvnmd.cc
  source/tests/test_nvnmd_entrypoints.py
Labels: new feature, Python, OP, Docs, Examples

#3062 Fix possible memory leak in constructors
  source/api_cc/src/DataModifier.cc
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepTensor.cc
  source/api_cc/tests/test_deepmd_exception.cc
Labels: C++

#3063 fix memory leaks related to `char*`
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_c/tests/test_deeppot_a.cc
Labels: C

#3064 add utils for DP native model format
  deepmd_utils/model_format.py
  source/tests/test_model_format_utils.py
Labels: new feature, Python

#3066 bump LAMMPS to stable_2Aug2023_update2
  backend/dynamic_metadata.py
  doc/install/install-lammps.md
  pyproject.toml
  source/install/build_cc.sh
  source/install/build_from_c.sh
  source/install/build_lammps.sh
  source/install/test_cc.sh
  source/install/test_cc_local.sh
Labels: Docs

#3068 Update the path to training and validation data dir in zinc_se_a_mask.json
  deepmd/descriptor/se_a_mask.py
  examples/zinc_protein/zinc_se_a_mask.json
Labels: Python, Examples

#3075 add CodeQL checks
  .github/workflows/codeql.yml
Labels: github_actions

#3077 Fix catching by value
  source/api_cc/src/DeepPot.cc
Labels: C++

#3083 docs: update documentation for pre-compiled C library
  doc/install/easy-install-dev.md
  doc/install/install-from-c-library.md
Labels: Docs

#3082 [Paddle Backend] Add spin energy example(revert code format)
  README.md
  deepmd/descriptor/se_a.py
  deepmd/entrypoints/freeze.py
  deepmd/fit/ener.py
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_pot.py
  deepmd/loss/ener.py
  deepmd/model/ener.py
  deepmd/train/trainer.py
  deepmd/utils/neighbor_stat.py
  deepmd/utils/network.py
  deepmd/utils/spin.py
  source/api_cc/src/DeepPot.cc
  source/lib/paddle_src/custom_op_test.py
  source/lib/paddle_src/paddle_neighbor_stat.cc
Labels: Python, Core, C++

#3096 [Paddle Backend] Add mixed precision training for se_e2_a_mixed_prec(revert code format)
  deepmd/common.py
  deepmd/descriptor/se_a.py
  deepmd/entrypoints/train.py
  deepmd/fit/ener.py
  deepmd/model/ener.py
  deepmd/train/trainer.py
  deepmd/utils/network.py
Labels: Python
