Repository deepmodeling/deepmd-kit, pull requests merged in 2023-04, with the labels that each got.

#2437 fix: avoid `using namespace std;` in header files
  source/api_cc/include/AtomMap.h
  source/api_cc/include/version.h.in
  source/ipi/include/Convert.h
  source/ipi/include/XyzFileManager.h
  source/lib/include/SimulationRegion_Impl.h
  source/md/include/AdWeight.h
  source/md/include/Convert.h
  source/md/include/Gaussian.h
  source/md/include/HarmonicAngle.h
  source/md/include/HarmonicBond.h
  source/md/include/Integrator.h
  source/md/include/LJInter.h
  source/md/include/LJTab.h
  source/md/include/MaxShift.h
  source/md/include/Statistics.h
  source/md/include/TF.h
  source/md/include/Tabulated.h
  source/md/include/Trajectory.h
  source/md/include/UnitManager.h
  source/md/include/XyzFileManager.h
  source/md/include/ZM.h
  source/md/include/ZMFunctions.h
  source/md/include/common.h
Labels: Core, C++, i-Pi

#2424 fix C API documentation
  doc/environment.yml
Labels: Docs

#2440 fix: descriptor function doc
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_a_ef.py
  deepmd/descriptor/se_r.py
  deepmd/descriptor/se_t.py
Labels: Python

#2438 Docs: Fix typo in parallel-training.md
  doc/train/parallel-training.md
Labels: Docs

#2449 support the DOS (electronic density of states) fitting
  deepmd/entrypoints/freeze.py
  deepmd/entrypoints/test.py
  deepmd/fit/__init__.py
  deepmd/fit/dos.py
  deepmd/infer/__init__.py
  deepmd/infer/deep_dos.py
  deepmd/loss/__init__.py
  deepmd/loss/dos.py
  deepmd/model/__init__.py
  deepmd/model/dos.py
  deepmd/train/trainer.py
  deepmd/utils/argcheck.py
  doc/model/train-fitting-dos.md
  examples/dos/data/heat-221/set.000/atom_dos.npy
  examples/dos/data/heat-221/set.000/box.npy
  examples/dos/data/heat-221/set.000/coord.npy
  examples/dos/data/heat-221/set.000/dos.npy
  examples/dos/data/heat-221/type.raw
  examples/dos/data/heat-221/type_map.raw
  examples/dos/train/input.json
  source/tests/infer/deepdos.pbtxt
  source/tests/test_deepdos.py
  source/tests/test_fitting_dos.py
  source/tests/test_model_dos.py
  source/tests/train_dos.json
Labels: Python, Docs, Examples

#2453 docs: add links to documentation in LAMMPS input
  examples/water/lmp/in.lammps
  examples/water/lmp/in.plugin.lammps
Labels: Examples

#2461 fix nopbc in finetune, DeepTensor test, and DipoleChargeModifier
  deepmd/entrypoints/test.py
  deepmd/fit/ener.py
  deepmd/infer/data_modifier.py
  deepmd/utils/data.py
Labels: Python

#2459 Create DeePMD-kit_Quick_Start_Tutorial_EN.ipynb
  README.md
  doc/conf.py
  doc/getting-started/data.md
  doc/getting-started/freeze.md
  doc/getting-started/index.rst
  doc/getting-started/lammps.md
  doc/getting-started/quick_start.ipynb
  doc/getting-started/test.md
  doc/getting-started/training.md
  setup.py
Labels: Docs

#2473 use `error->one` for `get_file_content`
  source/lmp/pair_deepmd.cpp
Labels: LAMMPS

#2474 improve citation information
  CITATION.cff
  CITATIONS.bib
  README.md
  deepmd/train/run_options.py
  doc/conf.py
  doc/credits.rst
  doc/environment.yml
  doc/index.rst
  setup.py
  source/lmp/pair_deepmd.cpp
Labels: Python, LAMMPS, Docs

#2480 lmp: extract deepmd version information to a seperated file
  source/lmp/CMakeLists.txt
  source/lmp/deepmd_version.h.in
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h
  source/lmp/plugin/CMakeLists.txt
  source/lmp/plugin/deepmdplugin.cpp
Labels: LAMMPS

#2484 add sub fields of hybrid descriptor
  deepmd/entrypoints/main.py
  deepmd/utils/argcheck.py
  source/tests/test_examples.py
Labels: Python

#2486 C: support fparam/aparam for DP model devi
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_c/tests/test_deeppot_model_devi_fparam_aparam.cc
  source/api_cc/tests/test_deeppot_model_devi_fparam_aparam.cc
Labels: C++, C

#2488 add tests for dos training example
  examples/dos/train/input.json
  source/tests/test_examples.py
Labels: Python, Examples
