Repository deepmodeling/deepmd-kit, pull requests merged in 2024-04, with the labels that each got.

#3631 fix: fix DPOSPath.save_numpy, DPH5Path.is_file, DPH5Path.is_dir
  deepmd/utils/path.py
  source/tests/common/test_path.py
Labels: Python

#3628 feat: compute output stat for a dict of labels.
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/task/invar_fitting.py
  deepmd/pt/utils/stat.py
  source/tests/pt/test_stat.py
Labels: Python

#3632 fix(tf): make `se_atten_v2` masking smooth when davg is not zero
  deepmd/tf/descriptor/se_atten.py
Labels: Python

#3633 feat(pt): allow using directories to store stat
  deepmd/pt/entrypoints/main.py
  deepmd/utils/argcheck.py
  deepmd/utils/env_mat_stat.py
  examples/water/dpa2/input_torch.json
  examples/water/se_atten/input_torch.json
  examples/water/se_e2_a/input_torch.json
  source/tests/pt/model/test_saveload_dpa1.py
  source/tests/pt/model/water/multitask.json
Labels: Python, Examples

#3636 fix: set rpath for libtorch and protobuf
  source/CMakeLists.txt
  source/api_c/CMakeLists.txt
  source/api_c/tests/CMakeLists.txt
  source/api_cc/CMakeLists.txt
  source/gmx/CMakeLists.txt
  source/ipi/CMakeLists.txt
  source/lmp/env.sh.in
  source/lmp/env_c.sh.in
  source/lmp/env_py.sh.in
  source/lmp/env_py_c.sh.in
  source/lmp/plugin/CMakeLists.txt
  source/op/tf/CMakeLists.txt
Labels: OP, C++, LAMMPS, Gromacs, i-Pi, C

#3639 refact: compute_output_stats and change_out_bias
  deepmd/dpmodel/atomic_model/make_base_atomic_model.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/task/invar_fitting.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/stat.py
  source/tests/common/dpmodel/test_dp_atomic_model.py
  source/tests/pt/test_finetune.py
Labels: Python

#3647 feat: model devi C/C++ API without nlist
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_c/tests/test_deeppot_model_devi_fparam_aparam.cc
  source/api_c/tests/test_deeppot_model_devi_hpp.cc
  source/api_cc/include/DeepPot.h
  source/api_cc/src/DeepPot.cc
  source/api_cc/tests/test_deeppot_model_devi.cc
  source/api_cc/tests/test_deeppot_model_devi_fparam_aparam.cc
Labels: new feature, C++, C

#3567 docs: Replace quick_start.ipynb with a new version.
  doc/getting-started/quick_start.ipynb
Labels: Docs

#3642 compute output stat for atomic model
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/make_base_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/dpmodel/output_def.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/task/invar_fitting.py
  deepmd/pt/utils/stat.py
  deepmd/utils/out_stat.py
  source/tests/common/dpmodel/test_dp_atomic_model.py
  source/tests/pt/model/test_atomic_model_stat.py
  source/tests/pt/test_finetune.py
  source/tests/pt/test_multitask.py
  source/tests/pt/test_stat.py
Labels: Python

#3625 feat: apply descriptor exclude_types to env mat stat
  deepmd/pt/utils/env_mat_stat.py
  deepmd/tf/descriptor/descriptor.py
  deepmd/tf/descriptor/se_a.py
  deepmd/tf/descriptor/se_atten.py
  deepmd/tf/descriptor/se_r.py
  source/tests/pt/test_stat.py
Labels: Python

#3575 Fix: LinearModel Stat
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/make_base_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/train/training.py
  source/tests/pt/model/test_linear_atomic_model_stat.py
Labels: Python

#3652 Fix error for PT backend when pytorch.distributed is not available
  deepmd/pt/entrypoints/main.py
  deepmd/pt/optimizer/LKF.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/dataloader.py
Labels: Python

#3653 Fix: make rt library optional in tests for non-Linux platforms in CMakeLists.txt
  source/api_c/tests/CMakeLists.txt
  source/api_cc/tests/CMakeLists.txt
Labels: C++, C

#3651 fix(tf): apply exclude types to se_atten_v2 switch
  deepmd/tf/descriptor/se_atten.py
  source/tests/tf/test_model_se_atten.py
Labels: Python

#3656 Fix bug: private link mpi when find_mpi is true
  source/op/pt/CMakeLists.txt
Labels: OP

#3649 feat: support serialize and deserialize for atomic model's compute output stat
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/tf/model/model.py
  source/tests/pt/model/test_atomic_model_stat.py
Labels: Python

#3654 Chore: refactor atomic bias
  deepmd/dpmodel/fitting/dipole_fitting.py
  deepmd/dpmodel/fitting/polarizability_fitting.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/polarizability.py
  deepmd/pt/utils/stat.py
  deepmd/tf/fit/dipole.py
  deepmd/tf/fit/polar.py
  deepmd/utils/out_stat.py
  source/tests/consistent/fitting/test_dipole.py
  source/tests/consistent/fitting/test_polar.py
  source/tests/pt/model/test_atomic_model_atomic_stat.py
  source/tests/pt/model/test_atomic_model_global_stat.py
  source/tests/pt/model/test_linear_atomic_model_stat.py
  source/tests/pt/test_training.py
Labels: Python

#3663 Chore: refactor dpmodel
  deepmd/dpmodel/__init__.py
  deepmd/dpmodel/model/__init__.py
  deepmd/dpmodel/model/base_model.py
  deepmd/dpmodel/model/dp_model.py
  deepmd/dpmodel/model/ener_model.py
  deepmd/dpmodel/model/model.py
  deepmd/dpmodel/model/spin_model.py
  deepmd/pt/model/atomic_model/__init__.py
  deepmd/pt/model/atomic_model/dipole_atomic_model.py
  deepmd/pt/model/atomic_model/dos_atomic_model.py
  deepmd/pt/model/atomic_model/energy_atomic_model.py
  deepmd/pt/model/atomic_model/polar_atomic_model.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/model/dipole_model.py
  deepmd/pt/model/model/dos_model.py
  deepmd/pt/model/model/dp_model.py
  deepmd/pt/model/model/dp_zbl_model.py
  deepmd/pt/model/model/ener_model.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/model/polar_model.py
  deepmd/pt/model/model/spin_model.py
  deepmd/tf/model/dos.py
  deepmd/tf/model/ener.py
  deepmd/tf/model/tensor.py
  source/tests/common/dpmodel/test_dp_model.py
  source/tests/common/dpmodel/test_nlist.py
  source/tests/consistent/model/test_ener.py
  source/tests/pt/model/test_dp_model.py
  source/tests/pt/model/test_make_hessian_model.py
Labels: Python

#3682 fix(tf): fix foat32 for exclude_types in se_atten_v2
  deepmd/tf/descriptor/se_atten.py
Labels: Python

#3662 Chore: migrate and refactor polar and dos bias
  deepmd/dpmodel/fitting/polarizability_fitting.py
  deepmd/entrypoints/test.py
  deepmd/pt/loss/tensor.py
  deepmd/pt/model/atomic_model/polar_atomic_model.py
  deepmd/pt/model/model/polar_model.py
  deepmd/pt/model/task/dos.py
  deepmd/pt/model/task/invar_fitting.py
  deepmd/pt/model/task/polarizability.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/stat.py
  deepmd/tf/fit/polar.py
  deepmd/tf/loss/tensor.py
  deepmd/utils/data.py
  source/tests/consistent/fitting/test_polar.py
  source/tests/pt/model/test_atomic_model_atomic_stat.py
  source/tests/pt/model/test_atomic_model_global_stat.py
  source/tests/pt/model/test_descriptor.py
  source/tests/pt/model/test_embedding_net.py
  source/tests/pt/model/test_model.py
  source/tests/pt/model/test_polar_atomic_model_stat.py
  source/tests/pt/model/test_polar_stat.py
  source/tests/pt/model/test_polarizability_fitting.py
  source/tests/pt/test_finetune.py
  source/tests/pt/test_loss.py
  source/tests/pt/test_stat.py
  source/tests/tf/test_deepmd_data.py
Labels: Python

#3685 docs: setup uv for readthedocs
  .readthedocs.yml
  doc/requirements.txt
Labels: Docs

#3686 docs: fix pdf build due to svg
  doc/conf.py
Labels: Docs

#3694 docs: fix RTD timeout issue
  .readthedocs.yml
  doc/conf.py
  doc/index.rst
  doc/requirements.txt
  pyproject.toml
Labels: Docs

#3698 Fix typo in `smooth_type_embdding`
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/tf/descriptor/se_atten.py
  deepmd/tf/descriptor/se_atten_v2.py
  deepmd/utils/argcheck.py
  doc/model/train-se-atten.md
  source/tests/tf/test_model_compression_se_atten.py
  source/tests/tf/test_model_se_atten.py
Labels: Python, Docs

#3701 chore(dpmodel): move save_dp_model and load_dp_model to a seperated module
  deepmd/backend/dpmodel.py
  deepmd/dpmodel/infer/deep_eval.py
  deepmd/dpmodel/utils/__init__.py
  deepmd/dpmodel/utils/network.py
  deepmd/dpmodel/utils/serialization.py
Labels: Python

#3696 refact: the DPA1 descriptor
  deepmd/dpmodel/descriptor/__init__.py
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/utils/network.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/network/layernorm.py
  deepmd/pt/model/network/network.py
  deepmd/tf/descriptor/se.py
  deepmd/tf/descriptor/se_atten.py
  deepmd/tf/env.py
  deepmd/tf/utils/graph.py
  deepmd/tf/utils/network.py
  deepmd/utils/argcheck.py
  doc/model/train-se-atten.md
  examples/water/se_atten/input_torch.json
  source/tests/common/dpmodel/test_descriptor_dpa1.py
  source/tests/consistent/descriptor/common.py
  source/tests/consistent/descriptor/test_dpa1.py
  source/tests/pt/model/models/dpa1.json
  source/tests/pt/model/models/dpa1.pth
  source/tests/pt/model/models/dpa2.pth
  source/tests/pt/model/models/dpa2_hyb.json
  source/tests/pt/model/test_dpa1.py
  source/tests/pt/model/test_env_mat.py
  source/tests/pt/model/test_permutation.py
  source/tests/pt/model/water/se_atten.json
Labels: Python, Docs, Examples

#3706 test: add UTs for dp SeR
  source/tests/common/dpmodel/test_descriptor_se_r.py
Labels: Python

#3709 build(tf): remove keras from dependencies
  backend/find_tensorflow.py
  deepmd/tf/env.py
Labels: Python

#3711 test(hybrid): add ut for descriptor hybrid
  deepmd/dpmodel/descriptor/dpa1.py
  source/tests/common/dpmodel/test_descriptor_hybrid.py
Labels: Python

#3716 ci(test): split each pytest job into 6 separated jobs
  .github/workflows/test_python.yml
  pyproject.toml
  source/tests/tf/test_nvnmd_entrypoints.py
Labels: Python

#3725 bug: fix numerical diff in DPA1 dotr between DP/PT
  deepmd/dpmodel/descriptor/dpa1.py
Labels: Python

#3726 test: set more lossy precision requirements
  source/tests/tf/test_model_compression_se_atten.py
Labels: Python

#3657 pt: support dpa2 model parallel inference
  .github/workflows/test_cuda.yml
  deepmd/pt/entrypoints/main.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/hybrid.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/model/ener_model.py
  deepmd/pt/model/model/make_model.py
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_cc/include/DeepPotPT.h
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/tests/test_deeppot_dpa_pt.cc
  source/lib/include/neighbor_list.h
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepmd.h
  source/lmp/tests/test_lammps_dpa_pt.py
  source/op/pt/CMakeLists.txt
  source/op/pt/comm.cc
  source/tests/infer/deeppot_dpa.pth
Labels: Python, Core, OP, C++, LAMMPS, Examples, C

#3435 Doc: ZBL pytorch
  doc/model/pairtab.md
Labels: Docs
