Repository deepmodeling/deepmd-kit, pull requests merged in 2024-06, with the labels that each got.

#3845 chore: remove type embedding TODO from se_r serialize
  deepmd/tf/descriptor/se_r.py
Labels: Python

#3841 fix: correct `exclude_types` in descriptors
  .github/workflows/test_cuda.yml
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/dpmodel/descriptor/se_t.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/tf/descriptor/se_atten.py
  source/tests/universal/common/cases/cases.py
  source/tests/universal/common/cases/descriptor/__init__.py
  source/tests/universal/common/cases/descriptor/descriptor.py
  source/tests/universal/common/cases/descriptor/utils.py
  source/tests/universal/dpmodel/descriptor/__init__.py
  source/tests/universal/dpmodel/descriptor/test_descriptor.py
  source/tests/universal/pt/descriptor/__init__.py
  source/tests/universal/pt/descriptor/test_descriptor.py
Labels: Python

#3849 feat: support generating JSON schema for integration with VSCode
  deepmd/entrypoints/doc.py
  deepmd/main.py
  deepmd/utils/argcheck.py
  doc/train/train-input.rst
  pyproject.toml
  source/tests/common/test_doc_train_input.py
Labels: Python, Docs

#3851 feat: add has_message_passing API
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/make_base_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/dpmodel/descriptor/descriptor.py
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/dpmodel/descriptor/hybrid.py
  deepmd/dpmodel/descriptor/make_base_descriptor.py
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/dpmodel/descriptor/se_t.py
  deepmd/dpmodel/model/make_model.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/hybrid.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_t.py
  deepmd/pt/model/model/frozen.py
  deepmd/pt/model/model/make_model.py
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/tests/test_deeppot_dpa_pt.cc
  source/lmp/tests/test_lammps_dpa_pt.py
  source/tests/infer/deeppot_dpa.pth
  source/tests/infer/deeppot_sea.pth
  source/tests/infer/fparam_aparam.pth
  source/tests/universal/common/cases/atomic_model/ener_model.py
  source/tests/universal/common/cases/atomic_model/utils.py
  source/tests/universal/common/cases/model/ener_model.py
  source/tests/universal/common/cases/model/utils.py
Labels: Python, C++, LAMMPS

#3855 fix(tf): fix modifier_type in DeepEval
  deepmd/tf/infer/deep_eval.py
  source/tests/tf/test_dplr.py
Labels: Python

#3840 Feat: add `se_atten_v2`to PyTorch and DP
  deepmd/dpmodel/descriptor/__init__.py
  deepmd/dpmodel/descriptor/se_atten_v2.py
  deepmd/pt/model/descriptor/__init__.py
  deepmd/pt/model/descriptor/se_atten_v2.py
  deepmd/tf/descriptor/se_atten.py
  deepmd/tf/descriptor/se_atten_v2.py
  deepmd/utils/argcheck.py
  doc/model/train-se-atten.md
  source/tests/consistent/descriptor/test_se_atten_v2.py
  source/tests/pt/model/test_se_atten_v2.py
Labels: Python, Docs

#3856 fix(test): make unit tests deterministic
  source/tests/common/dpmodel/test_descriptor_dpa1.py
  source/tests/common/dpmodel/test_descriptor_dpa2.py
  source/tests/common/dpmodel/test_descriptor_hybrid.py
  source/tests/common/dpmodel/test_descriptor_se_e2_a.py
  source/tests/common/dpmodel/test_descriptor_se_r.py
  source/tests/common/dpmodel/test_descriptor_se_t.py
  source/tests/common/dpmodel/test_dp_model.py
  source/tests/common/dpmodel/test_env_mat.py
  source/tests/common/dpmodel/test_fitting_invar_fitting.py
  source/tests/common/dpmodel/test_neighbor_stat.py
  source/tests/common/dpmodel/test_region.py
  source/tests/common/dpmodel/test_update_sel.py
  source/tests/consistent/test_activation.py
  source/tests/pt/model/test_autodiff.py
  source/tests/pt/model/test_descriptor_hybrid.py
  source/tests/pt/model/test_descriptor_se_r.py
  source/tests/pt/model/test_dipole_fitting.py
  source/tests/pt/model/test_dp_atomic_model.py
  source/tests/pt/model/test_dp_model.py
  source/tests/pt/model/test_dpa1.py
  source/tests/pt/model/test_ener_fitting.py
  source/tests/pt/model/test_ener_spin_model.py
  source/tests/pt/model/test_env_mat.py
  source/tests/pt/model/test_fitting_net.py
  source/tests/pt/model/test_force_grad.py
  source/tests/pt/model/test_forward_lower.py
  source/tests/pt/model/test_linear_atomic_model.py
  source/tests/pt/model/test_make_hessian_model.py
  source/tests/pt/model/test_null_input.py
  source/tests/pt/model/test_permutation.py
  source/tests/pt/model/test_permutation_denoise.py
  source/tests/pt/model/test_polarizability_fitting.py
  source/tests/pt/model/test_region.py
  source/tests/pt/model/test_rot.py
  source/tests/pt/model/test_rot_denoise.py
  source/tests/pt/model/test_se_e2_a.py
  source/tests/pt/model/test_se_t.py
  source/tests/pt/model/test_smooth.py
  source/tests/pt/model/test_smooth_denoise.py
  source/tests/pt/model/test_trans.py
  source/tests/pt/model/test_trans_denoise.py
  source/tests/pt/model/test_unused_params.py
  source/tests/pt/test_calculator.py
  source/tests/pt/test_loss.py
  source/tests/pt/test_neighbor_stat.py
  source/tests/pt/test_update_sel.py
  source/tests/pt/test_utils.py
  source/tests/seed.py
  source/tests/tf/test_data_modifier_shuffle.py
  source/tests/tf/test_deepmd_data.py
  source/tests/tf/test_deepmd_data_sys.py
  source/tests/tf/test_descrpt_sea_ef_rot.py
  source/tests/tf/test_ewald.py
  source/tests/tf/test_gen_stat_data.py
  source/tests/tf/test_neighbor_stat.py
  source/tests/tf/test_train.py
Labels: Python

#3857 fix(pt): improve out-of-memory capture
  deepmd/pt/utils/auto_batch_size.py
Labels: Python

#3862 breaking: use all sets for training and test
  deepmd/utils/data.py
  source/tests/tf/test_deepmd_data.py
  source/tests/tf/test_deepmd_data_sys.py
  source/tests/tf/test_gen_stat_data.py
Labels: Python, breaking change

#3861 fix(tf): throw RuntimeError for se_a + type_embedding
  deepmd/tf/descriptor/se_a.py
  source/tests/tf/test_model_se_a_type.py
Labels: Python

#3870 fix(ci): pin uv to 0.2.10
  .github/workflows/build_wheel.yml
Labels: upstream

#3872 docs: fix footnote
  doc/train/multi-task-training-pt.md
Labels: Docs

#3875 docs: improve multi-backend documentation
  doc/freeze/freeze.md
  doc/model/sel.md
  doc/model/train-fitting-dos.md
  doc/test/model-deviation.md
  doc/third-party/gromacs.md
  doc/third-party/lammps-command.md
  doc/train/training-advanced.md
  doc/train/training.md
  doc/troubleshooting/howtoset_num_nodes.md
Labels: Docs

#3878 fix: add mendeleev to dependencies; remove dpdata; remove catching ImportError
  deepmd/utils/econf_embd.py
  pyproject.toml
  source/tests/common/test_econf_embd.py
Labels: Python

#3876 Feat/add dos finetune UT
  deepmd/pt/train/training.py
  deepmd/pt/utils/stat.py
  source/tests/pt/test_finetune.py
Labels: Python

#3880 feat: add seeds to dpmodel and fix seeds in tf & pt
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/dpmodel/descriptor/se_atten_v2.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/dpmodel/descriptor/se_t.py
  deepmd/dpmodel/fitting/dipole_fitting.py
  deepmd/dpmodel/fitting/dos_fitting.py
  deepmd/dpmodel/fitting/ener_fitting.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/fitting/polarizability_fitting.py
  deepmd/dpmodel/utils/network.py
  deepmd/dpmodel/utils/seed.py
  deepmd/dpmodel/utils/type_embed.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/repformer_layer.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_atten_v2.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_t.py
  deepmd/pt/model/network/layernorm.py
  deepmd/pt/model/network/mlp.py
  deepmd/pt/model/network/network.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/dos.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/model/task/invar_fitting.py
  deepmd/pt/model/task/polarizability.py
  deepmd/pt/utils/utils.py
  deepmd/tf/descriptor/se_a.py
  deepmd/tf/descriptor/se_atten.py
  source/tests/tf/test_model_se_a_ebd_v2.py
  source/tests/tf/test_pairwise_dprc.py
Labels: Python

#3888 chore: replace `reduciable` with `reducible`
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/dpmodel/fitting/dipole_fitting.py
  deepmd/dpmodel/fitting/invar_fitting.py
  deepmd/dpmodel/fitting/polarizability_fitting.py
  deepmd/dpmodel/model/transform_output.py
  deepmd/dpmodel/output_def.py
  deepmd/infer/deep_dos.py
  deepmd/infer/deep_polar.py
  deepmd/infer/deep_pot.py
  deepmd/infer/deep_tensor.py
  deepmd/infer/deep_wfc.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/model/transform_output.py
  deepmd/pt/model/task/denoise.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/dos.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/invar_fitting.py
  deepmd/pt/model/task/polarizability.py
  source/tests/common/dpmodel/test_dp_atomic_model.py
  source/tests/common/dpmodel/test_output_def.py
  source/tests/pt/model/test_atomic_model_atomic_stat.py
  source/tests/pt/model/test_atomic_model_global_stat.py
  source/tests/pt/model/test_dp_atomic_model.py
  source/tests/pt/model/test_linear_atomic_model_stat.py
Labels: Python

#3891 feat(pt): allow PT OP CXXABI different from TF
  .github/workflows/test_cuda.yml
  doc/install/install-from-source.md
  source/CMakeLists.txt
  source/api_cc/CMakeLists.txt
  source/lib/CMakeLists.txt
  source/lib/src/gpu/CMakeLists.txt
  source/op/pt/CMakeLists.txt
Labels: Core, CUDA, ROCM, OP, C++, Docs

#3895 feat(pt): add more information to summary and error message of loading library
  deepmd/pt/cxx_op.py
  deepmd/pt/entrypoints/main.py
  source/config/run_config.ini
Labels: Python

#3896 docs: cleanup out-of-date doc_only_tf_supported in arguments
  deepmd/utils/argcheck.py
Labels: Python

#3897 feat(pt): support `training/profiling` argument in PT
  deepmd/pt/train/training.py
  deepmd/utils/argcheck.py
Labels: Python

#3912 Fix(load_library): When `ENABLE_CUSTOMIZED_OP = False`, change `op_info = None` to `op_info = {}`
  deepmd/pt/entrypoints/main.py
Labels: Python

#3918 fix(cc,pt): translate PT exceptions to the DeePMD-kit exception
  source/api_cc/include/DeepPotPT.h
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/tests/test_deepmd_exception.cc
Labels: C++

#3916 fix(pt): fix seed in dpmodel fitting
  deepmd/dpmodel/fitting/dipole_fitting.py
  deepmd/dpmodel/fitting/dos_fitting.py
  deepmd/dpmodel/fitting/ener_fitting.py
  deepmd/dpmodel/fitting/invar_fitting.py
  deepmd/dpmodel/fitting/polarizability_fitting.py
Labels: Python

#3917 OP pt: add contiguous in grad output
  source/op/pt/comm.cc
Labels: OP

#3873 test(pt/dp): add universal uts for all models
  .github/workflows/test_cuda.yml
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/common.py
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/model/__init__.py
  deepmd/dpmodel/model/spin_model.py
  deepmd/dpmodel/output_def.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/polar_atomic_model.py
  deepmd/pt/model/descriptor/hybrid.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/model/dipole_model.py
  deepmd/pt/model/model/dos_model.py
  deepmd/pt/model/model/dp_zbl_model.py
  deepmd/pt/model/model/ener_model.py
  deepmd/pt/model/model/polar_model.py
  deepmd/pt/model/model/spin_model.py
  deepmd/pt/model/network/network.py
  deepmd/pt/model/task/polarizability.py
  deepmd/pt/utils/env.py
  deepmd/pt/utils/exclude_mask.py
  source/tests/common/dpmodel/test_output_def.py
  source/tests/consistent/common.py
  source/tests/universal/common/backend.py
  source/tests/universal/common/cases/atomic_model/atomic_model.py
  source/tests/universal/common/cases/atomic_model/ener_model.py
  source/tests/universal/common/cases/atomic_model/utils.py
  source/tests/universal/common/cases/data/zbl_tab_potential/H2O_tab_potential.txt
  source/tests/universal/common/cases/descriptor/utils.py
  source/tests/universal/common/cases/model/ener_model.py
  source/tests/universal/common/cases/model/model.py
  source/tests/universal/common/cases/model/utils.py
  source/tests/universal/dpmodel/atomc_model/test_atomic_model.py
  source/tests/universal/dpmodel/atomc_model/test_ener_atomic_model.py
  source/tests/universal/dpmodel/backend.py
  source/tests/universal/dpmodel/descriptor/test_descriptor.py
  source/tests/universal/dpmodel/fitting/test_fitting.py
  source/tests/universal/dpmodel/model/test_ener_model.py
  source/tests/universal/dpmodel/model/test_model.py
  source/tests/universal/dpmodel/utils/test_type_embed.py
  source/tests/universal/pt/atomc_model/test_atomic_model.py
  source/tests/universal/pt/atomc_model/test_ener_atomic_model.py
  source/tests/universal/pt/backend.py
  source/tests/universal/pt/descriptor/test_descriptor.py
  source/tests/universal/pt/fitting/test_fitting.py
  source/tests/universal/pt/model/test_ener_model.py
  source/tests/universal/pt/model/test_model.py
  source/tests/utils.py
Labels: Python

#3914 feat(pt): support fine-tuning from random fitting
  deepmd/pt/entrypoints/main.py
  deepmd/pt/utils/finetune.py
  doc/train/finetuning.md
  source/tests/pt/test_dp_show.py
  source/tests/pt/test_training.py
Labels: Python, Docs

#3922 feat: support array API
  deepmd/dpmodel/array_api.py
  deepmd/dpmodel/utils/env_mat.py
  doc/backend.md
  pyproject.toml
  source/tests/common/dpmodel/array_api/__init__.py
  source/tests/common/dpmodel/array_api/test_env_mat.py
  source/tests/common/dpmodel/array_api/utils.py
Labels: Python, Docs

#3927 fix(pt): info typo in log
  deepmd/pt/entrypoints/main.py
Labels: Python
