Repository deepmodeling/deepmd-kit, pull requests merged in 2024-01, with the labels that each got.

#3097 lmp: Register styles when using CMake
  source/lmp/builtin.cmake
Labels: bug, LAMMPS

#3101 Add pairwise tabulation as an independent model
  README.md
  deepmd/model/model.py
  deepmd/model/pairtab.py
  deepmd/utils/argcheck.py
  doc/model/index.md
  doc/model/pairtab.md
  examples/water/d3/README.md
  examples/water/d3/dftd3.txt
  examples/water/d3/input.json
  source/tests/test_model_pairtab.py
Labels: new feature, Python, Docs, Examples

#3106 rm rcut from DeepmdDataSystem
  deepmd/utils/data_system.py
Labels: Python

#3108 fix segfault in ~Region
  source/lib/include/region.h
  source/lib/src/region.cc
  source/lib/tests/test_coord.cc
  source/lib/tests/test_simulation_region.cc
  source/op/prod_env_mat_multi_device.cc
  source/tests/test_auto_batch_size.py
Labels: bug, Python, Core, OP

#3109 add activation_function and resnet arguments and NumPy implementation to NativeLayer
  deepmd_utils/model_format.py
  source/tests/test_model_format_utils.py
Labels: Python

#3111 NativeLayer: support None bias.
  deepmd_utils/model_format.py
  source/tests/test_model_format_utils.py
Labels: Python

#3112 fix native layer concat bug.
  deepmd_utils/model_format.py
  source/tests/test_model_format_utils.py
Labels: Python

#3113 model format for the embedding net
  deepmd_utils/model_format/__init__.py
  deepmd_utils/model_format/network.py
  source/tests/test_model_format_utils.py
Labels: Python

#3110 [Paddle Backend] Fix for code and document
  README.md
  backend/dp_backend.py
  backend/dynamic_metadata.py
  backend/read_env.py
  data/json/json2yaml.py
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_a_ebd.py
  deepmd/descriptor/se_a_mask.py
  deepmd/descriptor/se_atten.py
  deepmd/descriptor/se_r.py
  deepmd/descriptor/se_t.py
  deepmd/entrypoints/__init__.py
  deepmd/entrypoints/ipi.py
  deepmd/entrypoints/main.py
  deepmd/env.py
  deepmd/fit/dipole.py
  deepmd/fit/ener.py
  deepmd/fit/polar.py
  deepmd/infer/deep_dos.py
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_pot.py
  deepmd/model/ener.py
  deepmd/nvnmd/entrypoints/wrap.py
  deepmd/train/run_options.py
  deepmd/train/trainer.py
  deepmd/utils/argcheck.py
  deepmd/utils/data_system.py
  deepmd/utils/multi_init.py
  deepmd/utils/network.py
  deepmd/utils/path.py
  deepmd/utils/tabulate.py
  deepmd/utils/type_embed.py
  deepmd_cli/__init__.py
  deepmd_cli/main.py
  examples/water/lmp/in.lammps
  pyproject.toml
  setup.py
  source/CMakeLists.txt
  source/install/build_tf.py
  source/lib/paddle_src/custom_op_install.py
  source/tests/common.py
  source/tests/test_argument_parser.py
  source/tests/test_gen_stat_data.py
Labels: Python, Core, Examples

#3114 support numerical precision and env_mat
  deepmd_utils/model_format/__init__.py
  deepmd_utils/model_format/common.py
  deepmd_utils/model_format/env_mat.py
  deepmd_utils/model_format/network.py
  source/tests/test_model_format_utils.py
Labels: Python

#3123 Add dp model format sea
  deepmd_utils/model_format/__init__.py
  deepmd_utils/model_format/network.py
  deepmd_utils/model_format/se_e2_a.py
  source/tests/test_model_format_utils.py
Labels: Python

#3125 input order of env_mat changed to be consistent with descriptor
  deepmd_utils/model_format/env_mat.py
  deepmd_utils/model_format/se_e2_a.py
  source/tests/test_model_format_utils.py
Labels: Python

#3124 doc string for dp model format descriptor se_e2_a
  deepmd_utils/model_format/se_e2_a.py
Labels: Python

#3117 add native Networks for mutiple Network classes
  deepmd_utils/model_format/__init__.py
  deepmd_utils/model_format/network.py
  deepmd_utils/model_format/se_e2_a.py
  source/tests/test_model_format_utils.py
Labels: Python

#3127 [Paddle Backend][Fix] Fix wrong custom operator installation filename
  README.md
  deepmd/descriptor/se_a.py
  deepmd/entrypoints/gui.py
  deepmd/env.py
Labels: Python

#3128 add definition for the output of fitting and model
  deepmd_utils/model_format/__init__.py
  deepmd_utils/model_format/output_def.py
  source/tests/test_output_def.py
Labels: Python

#3133 lmp: fix evflag initialization
  source/lmp/pair_deepmd.cpp
Labels: LAMMPS

#3134 cc: refactor DeepPotModelDevi, making it framework-independent
  source/api_cc/include/DeepPot.h
  source/api_cc/src/DeepPot.cc
Labels: C++

#3136 fix: model check assumes __call__ as the forward method
  deepmd_utils/model_format/__init__.py
  deepmd_utils/model_format/common.py
  deepmd_utils/model_format/output_def.py
  source/tests/test_output_def.py
Labels: Python

#3137 support fitting net
  deepmd_utils/model_format/__init__.py
  deepmd_utils/model_format/network.py
  source/tests/test_model_format_utils.py
Labels: Python

#3135 [Paddle Backend] Add zinc protein
  deepmd/descriptor/se_a_mask.py
  deepmd/fit/ener.py
  deepmd/train/trainer.py
  examples/zinc_protein/zinc_se_a_mask.json
  source/lib/paddle_src/custom_op_install.py
  source/lib/paddle_src/custom_op_test.py
  source/lib/paddle_src/paddle_descrpt_se_a_mask.cc
  source/lib/paddle_src/paddle_prod_force_se_a_mask.cc
  source/lib/paddle_src/paddle_prod_force_se_a_mask_grad.cc
Labels: Python, Core, Examples

#3138 refactorize NativeLayer, interface does not rely on the platform
  deepmd_utils/model_format/network.py
  deepmd_utils/model_format/se_e2_a.py
  source/tests/test_model_format_utils.py
Labels: Python

#3141 refactorize networks, now can be used cross platform
  deepmd_utils/model_format/__init__.py
  deepmd_utils/model_format/network.py
Labels: Python

#3140 move utility to `deepmd_utils` (without modifaction)
  deepmd/common.py
  deepmd/env.py
  deepmd/loggers/__init__.py
  deepmd/loggers/loggers.py
  deepmd/model/model_stat.py
  deepmd/nvnmd/utils/argcheck.py
  deepmd/utils/argcheck.py
  deepmd/utils/compat.py
  deepmd/utils/data.py
  deepmd/utils/data_system.py
  deepmd/utils/pair_tab.py
  deepmd/utils/path.py
  deepmd/utils/plugin.py
  deepmd/utils/random.py
  deepmd/utils/weight_avg.py
  deepmd_utils/common.py
  deepmd_utils/env.py
  deepmd_utils/loggers/__init__.py
  deepmd_utils/loggers/loggers.py
  deepmd_utils/utils/__init__.py
  deepmd_utils/utils/argcheck.py
  deepmd_utils/utils/argcheck_nvnmd.py
  deepmd_utils/utils/compat.py
  deepmd_utils/utils/data.py
  deepmd_utils/utils/data_system.py
  deepmd_utils/utils/model_stat.py
  deepmd_utils/utils/pair_tab.py
  deepmd_utils/utils/path.py
  deepmd_utils/utils/plugin.py
  deepmd_utils/utils/random.py
  deepmd_utils/utils/weight_avg.py
Labels: Python

#3143 add cross-platform AutoBatchSize
  deepmd/utils/batch_size.py
  deepmd_utils/utils/batch_size.py
Labels: Python

#3144 move deepmd.entrypoints.{doc,gui} to deepmd_utils.entrypoints.{doc,gui}
  deepmd/entrypoints/doc.py
  deepmd/entrypoints/gui.py
  deepmd_utils/entrypoints/__init__.py
  deepmd_utils/entrypoints/doc.py
  deepmd_utils/entrypoints/gui.py
Labels: Python

#3142 cc: refactor DeepPot to support multiple backends
  source/api_cc/include/DeepPot.h
  source/api_cc/include/DeepPotTF.h
  source/api_cc/include/common.h
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepPotTF.cc
Labels: C++

#3151 cc: refactor DeepTensor for multiple-backend framework
  source/api_cc/include/DeepTensor.h
  source/api_cc/include/DeepTensorTF.h
  source/api_cc/src/DeepTensor.cc
  source/api_cc/src/DeepTensorTF.cc
Labels: C++

#3148 cc: refactor DataModifier for multiple-backend framework
  source/api_cc/include/DataModifier.h
  source/api_cc/include/DataModifierTF.h
  source/api_cc/src/DataModifier.cc
  source/api_cc/src/DataModifierTF.cc
Labels: C++

#3152 fix: some issue of the output def
  deepmd_utils/model_format/__init__.py
  deepmd_utils/model_format/output_def.py
  source/tests/test_output_def.py
Labels: Python

#3145 cc: merge `DeepPotBase` and `DeepTensor` member functions
  source/api_cc/include/DataModifierTF.h
  source/api_cc/include/DeepPot.h
  source/api_cc/include/DeepPotTF.h
  source/api_cc/include/DeepTensor.h
  source/api_cc/include/DeepTensorTF.h
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepPotTF.cc
  source/api_cc/src/DeepTensor.cc
  source/api_cc/src/DeepTensorTF.cc
Labels: C++

#3074 docs: update Amber interface
  doc/third-party/out-of-deepmd-kit.md
Labels: Docs

#3153 move `OutOfMemoryError` from `deepmd` to `deepmd_utils`
  deepmd/utils/errors.py
  deepmd_utils/utils/batch_size.py
  deepmd_utils/utils/errors.py
Labels: Python

#3155 cmake: fix setting `CMAKE_HIP_FLAGS`
  source/lib/src/gpu/CMakeLists.txt
Labels: bug, Core, CUDA, ROCM

#3158 docs: document CP2K interface
  doc/third-party/out-of-deepmd-kit.md
Labels: Docs

#3159 resolve "Multiplication result converted to larger type"
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_cc/src/AtomMap.cc
  source/api_cc/src/DeepPot.cc
  source/ipi/src/Convert.cc
  source/lib/tests/test_env_mat_a.cc
  source/lib/tests/test_env_mat_a_mix.cc
  source/lib/tests/test_env_mat_a_nvnmd.cc
  source/lmp/compute_deeptensor_atom.cpp
  source/op/ewald_recp.cc
  source/op/matmul_fitnet_nvnmd.cc
  source/op/matmul_flt_nvnmd.cc
  source/op/pair_tab.cc
  source/op/prod_env_mat_multi_device.cc
  source/op/prod_force.cc
  source/op/prod_force_grad.cc
  source/op/prod_force_grad_multi_device.cc
  source/op/prod_force_multi_device.cc
  source/op/prod_force_se_a_grad.cc
  source/op/prod_force_se_a_mask.cc
  source/op/prod_force_se_a_mask_grad.cc
  source/op/prod_force_se_r_grad.cc
  source/op/prod_virial.cc
  source/op/prod_virial_grad.cc
  source/op/prod_virial_grad_multi_device.cc
  source/op/prod_virial_se_a_grad.cc
  source/op/prod_virial_se_r_grad.cc
  source/op/soft_min.cc
  source/op/soft_min_force.cc
  source/op/soft_min_force_grad.cc
  source/op/soft_min_virial.cc
  source/op/soft_min_virial_grad.cc
Labels: Core, OP, C++, LAMMPS, i-Pi, C

#3157 Fix max nbor size related issues
  source/op/prod_env_mat_multi_device.cc
Labels: bug, Python, OP

#3169 setup PyTorch C++ interface build environement
  .github/workflows/build_cc.yml
  .github/workflows/codeql.yml
  .github/workflows/test_cc.yml
  doc/conf.py
  source/CMakeLists.txt
  source/api_cc/CMakeLists.txt
  source/api_cc/include/DataModifierTF.h
  source/api_cc/include/DeepPotTF.h
  source/api_cc/include/DeepTensorTF.h
  source/api_cc/include/common.h
  source/api_cc/include/commonTF.h
  source/api_cc/include/version.h.in
  source/api_cc/src/DataModifier.cc
  source/api_cc/src/DataModifierTF.cc
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/DeepPotTF.cc
  source/api_cc/src/DeepTensor.cc
  source/api_cc/src/DeepTensorTF.cc
  source/api_cc/src/common.cc
  source/install/build_cc.sh
Labels: C++, Docs, build

#3171 docs: add TF icons to platform-specific features
  doc/_static/css/custom.css
  doc/_static/pytorch.svg
  doc/_static/tensorflow.svg
  doc/conf.py
  doc/freeze/compress.md
  doc/model/dplr.md
  doc/model/dprc.md
  doc/model/linear.md
  doc/model/pairtab.md
  doc/model/train-energy-spin.md
  doc/model/train-energy.md
  doc/model/train-fitting-dos.md
  doc/model/train-fitting-tensor.md
  doc/model/train-hybrid.md
  doc/model/train-se-a-mask.md
  doc/model/train-se-atten.md
  doc/model/train-se-e2-a-tebd.md
  doc/model/train-se-e2-a.md
  doc/model/train-se-e2-r.md
  doc/model/train-se-e3.md
  doc/nvnmd/nvnmd.md
  doc/train/finetuning.md
  doc/train/gpu-limitations.md
  doc/train/multi-task-training.md
  doc/train/parallel-training.md
  doc/train/tensorboard.md
Labels: Docs

#3164 add universal Python inference interface DeepPot
  deepmd/infer/deep_pot.py
  deepmd_utils/infer/__init__.py
  deepmd_utils/infer/backend.py
  deepmd_utils/infer/deep_pot.py
  source/tests/test_uni_infer.py
Labels: Python

#3172 detect version in advance before building deepmd-kit-cu11
  .github/workflows/build_wheel.yml
  pyproject.toml
Labels: build

#3174 add dpdata driver
  README.md
  backend/dynamic_metadata.py
  deepmd_utils/driver.py
  doc/third-party/dpdata.md
  doc/third-party/index.md
  doc/third-party/index.rst
  doc/third-party/out-of-deepmd-kit.md
  pyproject.toml
  source/tests/test_deeppot_a.py
Labels: Python, Docs

#3173 Move model deviation and ase calculator to `deepmd_utils`
  deepmd/calculator.py
  deepmd/infer/model_devi.py
  deepmd_utils/calculator.py
  deepmd_utils/infer/__init__.py
  deepmd_utils/infer/model_devi.py
  doc/inference/python.md
  doc/third-party/ase.md
Labels: Python, Docs

#3175 add more abstractmethods to universal `DeepPot`
  deepmd_utils/infer/deep_pot.py
Labels: Python

#3176 cc: reimplement read_file_to_string without calling TensorFlow
  source/api_cc/src/common.cc
Labels: C++

#3179 docs: rewrite README; deprecate manually written TOC
  CONTRIBUTING.md
  README.md
  doc/conf.py
  doc/data/index.md
  doc/freeze/index.md
  doc/getting-started/quick_start.ipynb
  doc/inference/index.md
  doc/install/index.md
  doc/model/index.md
  doc/test/index.md
  doc/third-party/index.md
  doc/train-input-auto.rst
  doc/train/index.md
  doc/troubleshooting/index.md
Labels: Docs

#3184 atomic model is not required to provide the fitting net
  deepmd/pt/model/model/atomic_model.py
  deepmd/pt/model/model/dp_atomic_model.py
Labels: Python

#3181 cc: fix returning type of sel_types
  source/api_cc/include/DataModifier.h
  source/api_cc/include/DataModifierTF.h
  source/api_cc/src/DataModifier.cc
Labels: bug, C++

#3185 breaking: drop Python 3.7 support
  backend/find_tensorflow.py
  backend/read_env.py
  deepmd/tf/utils/tabulate.py
  doc/development/coding-conventions.rst
  doc/install/easy-install.md
  doc/install/install-from-source.md
  pyproject.toml
  source/install/build_tf.py
Labels: Python, Docs, breaking change

#3187 Merge TF and PT CLI
  deepmd/infer/deep_pot.py
  deepmd/main.py
  deepmd/pt/entrypoints/main.py
  deepmd/tf/entrypoints/main.py
  deepmd/utils/argcheck.py
Labels: Python

#3188 breaking: pt: change the virial output dim to 9
  deepmd/pt/model/model/transform_output.py
  source/tests/pt/test_autodiff.py
  source/tests/pt/test_rot.py
  source/tests/pt/test_rotation.py
Labels: Python, breaking change

#3191 PT: keep the same checkpoint behavior as TF
  deepmd/common.py
  deepmd/main.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/train/training.py
  deepmd/tf/train/trainer.py
  source/tests/pt/water/se_atten.json
Labels: Python

#3195 add size and replace arguments to deepmd.utils.random.choice
  deepmd/pt/utils/dataset.py
  deepmd/utils/random.py
Labels: Python

#3194 drop tqdm
  backend/dynamic_metadata.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/dataset.py
  deepmd/pt/utils/env.py
  deepmd/pt/utils/stat.py
Labels: Python

#3190 breaking: pt: unify the output of descriptors.
  deepmd/model_format/se_e2_a.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/model/dp_atomic_model.py
  deepmd/pt/model/task/ener.py
  source/tests/common/test_model_format_utils.py
  source/tests/pt/test_permutation_denoise.py
  source/tests/pt/test_rot_denoise.py
  source/tests/pt/test_se_e2_a.py
  source/tests/pt/test_smooth_denoise.py
  source/tests/pt/test_trans_denoise.py
Labels: Python, breaking change

#3193 docs: document PyTorch backend
  CITATIONS.bib
  backend/dynamic_metadata.py
  doc/backend.md
  doc/conf.py
  doc/credits.rst
  doc/index.rst
  doc/inference/python.md
  doc/install/easy-install-dev.md
  doc/install/easy-install.md
  doc/install/install-from-c-library.md
  doc/install/install-from-source.md
  doc/model/dpa2.md
  doc/model/index.rst
  doc/model/train-energy.md
  doc/model/train-se-atten.md
  doc/model/train-se-e2-a.md
  doc/train/finetuning.md
  doc/train/multi-task-training.md
Labels: Docs

#3200 allow disabling TensorFlow backend during Python installation
  backend/find_tensorflow.py
  backend/read_env.py
  deepmd/tf/env.py
  doc/install/install-from-source.md
  source/CMakeLists.txt
  source/config/CMakeLists.txt
  source/config/run_config.ini
  source/lib/src/gpu/CMakeLists.txt
Labels: Python, Core, CUDA, ROCM, Docs

#3199 breaking: pt: add dp model format and refactor pt impl for the fitting net.
  deepmd/model_format/__init__.py
  deepmd/model_format/fitting.py
  deepmd/model_format/network.py
  deepmd/model_format/se_e2_a.py
  deepmd/pt/model/model/dp_atomic_model.py
  deepmd/pt/model/network/mlp.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/model/task/task.py
  deepmd/pt/utils/utils.py
  source/tests/common/test_model_format_utils.py
  source/tests/pt/test_ener_fitting.py
  source/tests/pt/test_fitting_net.py
  source/tests/pt/test_model.py
  source/tests/pt/test_se_e2_a.py
  source/tests/pt/test_utils.py
Labels: Python

#3202 remove duplicated fitting output check. fix codeql
  deepmd/pt/model/task/ener.py
Labels: Python

#3203 Fix GPU UTs
  .github/workflows/test_cuda.yml
  deepmd/pt/utils/dataloader.py
  deepmd/pt/utils/dataset.py
  deepmd/pt/utils/env.py
  deepmd/pt/utils/preprocess.py
  deepmd/pt/utils/stat.py
  source/tests/pt/test_descriptor.py
  source/tests/pt/test_descriptor_dpa1.py
  source/tests/pt/test_descriptor_dpa2.py
  source/tests/pt/test_embedding_net.py
  source/tests/pt/test_fitting_net.py
  source/tests/pt/test_mlp.py
  source/tests/pt/test_model.py
  source/tests/pt/test_saveload_dpa1.py
  source/tests/pt/test_saveload_se_e2_a.py
Labels: Python

#3207 fix GPU test OOM problem
  .github/workflows/test_cuda.yml
  deepmd/tf/env.py
  source/tests/pt/conftest.py
Labels: Python

#3205 pt: set nthreads from env
  deepmd/env.py
  deepmd/pt/utils/env.py
  deepmd/tf/env.py
  doc/troubleshooting/howtoset_num_nodes.md
  source/api_cc/include/common.h
  source/api_cc/src/common.cc
  source/tests/tf/test_env.py
Labels: Python, C++, Docs

#3204 pt: add tensorboard and profiler support
  deepmd/pt/train/training.py
  deepmd/utils/argcheck.py
  doc/train/tensorboard.md
Labels: Python, Docs
