Repository deepmodeling/deepmd-kit, pull requests merged in 2024-02, with the labels that each got.

#3219 fix bug of output def: the reduced virial is not defined.
  deepmd/dpmodel/output_def.py
  source/tests/common/test_output_def.py
Labels: Python

#3221 gmx: fix include directive
  source/gmx/CMakeLists.txt
  source/gmx/include/gmx_plugin.h
Labels: Gromacs

#3223 c: fix all memory leaks; add sanitizer checks
  .github/workflows/test_cc.yml
  doc/inference/cxx.md
  examples/infer_water/infer_water.c
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_c/tests/test_deeppot_a.cc
Labels: bug, Docs, Examples, C

#3225 fix model doc str: add shape hint to doc string.
  deepmd/dpmodel/model/make_model.py
  deepmd/pt/model/model/make_model.py
Labels: Python

#3226 pt: rename atomic_virial to atom_virial in the model output
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/model/model/ener.py
  source/tests/pt/test_model.py
Labels: Python

#3222 pt: apply global logger to pt
  deepmd/env.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/infer/inference.py
  deepmd/pt/model/model/model.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/optimizer/LKF.py
  deepmd/pt/train/training.py
  deepmd/pt/train/wrapper.py
  deepmd/pt/utils/dataloader.py
  deepmd/pt/utils/dataset.py
  deepmd/pt/utils/finetune.py
  deepmd/pt/utils/preprocess.py
  deepmd/pt/utils/stat.py
  deepmd/utils/pair_tab.py
Labels: Python

#3220 pt: apply global user set precision to pt
  deepmd/pt/utils/env.py
Labels: Python

#3232 test: better structure for the dpmodel uts
  source/tests/common/dpmodel/README
  source/tests/common/dpmodel/__init__.py
  source/tests/common/dpmodel/case_single_frame_with_nlist.py
  source/tests/common/dpmodel/test_descriptor_se_e2_a.py
  source/tests/common/dpmodel/test_dp_atomic_model.py
  source/tests/common/dpmodel/test_dp_model.py
  source/tests/common/dpmodel/test_env_mat.py
  source/tests/common/dpmodel/test_fitting_invar_fitting.py
  source/tests/common/dpmodel/test_network.py
  source/tests/common/dpmodel/test_nlist.py
  source/tests/common/dpmodel/test_output_def.py
  source/tests/common/dpmodel/test_pairtab.py
  source/tests/common/dpmodel/test_pairtab_preprocess.py
  source/tests/common/dpmodel/test_region.py
  source/tests/common/test_model_format_utils.py
Labels: Python

#3235 fix: pt: energy model forward lower is not tested and has bugs.
  deepmd/pt/model/model/ener.py
  source/tests/pt/test_dp_model.py
Labels: Python

#3234 test: pt: mv all model related tests to the pt/test/model folder
  source/tests/pt/model/__init__.py
  source/tests/pt/model/models/dpa1.json
  source/tests/pt/model/models/dpa1.pth
  source/tests/pt/model/models/dpa2.json
  source/tests/pt/model/models/dpa2.pth
  source/tests/pt/model/models/dpa2_hyb.json
  source/tests/pt/model/models/dpa2_tebd.pth
  source/tests/pt/model/test_autodiff.py
  source/tests/pt/model/test_deeppot.py
  source/tests/pt/model/test_descriptor.py
  source/tests/pt/model/test_descriptor_dpa1.py
  source/tests/pt/model/test_descriptor_dpa2.py
  source/tests/pt/model/test_dp_atomic_model.py
  source/tests/pt/model/test_dp_model.py
  source/tests/pt/model/test_embedding_net.py
  source/tests/pt/model/test_ener_fitting.py
  source/tests/pt/model/test_env_mat.py
  source/tests/pt/model/test_fitting_net.py
  source/tests/pt/model/test_force_grad.py
  source/tests/pt/model/test_jit.py
  source/tests/pt/model/test_mlp.py
  source/tests/pt/model/test_model.py
  source/tests/pt/model/test_nlist.py
  source/tests/pt/model/test_pairtab.py
  source/tests/pt/model/test_permutation.py
  source/tests/pt/model/test_permutation_denoise.py
  source/tests/pt/model/test_region.py
  source/tests/pt/model/test_rot.py
  source/tests/pt/model/test_rot_denoise.py
  source/tests/pt/model/test_rotation.py
  source/tests/pt/model/test_saveload_dpa1.py
  source/tests/pt/model/test_saveload_se_e2_a.py
  source/tests/pt/model/test_se_e2_a.py
  source/tests/pt/model/test_smooth.py
  source/tests/pt/model/test_smooth_denoise.py
  source/tests/pt/model/test_trans.py
  source/tests/pt/model/test_trans_denoise.py
  source/tests/pt/model/test_unused_params.py
  source/tests/pt/model/water/data/data_0/set.000/box.npy
  source/tests/pt/model/water/data/data_0/set.000/coord.npy
  source/tests/pt/model/water/data/data_0/set.000/energy.npy
  source/tests/pt/model/water/data/data_0/set.000/force.npy
  source/tests/pt/model/water/data/data_0/type.raw
  source/tests/pt/model/water/data/data_0/type_map.raw
  source/tests/pt/model/water/data/single/set.000/box.npy
  source/tests/pt/model/water/data/single/set.000/coord.npy
  source/tests/pt/model/water/data/single/set.000/energy.npy
  source/tests/pt/model/water/data/single/set.000/force.npy
  source/tests/pt/model/water/data/single/type.raw
  source/tests/pt/model/water/data/single/type_map.raw
  source/tests/pt/model/water/lkf.json
  source/tests/pt/model/water/se_atten.json
  source/tests/pt/model/water/se_e2_a.json
  source/tests/pt/test_training.py
  source/tests/pt/water
Labels: Python

#3228 add category property to OutputVariableDef
  deepmd/dpmodel/output_def.py
  source/tests/common/dpmodel/test_output_def.py
Labels: Python

#3241 fix skipped tests
  source/tests/pt/model/test_env_mat.py
  source/tests/pt/model/test_mlp.py
  source/tests/pt/model/test_se_e2_a.py
Labels: Python

#3240 support separate r_differentiable and c_differentiable
  deepmd/dpmodel/fitting/invar_fitting.py
  deepmd/dpmodel/model/make_base_atomic_model.py
  deepmd/dpmodel/model/pair_tab_model.py
  deepmd/dpmodel/model/transform_output.py
  deepmd/dpmodel/output_def.py
  deepmd/pt/model/model/pair_tab_model.py
  deepmd/pt/model/model/transform_output.py
  deepmd/pt/model/task/denoise.py
  deepmd/pt/model/task/ener.py
  source/tests/common/dpmodel/test_output_def.py
Labels: Python

#3210 Feat: add ZBL weighted DP model
  deepmd/dpmodel/model/linear_atomic_model.py
  deepmd/dpmodel/model/pairtab_atomic_model.py
  deepmd/dpmodel/utils/nlist.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/model/ener.py
  deepmd/pt/model/model/linear_atomic_model.py
  deepmd/pt/model/model/pairtab_atomic_model.py
  source/tests/common/dpmodel/test_linear_atomic_model.py
  source/tests/common/dpmodel/test_pairtab_atomic_model.py
  source/tests/common/dpmodel/test_pairtab_preprocess.py
  source/tests/pt/model/test_autodiff.py
  source/tests/pt/model/test_linear_atomic_model.py
  source/tests/pt/model/test_pairtab_atomic_model.py
  source/tests/pt/model/test_permutation.py
  source/tests/pt/model/test_rot.py
  source/tests/pt/model/test_smooth.py
  source/tests/pt/model/test_trans.py
  source/tests/pt/model/water/data/zbl_tab_potential/H2O_tab_potential.txt
Labels: Python

#3243 refactor print summary
  deepmd/env.py
  deepmd/pt/entrypoints/main.py
  deepmd/tf/entrypoints/train.py
  deepmd/tf/env.py
  deepmd/tf/train/run_options.py
  deepmd/utils/hostlist.py
  deepmd/utils/summary.py
  source/config/run_config.ini
Labels: Python

#3246 add hessian support in output def.
  deepmd/dpmodel/output_def.py
  source/tests/common/dpmodel/test_output_def.py
Labels: Python

#3248 fix: cuda tests of linear and pair atomic model
  deepmd/pt/model/model/pairtab_atomic_model.py
  source/tests/pt/model/test_linear_atomic_model.py
Labels: Python

#3249 backend-indepedent dp test
  deepmd/entrypoints/test.py
  deepmd/pt/entrypoints/main.py
  deepmd/tf/entrypoints/test.py
Labels: Python

#3250 pt: infer model type from ModelOutputDef
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/model/model/make_model.py
Labels: Python

#3254 tf: support checkpoint path (instead of directory) in dp freeze
  deepmd/main.py
  deepmd/tf/entrypoints/freeze.py
Labels: Python

#3257 ipi: remove normalize_coord
  doc/install/install-from-c-library.md
  source/CMakeLists.txt
  source/ipi/CMakeLists.txt
  source/ipi/driver.cc
  source/ipi/tests/test_driver.py
Labels: Docs, i-Pi

#3247 add `get_type_map` method to model; export model methods
  deepmd/dpmodel/model/dp_atomic_model.py
  deepmd/dpmodel/model/linear_atomic_model.py
  deepmd/dpmodel/model/make_base_atomic_model.py
  deepmd/dpmodel/model/pairtab_atomic_model.py
  deepmd/pt/model/model/dp_atomic_model.py
  deepmd/pt/model/model/linear_atomic_model.py
  deepmd/pt/model/model/pairtab_atomic_model.py
  source/tests/pt/model/test_dp_atomic_model.py
  source/tests/pt/model/test_dp_model.py
  source/tests/pt/model/test_linear_atomic_model.py
  source/tests/pt/model/test_pairtab_atomic_model.py
Labels: Python

#3253 pt: support loading frozen models in DeepEval
  deepmd/main.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/infer/deep_eval.py
  source/tests/pt/model/test_deeppot.py
Labels: Python

#3260 fix bug of not passing params in model
  deepmd/pt/model/model/ener.py
  deepmd/pt/model/model/make_model.py
Labels: Python

#3267 enable docstring code format
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_pot.py
  deepmd/infer/model_devi.py
  deepmd/tf/common.py
  deepmd/tf/descriptor/descriptor.py
  deepmd/tf/entrypoints/neighbor_stat.py
  deepmd/tf/infer/deep_eval.py
  deepmd/tf/utils/parallel_op.py
  deepmd/utils/plugin.py
  pyproject.toml
  source/install/build_tf.py
Labels: Python

#3271 add neighbor stat support with NumPy and PyTorch implementation
  deepmd/dpmodel/utils/neighbor_stat.py
  deepmd/entrypoints/neighbor_stat.py
  deepmd/main.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/utils/neighbor_stat.py
  deepmd/tf/entrypoints/neighbor_stat.py
  deepmd/tf/utils/neighbor_stat.py
  deepmd/utils/neighbor_stat.py
  source/tests/common/dpmodel/test_neighbor_stat.py
  source/tests/pt/test_neighbor_stat.py
Labels: Python

#3263 support TF se_e2_a serialization; add a common test fixture to compare TF, PT, and DP models
  deepmd/dpmodel/common.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/utils/network.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/utils/env.py
  deepmd/tf/descriptor/descriptor.py
  deepmd/tf/descriptor/se.py
  deepmd/tf/descriptor/se_a.py
  deepmd/tf/env.py
  deepmd/tf/utils/graph.py
  deepmd/tf/utils/tabulate.py
  source/tests/consistent/__init__.py
  source/tests/consistent/common.py
  source/tests/consistent/descriptor/__init__.py
  source/tests/consistent/descriptor/common.py
  source/tests/consistent/descriptor/test_se_e2_a.py
Labels: Python

#3258 pt: add exported methods to BaseAtomicModel
  deepmd/dpmodel/model/dp_atomic_model.py
  deepmd/dpmodel/model/linear_atomic_model.py
  deepmd/dpmodel/model/make_base_atomic_model.py
  deepmd/dpmodel/model/pairtab_atomic_model.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/model/model/base_atomic_model.py
  deepmd/pt/model/model/dp_atomic_model.py
  deepmd/pt/model/model/linear_atomic_model.py
  deepmd/pt/model/model/pairtab_atomic_model.py
Labels: Python

#3274 fix bug of output dimension in pt InvarFitting
  deepmd/pt/model/task/ener.py
Labels: Python

#3275 tf: refactor neighbor stat
  deepmd/tf/utils/neighbor_stat.py
  deepmd/tf/utils/nlist.py
  deepmd/tf/utils/region.py
  source/tests/tf/test_nlist.py
Labels: enhancement, Python

#3279 feat: pt: support user specified rcond for fitting stat
  deepmd/pt/model/task/ener.py
Labels: Python

#3266 Chore: refactor InvarFitting
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/pt/model/task/__init__.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  source/tests/pt/model/test_make_hessian_model.py
Labels: Python

#3280 feat: dp and pt: implement exclude types in descriptor se_a
  deepmd/dpmodel/descriptor/exclude_mask.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/pt/model/descriptor/hybrid.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/tf/descriptor/se_a.py
  source/tests/common/dpmodel/test_exclusion_mask.py
  source/tests/consistent/descriptor/test_se_e2_a.py
  source/tests/pt/model/test_exclusion_mask.py
  source/tests/pt/model/test_se_e2_a.py
Labels: Python

#3282 feat: dp and pt: implement fitting exclude types
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/fitting/invar_fitting.py
  deepmd/dpmodel/utils/__init__.py
  deepmd/dpmodel/utils/exclude_mask.py
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/pt/model/descriptor/hybrid.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/utils/__init__.py
  deepmd/pt/utils/exclude_mask.py
  source/tests/common/dpmodel/test_exclusion_mask.py
  source/tests/common/dpmodel/test_fitting_invar_fitting.py
  source/tests/pt/model/test_ener_fitting.py
  source/tests/pt/model/test_exclusion_mask.py
Labels: Python

#3284 speed up cuda test
  .github/workflows/test_cuda.yml
  source/tests/tf/test_tabulate.py
Labels: Python

#3285 pt: refactor data stat
  deepmd/common.py
  deepmd/dpmodel/descriptor/make_base_descriptor.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/descriptor/__init__.py
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/gaussian_lcc.py
  deepmd/pt/model/descriptor/hybrid.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/model/model.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/env_mat_stat.py
  deepmd/pt/utils/stat.py
  deepmd/utils/env_mat_stat.py
  deepmd/utils/path.py
  source/tests/pt/test_stat.py
Labels: Python

#3286 consistent energy fitting
  deepmd/dpmodel/fitting/dipole_fitting.py
  deepmd/dpmodel/fitting/ener_fitting.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/fitting/invar_fitting.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/tf/env.py
  deepmd/tf/fit/ener.py
  deepmd/tf/fit/fitting.py
  deepmd/tf/model/model.py
  deepmd/tf/model/multi.py
  deepmd/tf/utils/graph.py
  source/tests/consistent/common.py
  source/tests/consistent/fitting/__init__.py
  source/tests/consistent/fitting/common.py
  source/tests/consistent/fitting/test_ener.py
  source/tests/pt/model/test_fitting_net.py
  source/tests/pt/model/test_model.py
  source/tests/pt/test_stat.py
  source/tests/tf/test_data_large_batch.py
  source/tests/tf/test_fitting_ener_type.py
  source/tests/tf/test_fitting_stat.py
  source/tests/tf/test_gen_stat_data.py
  source/tests/tf/test_layer_name.py
  source/tests/tf/test_model_loc_frame.py
  source/tests/tf/test_model_multi.py
  source/tests/tf/test_model_se_a.py
  source/tests/tf/test_model_se_a_aparam.py
  source/tests/tf/test_model_se_a_ebd.py
  source/tests/tf/test_model_se_a_ebd_v2.py
  source/tests/tf/test_model_se_a_fparam.py
  source/tests/tf/test_model_se_a_srtab.py
  source/tests/tf/test_model_se_a_type.py
  source/tests/tf/test_model_se_atten.py
  source/tests/tf/test_model_se_r.py
  source/tests/tf/test_model_se_t.py
  source/tests/tf/test_model_spin.py
Labels: Python

#3292 dp&pt: let DPAtomicModel fetch attributes from Fitting
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
Labels: Python

#3294 pluggable backend
  deepmd/backend/__init__.py
  deepmd/backend/backend.py
  deepmd/backend/dpmodel.py
  deepmd/backend/pytorch.py
  deepmd/backend/tensorflow.py
  deepmd/entrypoints/neighbor_stat.py
  deepmd/infer/backend.py
  deepmd/infer/deep_eval.py
  deepmd/main.py
  source/tests/consistent/common.py
Labels: Python

#3295 test the case of permuted index in different frames.
  source/tests/common/dpmodel/case_single_frame_with_nlist.py
  source/tests/common/dpmodel/test_exclusion_mask.py
  source/tests/common/dpmodel/test_fitting_invar_fitting.py
  source/tests/pt/model/test_env_mat.py
  source/tests/pt/model/test_exclusion_mask.py
  source/tests/pt/model/test_se_e2_a.py
Labels: Python

#3289 fix: replace all distinguished types by mixed types.
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/make_base_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/dpmodel/descriptor/make_base_descriptor.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/fitting/dipole_fitting.py
  deepmd/dpmodel/fitting/ener_fitting.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/fitting/invar_fitting.py
  deepmd/dpmodel/model/make_model.py
  deepmd/dpmodel/utils/neighbor_stat.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/hybrid.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/utils/env_mat_stat.py
  deepmd/pt/utils/neighbor_stat.py
  deepmd/pt/utils/nlist.py
  deepmd/tf/fit/ener.py
  deepmd/tf/utils/neighbor_stat.py
  source/tests/common/dpmodel/test_dp_atomic_model.py
  source/tests/common/dpmodel/test_dp_model.py
  source/tests/common/dpmodel/test_fitting_invar_fitting.py
  source/tests/common/dpmodel/test_linear_atomic_model.py
  source/tests/common/dpmodel/test_nlist.py
  source/tests/consistent/fitting/test_ener.py
  source/tests/pt/model/test_descriptor.py
  source/tests/pt/model/test_descriptor_dpa1.py
  source/tests/pt/model/test_descriptor_dpa2.py
  source/tests/pt/model/test_dp_atomic_model.py
  source/tests/pt/model/test_dp_model.py
  source/tests/pt/model/test_embedding_net.py
  source/tests/pt/model/test_ener_fitting.py
  source/tests/pt/model/test_fitting_net.py
  source/tests/pt/model/test_linear_atomic_model.py
  source/tests/pt/model/test_make_hessian_model.py
  source/tests/pt/model/test_model.py
Labels: Python

#3293 pt: process frames in parallel for env mat stat
  deepmd/pt/utils/env_mat_stat.py
Labels: Python

#3303 pt: avoid `set_default_dtype` in tests
  source/tests/pt/model/test_descriptor_dpa1.py
  source/tests/pt/model/test_descriptor_dpa2.py
Labels: Python

#3304 fix neighbor stat mixed_types input
  deepmd/dpmodel/utils/neighbor_stat.py
  deepmd/entrypoints/neighbor_stat.py
  deepmd/main.py
  deepmd/pt/utils/neighbor_stat.py
  deepmd/tf/entrypoints/train.py
  deepmd/tf/utils/neighbor_stat.py
  deepmd/utils/neighbor_stat.py
  source/tests/common/dpmodel/test_neighbor_stat.py
  source/tests/pt/test_neighbor_stat.py
  source/tests/tf/test_neighbor_stat.py
  source/tests/tf/test_virtual_type.py
Labels: Python

#3287 pt:Removed the data system implemented in PyTorch
  deepmd/pt/entrypoints/main.py
  deepmd/pt/infer/inference.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/utils/dataloader.py
  deepmd/pt/utils/dataset.py
  deepmd/utils/data.py
  source/tests/pt/model/test_descriptor.py
  source/tests/pt/model/test_embedding_net.py
  source/tests/pt/model/test_force_grad.py
  source/tests/pt/model/test_model.py
  source/tests/pt/model/test_rotation.py
  source/tests/pt/test_loss.py
Labels: Python

#3308 allow both absulute and relative tolerance when testing consistency
  source/tests/consistent/common.py
  source/tests/consistent/fitting/test_ener.py
Labels: Python

#3307 pt: explicitly set device
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/infer/inference.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/descriptor/repformer_layer.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/network/network.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/dataloader.py
  deepmd/pt/utils/nlist.py
  deepmd/pt/utils/stat.py
  source/tests/pt/__init__.py
  source/tests/pt/model/test_autodiff.py
  source/tests/pt/model/test_deeppot.py
  source/tests/pt/model/test_descriptor_dpa1.py
  source/tests/pt/model/test_descriptor_dpa2.py
  source/tests/pt/model/test_dipole_fitting.py
  source/tests/pt/model/test_embedding_net.py
  source/tests/pt/model/test_env_mat.py
  source/tests/pt/model/test_linear_atomic_model.py
  source/tests/pt/model/test_model.py
  source/tests/pt/model/test_nlist.py
  source/tests/pt/model/test_pairtab_atomic_model.py
  source/tests/pt/model/test_permutation.py
  source/tests/pt/model/test_polarizability_fitting.py
  source/tests/pt/model/test_region.py
  source/tests/pt/model/test_rot.py
  source/tests/pt/model/test_rotation.py
  source/tests/pt/model/test_saveload_dpa1.py
  source/tests/pt/model/test_saveload_se_e2_a.py
  source/tests/pt/model/test_smooth.py
  source/tests/pt/model/test_trans.py
  source/tests/pt/model/test_unused_params.py
  source/tests/pt/test_calculator.py
  source/tests/pt/test_dp_test.py
  source/tests/pt/test_sampler.py
  source/tests/pt/test_stat.py
Labels: Python

#3306 consistent energy model
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/fitting/__init__.py
  deepmd/dpmodel/model/dp_model.py
  deepmd/dpmodel/model/make_model.py
  deepmd/dpmodel/model/model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/utils/utils.py
  deepmd/tf/descriptor/descriptor.py
  deepmd/tf/fit/ener.py
  deepmd/tf/fit/fitting.py
  deepmd/tf/model/model.py
  source/tests/consistent/common.py
  source/tests/consistent/model/__init__.py
  source/tests/consistent/model/common.py
  source/tests/consistent/model/test_ener.py
Labels: Python

#3314 Fix: float32 bug in UTs
  deepmd/pt/model/network/mlp.py
  source/tests/consistent/fitting/test_ener.py
Labels: Python

#3316 merge common subcommands in cli
  deepmd/backend/suffix.py
  deepmd/entrypoints/main.py
  deepmd/main.py
  deepmd/pt/entrypoints/main.py
  deepmd/tf/entrypoints/main.py
  deepmd/tf/model/model.py
Labels: Python

#3315 pt: fix se_e2_a precision cast
  deepmd/pt/model/descriptor/se_a.py
  source/tests/consistent/common.py
  source/tests/consistent/descriptor/test_se_e2_a.py
Labels: Python

#3318 pt: export `model_output_type` instead of `model_output_def`
  deepmd/dpmodel/model/make_model.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/model/model/make_model.py
  source/tests/pt/model/test_deeppot.py
Labels: Python

#3323 feat: convert model files between backends
  deepmd/backend/backend.py
  deepmd/backend/dpmodel.py
  deepmd/backend/pytorch.py
  deepmd/backend/tensorflow.py
  deepmd/dpmodel/utils/network.py
  deepmd/entrypoints/convert_backend.py
  deepmd/entrypoints/main.py
  deepmd/main.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/utils/serialization.py
  deepmd/tf/fit/ener.py
  deepmd/tf/model/model.py
  deepmd/tf/utils/serialization.py
  source/tests/common/dpmodel/test_network.py
  source/tests/consistent/io/__init__.py
  source/tests/consistent/io/test_io.py
Labels: Python

#3321 Feat: add dipole consistency test
  deepmd/dpmodel/fitting/dipole_fitting.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/fitting/invar_fitting.py
  deepmd/dpmodel/fitting/polarizability_fitting.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/tf/fit/dipole.py
  deepmd/tf/fit/ener.py
  deepmd/tf/fit/fitting.py
  deepmd/tf/model/model.py
  deepmd/tf/model/multi.py
  source/tests/consistent/common.py
  source/tests/consistent/fitting/common.py
  source/tests/consistent/fitting/test_dipole.py
  source/tests/tf/test_data_large_batch.py
  source/tests/tf/test_data_modifier.py
  source/tests/tf/test_dipole_se_a.py
  source/tests/tf/test_dipole_se_a_tebd.py
  source/tests/tf/test_fitting_ener_type.py
  source/tests/tf/test_model_multi.py
  source/tests/tf/test_model_se_a.py
  source/tests/tf/test_model_se_a_aparam.py
  source/tests/tf/test_model_se_a_ebd.py
  source/tests/tf/test_model_se_a_ebd_v2.py
  source/tests/tf/test_model_se_a_fparam.py
  source/tests/tf/test_model_se_a_srtab.py
  source/tests/tf/test_model_se_a_type.py
  source/tests/tf/test_model_se_atten.py
Labels: Python

#3327 Feat: add polar consistency test
  deepmd/dpmodel/fitting/polarizability_fitting.py
  deepmd/pt/model/task/polarizability.py
  deepmd/tf/fit/polar.py
  source/tests/consistent/fitting/test_polar.py
  source/tests/tf/test_polar_se_a.py
  source/tests/tf/test_polar_se_a_tebd.py
Labels: Python

#3325 store type in descriptor serialization data
  deepmd/common.py
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/descriptor/base_descriptor.py
  deepmd/dpmodel/descriptor/make_base_descriptor.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/tf/descriptor/descriptor.py
  deepmd/tf/descriptor/se_a.py
  deepmd/tf/fit/fitting.py
  deepmd/tf/model/model.py
Labels: Python

#3333 docs: install pytorch in RTD
  doc/environment.yml
Labels: Docs

#3332 feat: add NumPy DeepPot
  deepmd/backend/dpmodel.py
  deepmd/dpmodel/infer/__init__.py
  deepmd/dpmodel/infer/deep_eval.py
  deepmd/dpmodel/utils/batch_size.py
  source/tests/consistent/io/test_io.py
Labels: Python

#3331 store type in fitting serialization data
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/fitting/dipole_fitting.py
  deepmd/dpmodel/fitting/ener_fitting.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/fitting/invar_fitting.py
  deepmd/dpmodel/fitting/make_base_fitting.py
  deepmd/dpmodel/fitting/polarizability_fitting.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/task/__init__.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/model/task/polarizability.py
  deepmd/tf/fit/dipole.py
  deepmd/tf/fit/ener.py
  deepmd/tf/fit/polar.py
  deepmd/tf/model/model.py
Labels: Python

#3337 pt: add necessary jit.export
  deepmd/pt/model/model/dipole_model.py
  deepmd/pt/model/model/dp_zbl_model.py
  deepmd/pt/model/model/ener_model.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/model/polar_model.py
Labels: Python

#3339 feat(pt/dpmodel): support type_one_side in se_e2_a
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/utils/exclude_mask.py
  deepmd/dpmodel/utils/network.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/tf/descriptor/se.py
  source/tests/consistent/descriptor/test_se_e2_a.py
Labels: Python

#3340 refact: pt: mv all plugin support to base descriptor.
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/descriptor/__init__.py
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/gaussian_lcc.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/model/__init__.py
  source/tests/pt/model/test_polarizability_fitting.py
Labels: Python

#3343 bump python to 3.12 in the test environment
  .github/workflows/test_python.yml
  backend/find_tensorflow.py
  deepmd/tf/descriptor/se_atten.py
  deepmd/tf/env.py
Labels: bug, Python

#3344 fix_dplr.cpp delete redundant setup
  source/lmp/fix_dplr.cpp
Labels: LAMMPS

#3335 add BaseModel; store type in serialization
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/make_base_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/dpmodel/infer/deep_eval.py
  deepmd/dpmodel/model/base_model.py
  deepmd/dpmodel/model/dp_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/model/dp_model.py
  deepmd/pt/model/model/dp_zbl_model.py
  deepmd/pt/model/model/model.py
  deepmd/pt/utils/serialization.py
  deepmd/tf/model/model.py
  deepmd/utils/plugin.py
  source/tests/consistent/io/test_io.py
Labels: Python

#3345 fix_dplr.cpp set atom->image when pre_force
  source/lmp/fix_dplr.cpp
Labels: LAMMPS

#3346 apply PluginVariant and make_plugin_registry to classes
  deepmd/backend/backend.py
  deepmd/dpmodel/descriptor/make_base_descriptor.py
  deepmd/dpmodel/fitting/make_base_fitting.py
  deepmd/dpmodel/model/base_model.py
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/tf/descriptor/descriptor.py
  deepmd/tf/fit/fitting.py
  deepmd/tf/model/__init__.py
  deepmd/tf/model/frozen.py
  deepmd/tf/model/linear.py
  deepmd/tf/model/model.py
  deepmd/tf/model/multi.py
  deepmd/tf/model/pairtab.py
  deepmd/tf/model/pairwise_dprc.py
  deepmd/utils/plugin.py
Labels: Python

#3349 add @version to serialization data
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/utils/network.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/task/fitting.py
  deepmd/tf/descriptor/se_a.py
  deepmd/tf/descriptor/se_r.py
  deepmd/tf/fit/dipole.py
  deepmd/tf/fit/ener.py
  deepmd/tf/fit/polar.py
  deepmd/tf/model/model.py
  deepmd/utils/pair_tab.py
  deepmd/utils/version.py
Labels: Python

#3351 Fix: se_r prod_env_mat
  deepmd/pt/utils/env_mat_stat.py
  source/tests/pt/model/test_descriptor_se_r.py
Labels: Python

#3162 cc: add torch backend support for Multiple backend
  .github/workflows/test_cc.yml
  .github/workflows/test_cuda.yml
  deepmd/pt/model/model/make_model.py
  source/api_cc/include/DeepPotPT.h
  source/api_cc/include/commonPT.h
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/commonPT.cc
  source/api_cc/tests/test_deeppot_pt.cc
  source/install/test_cc_local.sh
  source/ipi/tests/test_driver.py
  source/lmp/tests/test_lammps_pt.py
  source/tests/infer/deeppot_sea.pth
Labels: new feature, Python, C++, LAMMPS, i-Pi

#3350 pt: support `--init-frz-model`
  deepmd/main.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/train/training.py
  source/tests/pt/test_init_frz_model.py
Labels: Python

#3355 Fix single-task training&data stat
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/model/dp_model.py
  deepmd/pt/model/model/model.py
  deepmd/utils/path.py
  examples/water/dpa2/input_torch.json
  examples/water/se_atten/input_torch.json
  examples/water/se_e2_a/input_torch.json
Labels: Python, Examples

#3310 merge compute_output_stat
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/model/task/polarizability.py
  deepmd/pt/utils/env_mat_stat.py
  deepmd/pt/utils/stat.py
  deepmd/tf/fit/dos.py
  deepmd/tf/fit/ener.py
  deepmd/tf/fit/polar.py
  deepmd/utils/data_system.py
  deepmd/utils/out_stat.py
  source/tests/common/test_out_stat.py
  source/tests/pt/test_stat.py
  source/tests/tf/common.py
Labels: Python

#3356 feat(pt): support fparam/aparam in DeepEval
  deepmd/infer/deep_eval.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/train/wrapper.py
  source/tests/infer/fparam_aparam.pbtxt
  source/tests/infer/fparam_aparam.pth
  source/tests/pt/model/test_deeppot.py
  source/tests/tf/test_deeppot_a.py
Labels: Python

#3353 [Paddle Backend] Add water tensor dipole(revert code format)
  deepmd/fit/dipole.py
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_tensor.py
  deepmd/loss/tensor.py
  deepmd/model/tensor.py
  deepmd/train/trainer.py
Labels: Python

#3352 fix: cast input and output types at model's interface
  deepmd/dpmodel/common.py
  deepmd/dpmodel/model/make_model.py
  deepmd/dpmodel/model/transform_output.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/model/transform_output.py
  deepmd/pt/utils/env.py
  deepmd/pt/utils/exclude_mask.py
  source/tests/common/dpmodel/case_single_frame_with_nlist.py
  source/tests/common/dpmodel/test_dp_model.py
  source/tests/pt/model/test_dp_model.py
Labels: Python

#3360 docs: dpmodel, model conversion
  doc/_static/logo_icon.svg
  doc/backend.md
  doc/conf.py
  doc/model/train-se-e2-a.md
  doc/model/train-se-e2-r.md
Labels: Docs

#3361 pt: fix se_a type_one_side performance degradation
  deepmd/pt/model/descriptor/se_a.py
Labels: Python

#3342 pt: apply argcheck to pt
  deepmd/pt/entrypoints/main.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/repformer_layer.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/tf/descriptor/se_atten.py
  deepmd/utils/argcheck.py
  examples/water/se_atten/input_torch.json
  source/tests/common/test_examples.py
  source/tests/pt/model/models/dpa1.json
  source/tests/pt/model/models/dpa2_hyb.json
  source/tests/pt/model/test_jit.py
  source/tests/pt/model/test_permutation.py
  source/tests/pt/model/water/se_atten.json
  source/tests/pt/test_training.py
Labels: Python, Examples

#3364 docs: apply type_one_side=True to `se_a` and `se_r`
  doc/model/train-se-e2-r.md
  doc/train/multi-task-training.md
  examples/dos/train/input.json
  examples/fparam/train/input.json
  examples/fparam/train/input_aparam.json
  examples/nopbc/train/input.json
  examples/spin/se_e2_a/input.json
  examples/water/d3/input.json
  examples/water/dplr/train/dw.json
  examples/water/dplr/train/ener.json
  examples/water/hybrid/input.json
  examples/water/se_e2_a/input.json
  examples/water/se_e2_a/input_torch.json
  examples/water/se_e2_a_mixed_prec/input.json
  examples/water/se_e2_r/input.json
  examples/water/zbl/input.json
  examples/water_multi_task/ener_dipole/input.json
  examples/water_tensor/dipole/dipole_input.json
  examples/water_tensor/polar/polar_input.json
  examples/zinc_protein/zinc_se_a_mask.json
Labels: Docs, Examples

#3357 feat: support exclude atypes in atomic model
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/make_base_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/dpmodel/model/make_model.py
  deepmd/dpmodel/model/model.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/task/fitting.py
  deepmd/tf/model/model.py
  deepmd/utils/argcheck.py
  source/tests/common/dpmodel/test_dp_atomic_model.py
  source/tests/consistent/io/test_io.py
  source/tests/consistent/model/test_ener.py
  source/tests/pt/model/test_deeppot.py
  source/tests/pt/model/test_dp_atomic_model.py
  source/tests/pt/test_dp_test.py
Labels: Python

#3358 feat(pt): support fparam/aparam in C++ DeepPot
  source/api_cc/include/DeepPotPT.h
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/tests/test_deeppot_a_fparam_aparam_pt.cc
  source/tests/infer/fparam_aparam.pth
Labels: Python, C++

#3366 fix se_r consistency
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_r.py
  source/tests/consistent/descriptor/test_se_e2_a.py
  source/tests/consistent/descriptor/test_se_r.py
Labels: Python

#3367 pt: Fix multitask neighbor stat
  deepmd/pt/entrypoints/main.py
Labels: Python
