Repository deepmodeling/deepmd-kit, pull requests merged in 2024-07, with the labels that each got.

#3930 fix(tf): prevent `fitting_attr` variable scope from becoming `fitting_attr_1`
  deepmd/tf/descriptor/se_a_mask.py
Labels: bug, Python

#3925 feat(pt): support multitask argcheck
  deepmd/pt/entrypoints/main.py
  deepmd/utils/argcheck.py
  examples/water_multi_task/pytorch_example/input_torch.json
  pyproject.toml
  source/tests/common/test_examples.py
Labels: Python, Examples

#3933 feat(pt/tf): add bias changing param/interface
  deepmd/main.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/loss/ener.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/stat.py
  deepmd/tf/train/trainer.py
  deepmd/utils/argcheck.py
  doc/model/change-bias.md
  doc/model/index.rst
  source/tests/pt/test_change_bias.py
Labels: Python, Docs

#3919 pt: fix compile error when use intel mpi
  source/op/pt/CMakeLists.txt
  source/op/pt/comm.cc
Labels: OP

#3921 docs: developer docs for the universal unit tests
  doc/development/create-a-model-pt.md
  doc/development/create-a-model-tf.md
Labels: Docs

#3944 fix(pt): fix global bias stat with different natom
  deepmd/pt/utils/stat.py
  source/tests/pt/test_finetune.py
Labels: Python

#3947 [r2] fix seeds in se_a and se_atten (#3880)
  deepmd/descriptor/se_a.py
  deepmd/descriptor/se_atten.py
  source/tests/test_model_se_a_ebd_v2.py
  source/tests/test_pairwise_dprc.py
Labels: Python

#3945 feat(pt): add datafile option for change-bias
  deepmd/main.py
  deepmd/pt/entrypoints/main.py
  source/tests/pt/test_change_bias.py
Labels: Python

#3952 [r2] fix: move resnet_dt checking from graph to tabulate
  deepmd/utils/graph.py
  deepmd/utils/tabulate.py
Labels: Python

#3957 fix(dp): fix dp seed in dpa2 descriptor
  deepmd/dpmodel/descriptor/dpa2.py
Labels: Python

#3956 style: enable B904
  backend/find_tensorflow.py
  deepmd/dpmodel/descriptor/descriptor.py
  deepmd/entrypoints/neighbor_stat.py
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/utils/data_system.py
  pyproject.toml
  source/tests/common/test_argument_parser.py
  source/tests/tf/test_parallel_training.py
Labels: Python

#3958 breaking(pt/tf/dp): disable bias in type embedding
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/dpmodel/descriptor/se_atten_v2.py
  deepmd/dpmodel/utils/network.py
  deepmd/dpmodel/utils/type_embed.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/se_atten_v2.py
  deepmd/pt/model/network/network.py
  deepmd/tf/descriptor/se_atten.py
  deepmd/tf/utils/network.py
  deepmd/tf/utils/type_embed.py
  deepmd/utils/argcheck.py
  source/tests/consistent/descriptor/test_dpa1.py
  source/tests/consistent/descriptor/test_dpa2.py
  source/tests/consistent/descriptor/test_se_atten_v2.py
  source/tests/consistent/test_type_embedding.py
  source/tests/pt/model/test_descriptor_dpa1.py
  source/tests/pt/model/test_descriptor_dpa2.py
  source/tests/tf/pairwise_dprc.json
  source/tests/tf/test_data_large_batch.py
  source/tests/tf/test_descrpt_hybrid.py
  source/tests/tf/test_descrpt_se_a_type.py
  source/tests/tf/test_descrpt_se_atten.py
  source/tests/tf/test_dipole_se_a_tebd.py
  source/tests/tf/test_model_se_a.py
  source/tests/tf/test_model_se_a_ebd_v2.py
  source/tests/tf/test_model_se_a_type.py
  source/tests/tf/test_model_se_atten.py
  source/tests/tf/test_nvnmd_entrypoints.py
  source/tests/tf/test_polar_se_a_tebd.py
  source/tests/tf/test_type_embed.py
  source/tests/universal/dpmodel/descriptor/test_descriptor.py
Labels: Python, breaking change

#3965 feat: add plugin entry point for PT
  deepmd/backend/__init__.py
  deepmd/pt/model/__init__.py
  deepmd/tf/__init__.py
  deepmd/utils/entry_point.py
  doc/development/create-a-model-pt.md
  doc/development/create-a-model-tf.md
Labels: Python, Docs

#3967 fix(pt): add `finetune_head` to argcheck
  deepmd/utils/argcheck.py
  source/tests/pt/model/water/multitask.json
  source/tests/pt/test_multitask.py
Labels: Python

#3971 feat(tf): improve the activation setting in tebd
  deepmd/tf/utils/type_embed.py
  examples/dprc/generalized_force/input.json
  examples/dprc/normal/input.json
  examples/dprc/pairwise/input.json
  examples/water/se_e2_a_tebd/input.json
Labels: Python, Examples

#3975 Fix: tf dipole atomic key
  deepmd/tf/loss/tensor.py
Labels: Python

#3976 fix(pt/tf/dp): normalize the econf
  deepmd/dpmodel/utils/type_embed.py
Labels: Python

#3981 docs: document `PYTORCH_ROOT`
  doc/install/install-from-source.md
Labels: Docs

#3982 docs: Disallow improper capitalization
  .github/labeler.yml
  .pre-commit-config.yaml
  README.md
  codecov.yml
  deepmd/infer/model_devi.py
  deepmd/utils/argcheck.py
  doc/data/data-conv.md
  doc/development/create-a-model-pt.md
  doc/getting-started/quick_start.ipynb
  doc/install/easy-install.md
  doc/install/install-from-source.md
  doc/install/install-gromacs.md
  doc/third-party/gromacs.md
  doc/train/multi-task-training-pt.md
  doc/troubleshooting/installation.md
  source/cmake/Findtensorflow.cmake
  source/gmx/dp_gmx_patch
  source/gmx/patches/2020.2/CMakeLists.txt.patch.in
  source/gmx/patches/2020.2/src/gromacs/mdlib/sim_util.cpp.patch
  source/install/build_tf.py
Labels: Python, Gromacs, Docs

#3980 fix(pt): ensure suffix of `--init_model` and `--restart` is `.pt`
  deepmd/pt/entrypoints/main.py
Labels: Python

#3985 fix(pt): do not overwrite disp_file when restarting training
  deepmd/pt/train/training.py
Labels: Python

#3987 fix(cc): compile `select_map<int>` when TensorFlow backend is off
  source/api_cc/src/common.cc
Labels: C++

#3992 fix(pt): make 'find_' to be float in get data
  deepmd/pt/train/training.py
Labels: Python

#3989 feat: add documentation and options for multi-task arguments
  deepmd/entrypoints/doc.py
  deepmd/main.py
  deepmd/utils/argcheck.py
  deepmd/utils/argcheck_nvnmd.py
  doc/train/multi-task-training-pt.md
  pyproject.toml
  source/tests/common/test_doc_train_input.py
Labels: Python, Docs

#3978 fix float precision problem of se_atten in line 217 (#3961)
  deepmd/tf/nvnmd/descriptor/se_atten.py
  deepmd/tf/nvnmd/entrypoints/wrap.py
Labels: Python

#3995 feat: allow model arguments to be registered outside
  deepmd/utils/argcheck.py
Labels: Python

#4005 fix: fix errors for zero atom inputs
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/dpmodel/utils/nlist.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_t.py
  deepmd/pt/model/model/spin_model.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/polarizability.py
  deepmd/pt/utils/nlist.py
  source/tests/universal/common/cases/model/utils.py
Labels: Python

#4001 style: require explicit device and dtype
  .pre-commit-config.yaml
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/fitting/polarizability_fitting.py
  deepmd/dpmodel/infer/deep_eval.py
  deepmd/dpmodel/utils/nlist.py
  deepmd/infer/model_devi.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/pt/model/descriptor/gaussian_lcc.py
  deepmd/pt/model/descriptor/repformer_layer_old_impl.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_t.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/network/network.py
  deepmd/pt/model/task/atten_lcc.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/optimizer/LKF.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/nlist.py
  deepmd/pt/utils/preprocess.py
  deepmd/pt/utils/stat.py
  deepmd/tf/descriptor/descriptor.py
  deepmd/tf/descriptor/loc_frame.py
  deepmd/tf/descriptor/se_a.py
  deepmd/tf/descriptor/se_a_ef.py
  deepmd/tf/descriptor/se_a_mask.py
  deepmd/tf/descriptor/se_atten.py
  deepmd/tf/descriptor/se_r.py
  deepmd/tf/descriptor/se_t.py
  deepmd/tf/fit/polar.py
  deepmd/tf/infer/data_modifier.py
  deepmd/tf/infer/deep_eval.py
  deepmd/tf/infer/deep_tensor.py
  deepmd/tf/model/model.py
  deepmd/tf/model/pairtab.py
  deepmd/tf/nvnmd/descriptor/se_atten.py
  deepmd/tf/nvnmd/entrypoints/mapt.py
  deepmd/tf/nvnmd/entrypoints/wrap.py
  deepmd/tf/utils/nlist.py
  deepmd/tf/utils/tabulate.py
  deepmd/tf/utils/type_embed.py
  deepmd/utils/data.py
  deepmd/utils/data_system.py
  deepmd/utils/out_stat.py
  deepmd/utils/pair_tab.py
  deepmd/utils/spin.py
  pyproject.toml
  source/checker/README.md
  source/checker/deepmd_checker.py
Labels: Python

#4002 feat: add `get_model` classmethod to `BaseModel`
  deepmd/dpmodel/model/base_model.py
  deepmd/dpmodel/model/model.py
  deepmd/pt/model/model/__init__.py
Labels: Python

#4006 fix(pt): optimize graph memory usage
  deepmd/pt/entrypoints/main.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/model/transform_output.py
Labels: Python, LAMMPS

#3993 fix(pt): fix lammps nlist sort with large sel
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/make_base_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/dpmodel/descriptor/descriptor.py
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/dpmodel/descriptor/hybrid.py
  deepmd/dpmodel/descriptor/make_base_descriptor.py
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/dpmodel/descriptor/se_t.py
  deepmd/dpmodel/model/make_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/hybrid.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_t.py
  deepmd/pt/model/model/dipole_model.py
  deepmd/pt/model/model/dos_model.py
  deepmd/pt/model/model/dp_zbl_model.py
  deepmd/pt/model/model/ener_model.py
  deepmd/pt/model/model/frozen.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/model/polar_model.py
  deepmd/pt/model/model/spin_model.py
  source/lmp/tests/test_lammps_dpa_sel_pt.py
  source/tests/infer/deeppot_dpa_sel.pth
  source/tests/universal/common/cases/model/utils.py
Labels: Python, LAMMPS

#3996 fix(cc): add `atomic` argument to `DeepPotBase::computew`
  source/api_cc/include/DeepPot.h
  source/api_cc/include/DeepPotPT.h
  source/api_cc/include/DeepPotTF.h
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/DeepPotTF.cc
Labels: C++

#4012 fix(lmp): call model deviation interface without atomic properties when they are not requested
  source/lmp/pair_deepmd.cpp
Labels: LAMMPS

#4013 add unittest for virial and pe/atom
  source/lmp/tests/test_lammps.py
Labels: LAMMPS

#4020 fix(2024Q1): optimize graph memory (copy #4006)
  deepmd/pt/entrypoints/main.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/model/transform_output.py
Labels: Python

#4010 fix(c): call C++ interface without atomic properties when they are not requested
  source/api_c/src/c_api.cc
Labels: C

#4007 fix(pt): fix `get_dim` for `DescrptDPA1Compat`
  deepmd/tf/descriptor/se_atten.py
  source/tests/consistent/descriptor/common.py
Labels: Python

#4021 fix(cc): fix message passing when nloc is 0
  source/api_cc/src/DeepPotPT.cc
  source/lmp/tests/test_lammps_dpa_pt.py
  source/lmp/tests/test_lammps_dpa_sel_pt.py
  source/tests/infer/deeppot_dpa.pth
  source/tests/infer/deeppot_dpa_sel.pth
  source/tests/infer/deeppot_sea.pth
  source/tests/infer/fparam_aparam.pth
Labels: Python, C++, LAMMPS

#4015 fix(pt): use user seed in `DpLoaderSet`
  deepmd/pt/entrypoints/main.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/dataloader.py
Labels: Python

#4024 style: enable N804 and N805
  .pre-commit-config.yaml
  deepmd/pt/model/task/ener.py
  deepmd/utils/plugin.py
  pyproject.toml
  source/tests/tf/test_adjust_sel.py
  source/tests/tf/test_finetune_se_atten.py
  source/tests/tf/test_model_compression_se_a.py
  source/tests/tf/test_model_compression_se_a_ebd.py
  source/tests/tf/test_model_compression_se_a_ebd_type_one_side.py
  source/tests/tf/test_model_compression_se_a_type_one_side_exclude_types.py
  source/tests/tf/test_model_compression_se_atten.py
  source/tests/tf/test_model_compression_se_r.py
  source/tests/tf/test_model_compression_se_t.py
  source/tests/tf/test_transfer.py
Labels: Python

#4025 feat: plain text model format
  deepmd/backend/dpmodel.py
  deepmd/dpmodel/utils/serialization.py
  doc/backend.md
  source/tests/common/dpmodel/test_network.py
Labels: Python, Docs

#4027 fix: fix nopbc in dpdata driver
  deepmd/driver.py
Labels: Python

#4032 fix:fix LAMMPS MPI tests with mpi4py 4.0.0
  source/lmp/tests/run_mpi_pair_deepmd.py
Labels: LAMMPS

#4031 fix(pt): invalid type_map when multitask training
  deepmd/pt/entrypoints/main.py
Labels: Python
