Repository deepmodeling/deepmd-kit, pull requests merged in 2024-10, with the labels that each got.

#4179 chore: bump LAMMPS to stable_29Aug2024_update1
  doc/install/install-lammps.md
  pyproject.toml
  source/install/build_cc.sh
  source/install/build_from_c.sh
  source/install/build_lammps.sh
  source/install/test_cc.sh
  source/install/test_cc_local.sh
Labels: Docs

#4172 fix(tf): set visible_device_list for TF C++
  source/api_cc/src/DataModifierTF.cc
  source/api_cc/src/DeepPotTF.cc
  source/api_cc/src/DeepTensorTF.cc
Labels: C++

#4180 fix(tf): throw errors when loc_cellnum is 0
  source/lib/src/coord.cc
Labels: Core

#4178 docs: add documentation for installation requirements of DPA-2
  deepmd/pt/model/descriptor/repformers.py
  doc/model/dpa2.md
Labels: Python, Docs

#4187 chore: use `functools.cached_property` for cached properties
  deepmd/tf/infer/deep_eval.py
  deepmd/tf/utils/tabulate.py
  deepmd/utils/data_system.py
Labels: Python

#4190 docs: document more for multiprocessing
  doc/third-party/lammps-command.md
  doc/troubleshooting/howtoset_num_nodes.md
Labels: Docs

#4196 chore: cache `deserialized_module` and `script_module`
  source/tests/universal/dpmodel/backend.py
  source/tests/universal/pt/backend.py
Labels: Python

#4200 chore(ci): skip more tests on GPU CI
  source/tests/consistent/common.py
  source/tests/universal/common/cases/model/utils.py
  source/tests/universal/dpmodel/atomc_model/test_atomic_model.py
  source/tests/universal/dpmodel/descriptor/test_descriptor.py
  source/tests/universal/dpmodel/fitting/test_fitting.py
  source/tests/universal/dpmodel/model/test_model.py
  source/tests/universal/dpmodel/utils/test_type_embed.py
  source/tests/utils.py
Labels: Python

#4199 chore(tf): filter TF deprecation warnings
  deepmd/tf/env.py
Labels: Python

#4204 feat(jax/array-api): energy fitting
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/utils/exclude_mask.py
  deepmd/jax/fitting/__init__.py
  deepmd/jax/fitting/fitting.py
  deepmd/jax/utils/exclude_mask.py
  source/tests/array_api_strict/fitting/__init__.py
  source/tests/array_api_strict/fitting/fitting.py
  source/tests/array_api_strict/utils/exclude_mask.py
  source/tests/consistent/fitting/test_ener.py
Labels: Python

#4205 Chore: refactor get standard model
  deepmd/pt/model/model/__init__.py
Labels: Python

#4214 feat(pt): support `DeepEval.eval_descriptor`
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/model/dp_model.py
  source/tests/infer/test_models.py
Labels: Python

#4212 fix: fix average training time for restart
  deepmd/pt/train/training.py
  deepmd/tf/train/trainer.py
Labels: Python

#4209 fix(pt): keep mapping not none during lmp steps when nghost == 0
  source/api_cc/include/DeepPotPT.h
  source/api_cc/src/DeepPotPT.cc
Labels: C++

#4217 feat(jax/array-api): se_e2_a
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/utils/nlist.py
  deepmd/jax/descriptor/se_e2_a.py
  source/tests/array_api_strict/descriptor/se_e2_a.py
  source/tests/consistent/descriptor/test_se_e2_a.py
Labels: Python

#4218 feat(jax/array-api): DOS fitting
  deepmd/dpmodel/fitting/dos_fitting.py
  deepmd/jax/fitting/fitting.py
  source/tests/array_api_strict/fitting/fitting.py
  source/tests/consistent/fitting/test_dos.py
Labels: Python

#4221 fix(pt): make PT training step idx consistent with TF
  deepmd/pt/train/training.py
Labels: Python

#4225 Chore(pt): refactor the command function interface
  deepmd/pt/entrypoints/main.py
  source/tests/pt/model/test_deeppot.py
  source/tests/pt/test_init_frz_model.py
Labels: Python

#4223 Chore(pt):rm old pt implementation
  deepmd/dpmodel/fitting/dipole_fitting.py
  deepmd/dpmodel/fitting/polarizability_fitting.py
  deepmd/pt/model/backbone/__init__.py
  deepmd/pt/model/backbone/backbone.py
  deepmd/pt/model/backbone/evoformer2b.py
  deepmd/pt/model/descriptor/__init__.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/gaussian_lcc.py
  deepmd/pt/model/descriptor/repformer_layer_old_impl.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_atten_v2.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/network/network.py
  deepmd/pt/model/task/__init__.py
  deepmd/pt/model/task/atten_lcc.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/model/task/polarizability.py
  source/tests/pt/model/test_descriptor_hybrid.py
  source/tests/pt/model/test_descriptor_se_r.py
  source/tests/pt/model/test_dpa1.py
  source/tests/pt/model/test_dpa2.py
  source/tests/pt/model/test_embedding_net.py
  source/tests/pt/model/test_ener_fitting.py
  source/tests/pt/model/test_se_atten_v2.py
  source/tests/pt/model/test_se_e2_a.py
Labels: Python

#4219 chore: move `LearningRateExp` to `deepmd.utils.learning_rate`
  deepmd/dpmodel/utils/learning_rate.py
  deepmd/pt/utils/learning_rate.py
Labels: Python

#4233 fix(pt): remove deprecating torch.norm
  deepmd/pt/utils/nlist.py
Labels: Python

#4226 feat(jax): energy model (no grad support)
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/model/make_model.py
  deepmd/dpmodel/model/transform_output.py
  deepmd/jax/atomic_model/__init__.py
  deepmd/jax/atomic_model/base_atomic_model.py
  deepmd/jax/atomic_model/dp_atomic_model.py
  deepmd/jax/descriptor/__init__.py
  deepmd/jax/descriptor/base_descriptor.py
  deepmd/jax/descriptor/dpa1.py
  deepmd/jax/descriptor/se_e2_a.py
  deepmd/jax/fitting/__init__.py
  deepmd/jax/fitting/base_fitting.py
  deepmd/jax/fitting/fitting.py
  deepmd/jax/model/__init__.py
  deepmd/jax/model/base_model.py
  deepmd/jax/model/ener_model.py
  deepmd/jax/model/model.py
  source/tests/consistent/model/common.py
  source/tests/consistent/model/test_ener.py
Labels: Python

#4238 docs: fix docs for CMAKE_ARGS
  doc/install/install-from-source.md
Labels: Docs

#4239 docs: fix parameter links
  deepmd/utils/argcheck.py
  doc/freeze/compress.md
  doc/model/dplr.md
  doc/model/dprc.md
  doc/model/overall.md
  doc/model/train-energy-spin.md
  doc/model/train-energy.md
  doc/model/train-fitting-dos.md
  doc/model/train-fitting-tensor.md
  doc/model/train-hybrid.md
  doc/model/train-se-a-mask.md
  doc/model/train-se-atten.md
  doc/model/train-se-e2-a.md
  doc/model/train-se-e2-r.md
  doc/model/train-se-e3-tebd.md
  doc/model/train-se-e3.md
  doc/train/finetuning.md
  doc/train/gpu-limitations.md
  doc/train/training-advanced.md
Labels: Python, Docs

#4237 fix(cc): fix message passing when nghost is 0 and send list is empty
  source/api_cc/src/DeepPotPT.cc
  source/lmp/tests/test_lammps_dpa_pt_nopbc.py
  source/op/pt/comm.cc
Labels: OP, C++, LAMMPS

#4224 feat(pt): support CPU parallel training with PT
  deepmd/pt/entrypoints/main.py
Labels: Python

#4222 fix(pt): make int `rcut` safe after jit op
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/descriptor/repformer_layer.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_t.py
  deepmd/pt/model/descriptor/se_t_tebd.py
  deepmd/pt/utils/neighbor_stat.py
  source/tests/pt/model/test_jit.py
Labels: Python

#4244 Chore(pt): slim uts for dpa1
  source/tests/consistent/descriptor/test_dpa1.py
Labels: Python

#4247 style: extend no-explicit-dtype check to xp and jnp
  deepmd/dpmodel/array_api.py
  source/checker/deepmd_checker.py
Labels: Python

#4241 fix(np/pt): explicit dtype and device.
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/dpmodel/common.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/fitting/polarizability_fitting.py
  deepmd/dpmodel/infer/deep_eval.py
  deepmd/dpmodel/utils/nlist.py
  deepmd/infer/model_devi.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_t.py
  deepmd/pt/model/descriptor/se_t_tebd.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/nlist.py
  deepmd/pt/utils/stat.py
  deepmd/utils/data.py
  deepmd/utils/data_system.py
  deepmd/utils/out_stat.py
  deepmd/utils/pair_tab.py
  deepmd/utils/spin.py
  source/tests/common/test_auto_batch_size.py
  source/tests/common/test_common.py
Labels: Python

#4248 feat(pt): support loss plugin for external package
  deepmd/pt/loss/loss.py
  deepmd/pt/train/training.py
Labels: Python

#4257 feat(jax/array-api): se_e2_r
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/jax/descriptor/__init__.py
  deepmd/jax/descriptor/se_e2_r.py
  source/tests/array_api_strict/descriptor/se_e2_r.py
  source/tests/consistent/descriptor/test_se_r.py
Labels: Python

#4243 fix(tf): fix compress suffix in DescrptDPA1Compat
  deepmd/tf/descriptor/se_atten.py
  deepmd/tf/utils/compress.py
  deepmd/tf/utils/tabulate.py
  source/tests/tf/test_model_compression_dpa1_compat_suffix_only.py
Labels: Python

#4261 fix(pt): set device for PT C++
  source/api_cc/src/DeepPotPT.cc
Labels: C++

#4240 docs: document the floating-point precision of the model
  doc/development/create-a-model-pt.md
  doc/model/index.rst
  doc/model/precision.md
  doc/troubleshooting/precision.md
Labels: Docs

#4269 fix(lmp): apply NEIGHMASK to neighbor list
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_cc/src/common.cc
  source/lib/include/neighbor_list.h
  source/lmp/compute_deeptensor_atom.cpp
  source/lmp/fix_dplr.cpp
  source/lmp/pair_deepmd.cpp
Labels: Core, C++, LAMMPS, C

#4251 feat(jax): force & virial
  deepmd/dpmodel/model/make_model.py
  deepmd/dpmodel/model/transform_output.py
  deepmd/dpmodel/utils/env_mat.py
  deepmd/jax/common.py
  deepmd/jax/env.py
  deepmd/jax/model/base_model.py
  deepmd/jax/model/ener_model.py
  source/tests/consistent/common.py
  source/tests/consistent/model/common.py
  source/tests/consistent/model/test_ener.py
Labels: Python

#4256 feat(jax): freeze to StableXLO & DeepEval
  deepmd/backend/jax.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/model/make_model.py
  deepmd/dpmodel/utils/serialization.py
  deepmd/jax/env.py
  deepmd/jax/infer/__init__.py
  deepmd/jax/infer/deep_eval.py
  deepmd/jax/model/hlo.py
  deepmd/jax/utils/serialization.py
  source/tests/consistent/io/test_io.py
Labels: Python

#4271 fix(lmp): update print_summary
  source/lmp/deepmd_version.h.in
  source/lmp/pair_deepmd.cpp
Labels: LAMMPS

#4275 feat(jax/array-api): hybrid descriptor
  deepmd/dpmodel/descriptor/hybrid.py
  deepmd/jax/descriptor/__init__.py
  deepmd/jax/descriptor/hybrid.py
  doc/model/train-hybrid.md
  source/tests/array_api_strict/descriptor/__init__.py
  source/tests/array_api_strict/descriptor/base_descriptor.py
  source/tests/array_api_strict/descriptor/dpa1.py
  source/tests/array_api_strict/descriptor/hybrid.py
  source/tests/array_api_strict/descriptor/se_e2_a.py
  source/tests/array_api_strict/descriptor/se_e2_r.py
  source/tests/consistent/descriptor/test_hybrid.py
Labels: Python, Docs

#4278 feat(jax/array-api): dipole/polarizability fitting
  deepmd/dpmodel/fitting/dipole_fitting.py
  deepmd/dpmodel/fitting/polarizability_fitting.py
  deepmd/jax/fitting/__init__.py
  deepmd/jax/fitting/fitting.py
  doc/model/train-fitting-tensor.md
  source/tests/array_api_strict/fitting/fitting.py
  source/tests/consistent/fitting/test_dipole.py
  source/tests/consistent/fitting/test_polar.py
Labels: Python, Docs

#4280 fix(dptest): Wrong dptest results except for energy head
  deepmd/entrypoints/test.py
  source/tests/pt/test_dp_test.py
Labels: Python

#4283 Print the reminder for the illegal memory error in the AutoBatchSize under tf
  deepmd/tf/utils/batch_size.py
  deepmd/utils/batch_size.py
Labels: Python

#4284 feat(dpmodel/jax): add entry point for dpmodel and jax backend
  deepmd/dpmodel/__init__.py
  deepmd/jax/__init__.py
Labels: Python

#4285 fix(dpmodel/jax): fix fparam and aparam support in DeepEval
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/infer/deep_eval.py
  deepmd/jax/infer/deep_eval.py
  deepmd/jax/utils/serialization.py
  source/tests/consistent/io/test_io.py
Labels: Python
