Repository deepmodeling/deepmd-kit, pull requests merged in 2024-08, with the labels that each got.

#3994 fix(2024Q1): fix lammps nlist sort with large sel
  .github/workflows/build_wheel.yml
  .github/workflows/test_cuda.yml
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/make_base_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/dpmodel/descriptor/hybrid.py
  deepmd/dpmodel/descriptor/make_base_descriptor.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/dpmodel/model/make_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/hybrid.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/model/dipole_model.py
  deepmd/pt/model/model/dos_model.py
  deepmd/pt/model/model/dp_zbl_model.py
  deepmd/pt/model/model/ener_model.py
  deepmd/pt/model/model/frozen.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/model/polar_model.py
  deepmd/pt/model/model/spin_model.py
  deepmd/pt/model/model/transform_output.py
  source/lmp/tests/run_mpi_pair_deepmd.py
Labels: Python, LAMMPS

#4047 fix: fix PT AutoBatchSize OOM bug and merge execute_all into base
  deepmd/pt/utils/auto_batch_size.py
  deepmd/utils/batch_size.py
  doc/backend.md
  doc/install/install-from-source.md
  pyproject.toml
  source/tests/common/test_auto_batch_size.py
Labels: Python, Docs

#4052 feat: directional nlist
  deepmd/pt/utils/nlist.py
  source/tests/pt/model/test_nlist.py
Labels: Python

#4059 ci: test Python 3.12
  .github/workflows/test_python.yml
  source/tests/tf/test_parallel_training.py
Labels: Python

#4067 fix: replace `datetime.datetime.utcnow` which is deprecated
  deepmd/dpmodel/utils/serialization.py
  doc/conf.py
  pyproject.toml
Labels: Python, Docs

#4068 breaking: drop C++ 11
  doc/install/install-from-source.md
  source/CMakeLists.txt
Labels: Docs

#4070 docs: improve docs for environment variables
  doc/env.md
  doc/index.rst
  doc/inference/cxx.md
  doc/inference/nodejs.md
  doc/inference/python.md
  doc/install/install-from-source.md
  doc/third-party/ase.md
  doc/third-party/dpdata.md
  doc/third-party/gromacs.md
  doc/third-party/ipi.md
  doc/third-party/lammps-command.md
  doc/train/training-advanced.md
  doc/troubleshooting/howtoset_num_nodes.md
  source/api_cc/include/common.h
Labels: C++, Docs

#4071 docs: dynamically generate command outputs
  doc/conf.py
  doc/freeze/compress.md
  doc/install/install-from-source.md
  doc/test/model-deviation.md
  doc/test/test.md
  doc/train/training-advanced.md
  pyproject.toml
Labels: Docs

#4074 docs: improve error message for inconsistent type maps
  deepmd/utils/data_system.py
Labels: Python

#4075 docs: add multiple packages to `intersphinx_mapping`
  doc/conf.py
Labels: Docs

#4066 feat(pt/dp): support three-body type embedding
  deepmd/dpmodel/descriptor/__init__.py
  deepmd/dpmodel/descriptor/se_t_tebd.py
  deepmd/pt/model/descriptor/__init__.py
  deepmd/pt/model/descriptor/se_t_tebd.py
  deepmd/utils/argcheck.py
  doc/model/index.rst
  doc/model/train-se-e3-tebd.md
  examples/water/se_e3_tebd/input_torch.json
  source/tests/common/test_examples.py
  source/tests/consistent/descriptor/test_se_t_tebd.py
  source/tests/universal/dpmodel/atomc_model/test_atomic_model.py
  source/tests/universal/dpmodel/descriptor/test_descriptor.py
  source/tests/universal/dpmodel/model/test_model.py
  source/tests/universal/pt/atomc_model/test_atomic_model.py
  source/tests/universal/pt/descriptor/test_descriptor.py
  source/tests/universal/pt/model/test_model.py
Labels: Python, Docs, Examples

#4073 feat: load customized OP library in the C++ interface
  doc/development/create-a-model-pt.md
  doc/development/create-a-model-tf.md
  doc/env.md
  source/api_cc/src/common.cc
Labels: C++, Docs

#4079 docs: document CMake variables using Sphinx styles
  doc/conf.py
  doc/install/install-from-c-library.md
  doc/install/install-from-source.md
  pyproject.toml
Labels: Docs

#4083 docs: fix the default value of `DP_ENABLE_PYTORCH`
  doc/install/install-from-source.md
Labels: Docs
