Repository deepmodeling/deepmd-kit, pull requests merged in 2024-12, with the labels that each got.

#4446 fix(tf): pass `type_one_side` & `exclude_types` to `DPTabulate` in `se_r`
  deepmd/tf/descriptor/se_r.py
Labels: Python

#4433 Perf: remove redundant checks on data integrity
  deepmd/utils/data.py
  deepmd/utils/data_system.py
  deepmd/utils/path.py
Labels: Python

#4437 refactor: simplify dataset construction
  deepmd/pt/utils/dataloader.py
  deepmd/utils/path.py
Labels: Python

#4452 feat: add method to access fele in pppm/dplr
  source/lmp/pppm_dplr.h
Labels: LAMMPS

#4459 fix(cc): copy nloc atoms from neighbor list
  source/api_cc/include/common.h
  source/api_cc/src/DeepPotJAX.cc
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/DeepSpinPT.cc
  source/api_cc/src/common.cc
Labels: C++

#4414 pd: support dpa1
  deepmd/pd/entrypoints/main.py
  deepmd/pd/loss/ener.py
  deepmd/pd/model/atomic_model/dp_atomic_model.py
  deepmd/pd/model/descriptor/__init__.py
  deepmd/pd/model/descriptor/dpa1.py
  deepmd/pd/model/descriptor/env_mat.py
  deepmd/pd/model/descriptor/se_a.py
  deepmd/pd/model/descriptor/se_atten.py
  deepmd/pd/model/model/ener_model.py
  deepmd/pd/model/model/make_model.py
  deepmd/pd/model/network/layernorm.py
  deepmd/pd/model/network/network.py
  deepmd/pd/model/task/fitting.py
  deepmd/pd/train/training.py
  deepmd/pd/train/wrapper.py
  deepmd/pd/utils/dataloader.py
  deepmd/pd/utils/decomp.py
  deepmd/pd/utils/env.py
  deepmd/pd/utils/exclude_mask.py
  deepmd/pd/utils/nlist.py
  deepmd/pd/utils/region.py
  deepmd/pd/utils/utils.py
  source/tests/consistent/descriptor/test_dpa1.py
  source/tests/consistent/model/test_dpa1.py
  source/tests/pd/common.py
  source/tests/pd/model/models/dpa1.json
  source/tests/pd/model/models/dpa1.pd
  source/tests/pd/model/models/dpa2_tebd.pd
  source/tests/pd/model/test_atomic_model_atomic_stat.py
  source/tests/pd/model/test_atomic_model_global_stat.py
  source/tests/pd/model/test_autodiff.py
  source/tests/pd/model/test_descriptor.py
  source/tests/pd/model/test_descriptor_dpa1.py
  source/tests/pd/model/test_dpa1.py
  source/tests/pd/model/test_env_mat.py
  source/tests/pd/model/test_forward_lower.py
  source/tests/pd/model/test_null_input.py
  source/tests/pd/model/test_permutation.py
  source/tests/pd/model/test_permutation_denoise.py
  source/tests/pd/model/test_rot.py
  source/tests/pd/model/test_rot_denoise.py
  source/tests/pd/model/test_saveload_dpa1.py
  source/tests/pd/model/test_smooth.py
  source/tests/pd/model/test_trans.py
  source/tests/pd/model/test_trans_denoise.py
  source/tests/pd/model/water/multitask_sharefit.json
  source/tests/pd/test_decomp.py
  source/tests/pd/test_finetune.py
  source/tests/pd/test_multitask.py
  source/tests/pd/test_training.py
Labels: Python

#4463 Perf: use fused Adam optimizer
  deepmd/pt/train/training.py
Labels: Python

#4466 feat (tf/pt): add atomic weights to tensor loss
  deepmd/pt/loss/tensor.py
  deepmd/tf/loss/tensor.py
  deepmd/utils/argcheck.py
  source/tests/pt/test_loss_tensor.py
Labels: Python

#4480 pd: fix learning rate setting when resume
  deepmd/pd/train/training.py
Labels: Python

#4482 docs: update deepmd-gnn URL
  doc/development/create-a-model-pt.md
  doc/third-party/out-of-deepmd-kit.md
Labels: Docs

#4483 docs: update DPA-2 citation
  CITATIONS.bib
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/pt/model/descriptor/dpa2.py
  doc/credits.rst
  doc/model/dpa2.md
  doc/train/finetuning.md
  doc/train/multi-task-training.md
Labels: Python, Docs

#4484 docs: fix a minor typo on the title of `install-from-c-library.md`
  doc/install/install-from-c-library.md
Labels: Docs

#4485 fix: print dlerror if dlopen fails
  source/api_cc/src/common.cc
  source/lib/src/gpu/cudart/cudart_stub.cc
Labels: Core, CUDA, ROCM, C++

#4493 pd: fix oom error
  deepmd/pd/utils/auto_batch_size.py
Labels: Python

#4488 pd: add missing `dp.eval()` in pd backend
  deepmd/pd/infer/deep_eval.py
  deepmd/pd/utils/region.py
Labels: Python

#4476 feat(pt): add dpa3 alpha descriptor
  deepmd/dpmodel/descriptor/dpa3.py
  deepmd/pt/loss/ener.py
  deepmd/pt/model/descriptor/__init__.py
  deepmd/pt/model/descriptor/dpa3.py
  deepmd/pt/model/descriptor/repflow_layer.py
  deepmd/pt/model/descriptor/repflows.py
  deepmd/pt/utils/utils.py
  deepmd/utils/argcheck.py
  source/tests/pt/model/test_dpa3.py
  source/tests/universal/dpmodel/descriptor/test_descriptor.py
  source/tests/universal/pt/descriptor/test_descriptor.py
  source/tests/universal/pt/model/test_model.py
Labels: Python

#4479 fix: fix seed with multiple ranks
  deepmd/pd/entrypoints/main.py
  deepmd/pd/utils/dataloader.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/utils/dataloader.py
  deepmd/tf/entrypoints/train.py
  deepmd/utils/random.py
Labels: Python

#4471 Refactor property fitting interface
  deepmd/dpmodel/atomic_model/__init__.py
  deepmd/dpmodel/atomic_model/property_atomic_model.py
  deepmd/dpmodel/fitting/property_fitting.py
  deepmd/dpmodel/model/property_model.py
  deepmd/entrypoints/test.py
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_property.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/loss/property.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/property_atomic_model.py
  deepmd/pt/model/model/property_model.py
  deepmd/pt/model/task/property.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/stat.py
  deepmd/utils/argcheck.py
  deepmd/utils/out_stat.py
  doc/model/index.rst
  doc/model/train-fitting-property.md
  examples/property/data/data_0/set.000000/band_prop.npy
  examples/property/data/data_1/set.000000/band_prop.npy
  examples/property/data/data_2/set.000000/band_prop.npy
  examples/property/train/README.md
  examples/property/train/input_torch.json
  source/tests/common/test_out_stat.py
  source/tests/consistent/fitting/test_property.py
  source/tests/consistent/model/test_property.py
  source/tests/pd/model/test_permutation.py
  source/tests/pt/model/test_permutation.py
  source/tests/pt/model/test_property_fitting.py
  source/tests/pt/property/double/nopbc
  source/tests/pt/property/double/set.000000/band_property.npy
  source/tests/pt/property/double/set.000000/coord.npy
  source/tests/pt/property/double/set.000000/real_atom_types.npy
  source/tests/pt/property/double/type.raw
  source/tests/pt/property/double/type_map.raw
  source/tests/pt/property/input.json
  source/tests/pt/property/single/set.000000/band_property.npy
  source/tests/pt/test_dp_test.py
  source/tests/pt/test_training.py
  source/tests/universal/common/cases/model/model.py
  source/tests/universal/dpmodel/fitting/test_fitting.py
  source/tests/universal/dpmodel/loss/test_loss.py
Labels: Python, Docs, Examples

#4418 pd: support dpa2
  deepmd/pd/model/descriptor/__init__.py
  deepmd/pd/model/descriptor/dpa2.py
  deepmd/pd/model/descriptor/repformer_layer.py
  deepmd/pd/model/descriptor/repformers.py
  deepmd/pd/model/descriptor/se_t_tebd.py
  deepmd/pd/model/task/fitting.py
  deepmd/pd/utils/multi_task.py
  deepmd/pd/utils/spin.py
  source/tests/consistent/descriptor/test_dpa2.py
  source/tests/consistent/descriptor/test_se_t_tebd.py
  source/tests/pd/model/models/dpa2.json
  source/tests/pd/model/models/dpa2.pd
  source/tests/pd/model/test_autodiff.py
  source/tests/pd/model/test_descriptor_dpa2.py
  source/tests/pd/model/test_dpa2.py
  source/tests/pd/model/test_forward_lower.py
  source/tests/pd/model/test_null_input.py
  source/tests/pd/model/test_permutation.py
  source/tests/pd/model/test_rot.py
  source/tests/pd/model/test_rot_denoise.py
  source/tests/pd/model/test_smooth.py
  source/tests/pd/model/test_trans.py
  source/tests/pd/model/test_unused_params.py
  source/tests/pd/model/water/multitask.json
  source/tests/pd/model/water/multitask_sharefit.json
  source/tests/pd/test_finetune.py
  source/tests/pd/test_multitask.py
  source/tests/pd/test_training.py
  source/tests/pd/test_update_sel.py
Labels: Python, LAMMPS, Docs, Examples

#4505 Perf: replace unnecessary `torch.split` with indexing
  deepmd/pt/model/descriptor/repformer_layer.py
  deepmd/pt/utils/nlist.py
Labels: Python

#4507 docs: fix the header of the scaling test table
  doc/train/parallel-training.md
Labels: Docs

#4508 chore: fix spelling PRECISON -> PRECISION
  deepmd/dpmodel/common.py
  deepmd/dpmodel/model/make_model.py
  deepmd/pd/infer/deep_eval.py
  deepmd/pd/model/descriptor/dpa1.py
  deepmd/pd/model/descriptor/se_a.py
  deepmd/pd/model/descriptor/se_t_tebd.py
  deepmd/pd/model/model/make_model.py
  deepmd/pd/utils/env.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten_v2.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_t.py
  deepmd/pt/model/descriptor/se_t_tebd.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/utils/env.py
Labels: Python

#4510 Fix: Modify docs of DPA models
  doc/model/dpa2.md
  doc/model/train-se-atten.md
  doc/train/finetuning.md
Labels: Docs

#4478 Perf: load data systems on rank 0
  deepmd/pt/utils/dataloader.py
Labels: Python

#4512 pd: fix typo in deepmd-kit-tmp/deepmd/pd/utils/dataloader.py
  deepmd/pd/utils/dataloader.py
Labels: Python

#4169 feat(pt): train with energy Hessian
  deepmd/calculator.py
  deepmd/dpmodel/infer/deep_eval.py
  deepmd/driver.py
  deepmd/entrypoints/test.py
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_pot.py
  deepmd/jax/infer/deep_eval.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/infer/inference.py
  deepmd/pt/loss/__init__.py
  deepmd/pt/loss/ener.py
  deepmd/pt/model/descriptor/env_mat.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/model/ener_model.py
  deepmd/pt/model/model/make_hessian_model.py
  deepmd/pt/train/training.py
  deepmd/utils/argcheck.py
  deepmd/utils/data.py
  doc/data/system.md
  doc/model/index.rst
  doc/model/overall.md
  doc/model/train-energy-hessian.md
  examples/hessian/data/H10C5N2O/set.000/box.npy
  examples/hessian/data/H10C5N2O/set.000/coord.npy
  examples/hessian/data/H10C5N2O/set.000/energy.npy
  examples/hessian/data/H10C5N2O/set.000/force.npy
  examples/hessian/data/H10C5N2O/set.000/hessian.npy
  examples/hessian/data/H10C5N2O/type.raw
  examples/hessian/data/H10C5N2O/type_map.raw
  examples/hessian/data/H8C4N2O/set.000/box.npy
  examples/hessian/data/H8C4N2O/set.000/coord.npy
  examples/hessian/data/H8C4N2O/set.000/energy.npy
  examples/hessian/data/H8C4N2O/set.000/force.npy
  examples/hessian/data/H8C4N2O/set.000/hessian.npy
  examples/hessian/data/H8C4N2O/type.raw
  examples/hessian/data/H8C4N2O/type_map.raw
  examples/hessian/multi_task/input.json
  examples/hessian/single_task/input.json
  source/tests/common/test_examples.py
  source/tests/infer/test_models.py
  source/tests/pt/hessian/data/H8C4N2O/set.000/box.npy
  source/tests/pt/hessian/data/H8C4N2O/set.000/coord.npy
  source/tests/pt/hessian/data/H8C4N2O/set.000/energy.npy
  source/tests/pt/hessian/data/H8C4N2O/set.000/force.npy
  source/tests/pt/hessian/data/H8C4N2O/set.000/hessian.npy
  source/tests/pt/hessian/data/H8C4N2O/type.raw
  source/tests/pt/hessian/data/H8C4N2O/type_map.raw
  source/tests/pt/model/test_dp_hessian_model.py
  source/tests/pt/test_change_bias.py
  source/tests/pt/test_loss.py
Labels: Python, Docs, Examples
