Repository deepmodeling/deepmd-kit, pull requests merged in 2024-05, with the labels that each got.

#3737 feat(C): add preprocessor define for C API version
  source/api_c/include/c_api.h
Labels: C

#3739 Replacing long int type with int64_t
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/DeepPotTF.cc
  source/op/pt/comm.cc
Labels: OP, C++

#3727 Clarifiy se_atten_v2 compression doc
  deepmd/utils/argcheck.py
  doc/freeze/compress.md
  doc/model/train-se-atten.md
Labels: Python, Docs

#3740 pt: fix redundant size assert
  source/lmp/pair_deepmd.cpp
Labels: LAMMPS

#3712 feat: Support stripped type embedding in DPA1 of PT/DP
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/tf/descriptor/se_a.py
  deepmd/tf/descriptor/se_a_ebd_v2.py
  deepmd/tf/descriptor/se_a_mask.py
  deepmd/tf/descriptor/se_atten.py
  deepmd/tf/descriptor/se_atten_v2.py
  deepmd/tf/nvnmd/data/data.py
  deepmd/tf/utils/graph.py
  deepmd/utils/argcheck.py
  doc/model/train-se-atten.md
  examples/water/se_atten_dpa1_compat/input.json
  source/tests/consistent/descriptor/test_dpa1.py
  source/tests/pt/model/test_dpa1.py
  source/tests/tf/test_data_large_batch.py
  source/tests/tf/test_descrpt_se_atten.py
  source/tests/tf/test_finetune_se_atten.py
  source/tests/tf/test_init_frz_model_se_atten.py
  source/tests/tf/test_model_compression_se_atten.py
  source/tests/tf/test_model_se_atten.py
Labels: Python, Docs, Examples

#3715 tests: move init_models to setUpModule
  deepmd/tf/common.py
  source/tests/pt/test_multitask.py
  source/tests/tf/test_mixed_prec_training.py
  source/tests/tf/test_model_compression_se_a.py
  source/tests/tf/test_model_compression_se_a_ebd.py
  source/tests/tf/test_model_compression_se_a_ebd_type_one_side.py
  source/tests/tf/test_model_compression_se_atten.py
  source/tests/tf/test_model_compression_se_r.py
  source/tests/tf/test_model_compression_se_t.py
Labels: Python

#3717 docs: add doc for multitask fine-tuning
  doc/train/finetuning.md
  doc/train/multi-task-training-pt.md
  doc/train/multi-task-training-tf.md
Labels: Docs

#3748 bug: fix no raise `RuntimeError`
  deepmd/pt/utils/preprocess.py
Labels: Python

#3755 test: skip test of electronic_configuration_embedding if mendeleev is not installed
  .pre-commit-config.yaml
  source/tests/common/test_econf_embd.py
Labels: Python

#3757 Fix: ZBL test path
  source/tests/pt/model/test_permutation.py
Labels: Python

#3756 support DPA2 inference for 2024Q1
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_cc/src/DeepPotPT.cc
  source/lib/include/neighbor_list.h
  source/lmp/pair_deepmd.cpp
Labels: Core, C++, LAMMPS, C

#3718 bug: fix spin nlist in spin_model
  deepmd/pt/model/model/spin_model.py
  doc/model/train-energy-spin.md
  source/tests/pt/model/test_forward_lower.py
  source/tests/pt/model/test_permutation.py
Labels: Python, Docs

#3759 Fix: raise error for non mixed type model
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/descriptor/se_atten.py
  source/tests/common/dpmodel/test_linear_atomic_model.py
  source/tests/pt/model/test_linear_atomic_model.py
  source/tests/pt/model/test_permutation.py
Labels: Python

#3762 Add doc for spin data format
  doc/model/train-energy-spin.md
Labels: Docs

#3763 breaking: remove multi-task support in tf
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/main.py
  deepmd/tf/descriptor/hybrid.py
  deepmd/tf/descriptor/se_a.py
  deepmd/tf/descriptor/se_a_ebd_v2.py
  deepmd/tf/descriptor/se_atten.py
  deepmd/tf/descriptor/se_atten_v2.py
  deepmd/tf/descriptor/se_r.py
  deepmd/tf/descriptor/se_t.py
  deepmd/tf/entrypoints/freeze.py
  deepmd/tf/entrypoints/train.py
  deepmd/tf/env.py
  deepmd/tf/model/__init__.py
  deepmd/tf/model/multi.py
  deepmd/tf/train/trainer.py
  deepmd/tf/utils/multi_init.py
  deepmd/utils/argcheck.py
  doc/freeze/freeze.md
  doc/train/multi-task-training-tf.md
  examples/water_multi_task/ener_dipole/input.json
  source/tests/common/test_examples.py
  source/tests/tf/test_init_frz_model_multi.py
  source/tests/tf/test_layer_name.py
  source/tests/tf/test_model_multi.py
  source/tests/tf/test_nvnmd_entrypoints.py
  source/tests/tf/water_layer_name.json
  source/tests/tf/water_multi.json
Labels: Python, Docs, Examples

#3761 feat: descriptor provide get_rcut_smth and get_env_protection
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/dpmodel/descriptor/hybrid.py
  deepmd/dpmodel/descriptor/make_base_descriptor.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/hybrid.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/utils/env_mat_stat.py
  source/tests/common/dpmodel/test_descriptor_hybrid.py
  source/tests/pt/model/test_descriptor_hybrid.py
  source/tests/pt/model/test_dpa2.py
Labels: Python

#3768 breaking: seperate params in dpa2
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/utils/argcheck.py
  examples/water/dpa2/input_torch.json
  source/tests/common/dpmodel/test_descriptor_dpa2.py
  source/tests/consistent/descriptor/test_dpa2.py
  source/tests/pt/model/models/dpa2.json
  source/tests/pt/model/test_autodiff.py
  source/tests/pt/model/test_dpa2.py
  source/tests/pt/model/test_ener_spin_model.py
  source/tests/pt/model/test_forward_lower.py
  source/tests/pt/model/test_jit.py
  source/tests/pt/model/test_permutation.py
  source/tests/pt/model/test_permutation_denoise.py
  source/tests/pt/model/test_rot.py
  source/tests/pt/model/test_rot_denoise.py
  source/tests/pt/model/test_smooth.py
  source/tests/pt/model/test_smooth_denoise.py
  source/tests/pt/model/test_trans.py
  source/tests/pt/model/test_trans_denoise.py
  source/tests/pt/model/test_unused_params.py
Labels: Python, Examples

#3774 fix: lcurve header wrong when no validation data
  deepmd/pt/train/training.py
Labels: Python

#3775 feat(pt): support disp_training and time_training in pt
  deepmd/pt/train/training.py
Labels: Python

#3780 doc: update doc for mixed:N batch size
  deepmd/utils/argcheck.py
Labels: Python

#3782 feat(pt): support complete form energy loss
  deepmd/pt/loss/ener.py
  deepmd/pt/loss/ener_spin.py
  source/tests/pt/test_loss.py
Labels: Python

#3781 feat(pt/tf/dp): support econf type embedding
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/dpmodel/utils/type_embed.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/network/network.py
  deepmd/tf/descriptor/se_atten.py
  deepmd/tf/model/model.py
  deepmd/tf/model/pairwise_dprc.py
  deepmd/tf/utils/type_embed.py
  deepmd/utils/argcheck.py
  deepmd/utils/econf_embd.py
  source/tests/common/test_econf_embd.py
  source/tests/consistent/descriptor/test_dpa1.py
  source/tests/consistent/descriptor/test_dpa2.py
  source/tests/consistent/test_type_embedding.py
  source/tests/pt/model/test_dpa1.py
  source/tests/pt/model/test_dpa2.py
Labels: Python

#3785 chore(pt): lower the atol for dpa2 test
  source/tests/consistent/descriptor/test_dpa2.py
  source/tests/pt/model/test_dpa2.py
Labels: Python

#3784 tests: skip attention-related parameterize when attn_layer is 0
  source/tests/consistent/descriptor/test_dpa1.py
Labels: Python

#3792 chore: improve type anotations in deepmd.infer
  deepmd/dpmodel/infer/deep_eval.py
  deepmd/entrypoints/test.py
  deepmd/infer/deep_dos.py
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_polar.py
  deepmd/infer/deep_pot.py
  deepmd/infer/model_devi.py
  deepmd/pt/infer/deep_eval.py
  deepmd/tf/infer/deep_eval.py
  deepmd/tf/infer/deep_tensor.py
Labels: Python

#3793 style: enable W rules
  doc/getting-started/quick_start.ipynb
  pyproject.toml
  source/tests/pt/model/test_fitting_net.py
Labels: Python, Docs

#3773 feat: support seed for pt/dp models
  deepmd/dpmodel/utils/network.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/repformer_layer.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/network/init.py
  deepmd/pt/model/network/layernorm.py
  deepmd/pt/model/network/mlp.py
  deepmd/pt/model/network/network.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/utils.py
  source/tests/pt/model/test_forward_lower.py
Labels: Python

#3800 fix: remove `--input_script` from `dp test`
  deepmd/main.py
Labels: Python

#3812 Fix: PairTab Data
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  source/tests/pt/model/test_autodiff.py
  source/tests/pt/model/test_permutation.py
  source/tests/pt/model/test_smooth.py
  source/tests/pt/model/water/data/zbl_tab_potential/H2O_tab_potential.txt
Labels: Python

#3767 test(pt): add common test case for model/atomic model
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/model/make_model.py
  deepmd/dpmodel/utils/nlist.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  pyproject.toml
  source/tests/universal/__init__.py
  source/tests/universal/common/__init__.py
  source/tests/universal/common/backend.py
  source/tests/universal/common/cases/__init__.py
  source/tests/universal/common/cases/atomic_model/__init__.py
  source/tests/universal/common/cases/atomic_model/ener_model.py
  source/tests/universal/common/cases/atomic_model/utils.py
  source/tests/universal/common/cases/model/__init__.py
  source/tests/universal/common/cases/model/ener_model.py
  source/tests/universal/common/cases/model/utils.py
  source/tests/universal/dpmodel/__init__.py
  source/tests/universal/dpmodel/atomc_model/__init__.py
  source/tests/universal/dpmodel/atomc_model/test_ener_atomic_model.py
  source/tests/universal/dpmodel/backend.py
  source/tests/universal/dpmodel/model/__init__.py
  source/tests/universal/dpmodel/model/test_ener_model.py
  source/tests/universal/pt/__init__.py
  source/tests/universal/pt/atomc_model/__init__.py
  source/tests/universal/pt/atomc_model/test_ener_atomic_model.py
  source/tests/universal/pt/backend.py
  source/tests/universal/pt/model/__init__.py
  source/tests/universal/pt/model/test_ener_model.py
Labels: Python

#3794 feat(tf): pass rcut to PairTab
  deepmd/tf/model/ener.py
  deepmd/tf/model/model.py
  deepmd/tf/model/pairtab.py
  deepmd/utils/pair_tab.py
Labels: Python

#3810 docs: update DPA-1 reference
  CITATIONS.bib
  doc/credits.rst
Labels: Docs

#3814 fix: lower the atol for DPA2 corner case
  source/tests/consistent/descriptor/test_dpa2.py
Labels: Python

#3798 refactor: remove global data_requirements
  deepmd/common.py
  deepmd/tf/common.py
  deepmd/tf/descriptor/descriptor.py
  deepmd/tf/descriptor/se_a_ebd.py
  deepmd/tf/descriptor/se_a_ef.py
  deepmd/tf/entrypoints/train.py
  deepmd/tf/fit/dos.py
  deepmd/tf/fit/ener.py
  deepmd/tf/fit/fitting.py
  deepmd/tf/loss/dos.py
  deepmd/tf/loss/ener.py
  deepmd/tf/loss/loss.py
  deepmd/tf/loss/tensor.py
  deepmd/tf/model/frozen.py
  deepmd/tf/model/linear.py
  deepmd/tf/model/model.py
  deepmd/tf/model/pairtab.py
  deepmd/tf/model/pairwise_dprc.py
  deepmd/tf/train/trainer.py
  deepmd/utils/data.py
  deepmd/utils/data_system.py
  source/tests/pt/model/test_model.py
  source/tests/tf/test_data_modifier.py
  source/tests/tf/test_data_modifier_shuffle.py
  source/tests/tf/test_data_requirement.py
  source/tests/tf/test_loss_gf.py
  source/tests/tf/test_model_se_a.py
  source/tests/tf/test_model_se_a_aparam.py
  source/tests/tf/test_model_se_a_fparam.py
  source/tests/tf/test_pairwise_dprc.py
Labels: Python

#3801 lmp: improve error message when compute/fix is not found
  source/lmp/pair_deepmd.cpp
Labels: LAMMPS

#3816 chore: rename j_must_have to j_deprecated and only warn about deprecated keys
  deepmd/common.py
  deepmd/tf/common.py
  deepmd/tf/entrypoints/train.py
  deepmd/tf/train/trainer.py
  deepmd/utils/compat.py
  deepmd/utils/data_system.py
  source/tests/tf/test_data_large_batch.py
  source/tests/tf/test_data_modifier.py
  source/tests/tf/test_data_modifier_shuffle.py
  source/tests/tf/test_descrpt_hybrid.py
  source/tests/tf/test_descrpt_se_a_mask.py
  source/tests/tf/test_descrpt_se_a_type.py
  source/tests/tf/test_descrpt_se_atten.py
  source/tests/tf/test_dipole_se_a.py
  source/tests/tf/test_dipole_se_a_tebd.py
  source/tests/tf/test_fitting_dos.py
  source/tests/tf/test_fitting_ener_type.py
  source/tests/tf/test_model_dos.py
  source/tests/tf/test_model_loc_frame.py
  source/tests/tf/test_model_pairtab.py
  source/tests/tf/test_model_se_a.py
  source/tests/tf/test_model_se_a_aparam.py
  source/tests/tf/test_model_se_a_ebd.py
  source/tests/tf/test_model_se_a_ebd_v2.py
  source/tests/tf/test_model_se_a_fparam.py
  source/tests/tf/test_model_se_a_srtab.py
  source/tests/tf/test_model_se_a_type.py
  source/tests/tf/test_model_se_atten.py
  source/tests/tf/test_model_se_r.py
  source/tests/tf/test_model_se_t.py
  source/tests/tf/test_model_spin.py
  source/tests/tf/test_pairwise_dprc.py
  source/tests/tf/test_polar_se_a.py
  source/tests/tf/test_polar_se_a_tebd.py
  source/tests/tf/test_type_one_side.py
  source/tests/tf/test_virtual_type.py
Labels: Python

#3811 chore: cleanup out-of-date TODOs
  deepmd/common.py
  deepmd/pt/utils/env_mat_stat.py
Labels: Python

#3822 Add a reminder for the illegal memory error
  deepmd/utils/batch_size.py
Labels: Python

#3824 fix: PT polar UT
  source/tests/pt/model/test_polarizability_fitting.py
Labels: Python

#3827 fix(2024Q1): build nlist faster with `torch.amax`
  deepmd/pt/utils/nlist.py
Labels: Python

#3826 fix(pt): build nlist faster with `torch.amax`
  deepmd/pt/utils/nlist.py
Labels: Python

#3796 feat(pt): Add command to check the available model branches in multi-task pre-trained model(Issue #3742)
  deepmd/main.py
  deepmd/pt/entrypoints/main.py
  doc/train/finetuning.md
  source/tests/pt/common.py
  source/tests/pt/test_dp_show.py
Labels: Python, Docs

#3838 fix(pt): loose tolerance for TransTest
  source/tests/pt/model/test_trans.py
Labels: Python

#3832 docs: improve se_atten documentation
  doc/data/system.md
  doc/model/dpa2.md
  doc/model/train-se-atten.md
Labels: Docs

#3834 fix: fix DeepGlobalPolar and DeepWFC initlization
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_polar.py
  deepmd/infer/deep_tensor.py
  deepmd/infer/deep_wfc.py
  source/tests/tf/test_get_potential.py
Labels: Python

#3836 fix(pt): improve out-of-memory handling
  deepmd/pt/utils/auto_batch_size.py
Labels: Python

#3837 fix: bugs in uts for polar and dipole fit
  source/tests/pt/model/test_dipole_fitting.py
  source/tests/pt/model/test_polarizability_fitting.py
Labels: Python

#3828 docs: add document equations for `se_atten_v2`
  doc/model/train-se-atten.md
Labels: Docs

#3843 fix: use `get_model_def_script` method
  deepmd/pt/entrypoints/main.py
Labels: Python

#3842 fix: rm unused import of `__version__`
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/dpmodel/descriptor/se_t.py
  deepmd/dpmodel/utils/network.py
  deepmd/pt/model/network/mlp.py
Labels: Python
