Repository deepmodeling/deepmd-kit, pull requests merged in 2024-03, with the labels that each got.

#3365 Hybrid descriptor
  deepmd/dpmodel/descriptor/__init__.py
  deepmd/dpmodel/descriptor/hybrid.py
  deepmd/pt/model/descriptor/__init__.py
  deepmd/pt/model/descriptor/hybrid.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/utils/utils.py
  deepmd/tf/descriptor/hybrid.py
  deepmd/utils/argcheck.py
  doc/model/train-hybrid.md
  source/tests/consistent/descriptor/test_hybrid.py
  source/tests/pt/model/test_descriptor_hybrid.py
Labels: Python, Docs

#3359 pt: refact training code
  deepmd/dpmodel/descriptor/hybrid.py
  deepmd/dpmodel/descriptor/make_base_descriptor.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/dpmodel/model/dp_model.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/loss/ener.py
  deepmd/pt/loss/loss.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/descriptor/__init__.py
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/hybrid.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/network/network.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/model/task/polarizability.py
  deepmd/pt/train/training.py
  deepmd/pt/train/wrapper.py
  deepmd/pt/utils/dataloader.py
  deepmd/pt/utils/dataset.py
  deepmd/pt/utils/finetune.py
  deepmd/pt/utils/multi_task.py
  deepmd/pt/utils/stat.py
  deepmd/utils/data.py
  deepmd/utils/env_mat_stat.py
  source/tests/pt/model/test_descriptor.py
  source/tests/pt/model/test_dipole_fitting.py
  source/tests/pt/model/test_embedding_net.py
  source/tests/pt/model/test_model.py
  source/tests/pt/model/test_polarizability_fitting.py
  source/tests/pt/model/water/multitask.json
  source/tests/pt/test_loss.py
  source/tests/pt/test_multitask.py
  source/tests/pt/test_stat.py
  source/tests/pt/test_training.py
Labels: Python

#3374 sync descriptor alias
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/tf/descriptor/se_atten.py
Labels: Python

#3370 feat: atom_ener in energy fitting
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/fitting/invar_fitting.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/tf/fit/ener.py
  source/tests/consistent/fitting/test_ener.py
Labels: Python

#3373 docs: DPRc for PT, DPModel
  doc/model/dprc.md
Labels: Docs

#3377 pt: supprot `--output` in `dp train`
  deepmd/main.py
  deepmd/pt/entrypoints/main.py
Labels: Python

#3371 Add trainable settings for pt
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/train/training.py
  deepmd/pt/train/wrapper.py
  deepmd/utils/argcheck.py
  source/tests/pt/test_training.py
Labels: Python

#3381 tf: remove freeze warning for optional nodes
  deepmd/tf/entrypoints/freeze.py
Labels: Python

#3382 fix: prevent deepmd.tf be imported globally
  deepmd/utils/compat.py
  doc/conf.py
  pyproject.toml
  source/tests/common/test_uni_infer.py
Labels: Python, Docs

#3376 Doc: Update the developer guide for the v3
  doc/development/create-a-model-pt.md
  doc/development/create-a-model-tf.md
  doc/index.rst
Labels: Docs

#3383 pt: print data summary
  deepmd/pt/train/training.py
  deepmd/pt/utils/dataloader.py
  deepmd/pt/utils/dataset.py
  deepmd/utils/data_system.py
Labels: Python

#3384 pt: expand systems before training
  deepmd/pt/entrypoints/main.py
  deepmd/utils/data_system.py
  deepmd/utils/path.py
Labels: Python

#3387 Doc: Update PT Multi-task
  doc/train/index.rst
  doc/train/multi-task-training-pt.md
  doc/train/multi-task-training-tf.md
  examples/water_multi_task/pytorch_example/input_torch.json
Labels: Docs, Examples

#3386 pt: add fparam/aparam data requirements
  deepmd/pt/train/training.py
  examples/fparam/train/input.json
  source/tests/pt/test_training.py
Labels: Python, Examples

#3379 doc: add PyTorch parallel training content
  doc/train/parallel-training.md
Labels: Docs

#3388 pt: fix params with no docstrs
  deepmd/utils/argcheck.py
Labels: Python

#3389 add mask to atomic model output when an atomic type exclusion presents.
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/atomic_model/make_base_atomic_model.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/model/make_model.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/model/make_hessian_model.py
  deepmd/pt/model/model/make_model.py
  source/tests/common/dpmodel/test_dp_atomic_model.py
  source/tests/pt/model/test_dp_atomic_model.py
  source/tests/pt/model/test_make_hessian_model.py
Labels: Python

#3390 breaking: change DeepTensor output dim from nsel_atoms to natoms
  deepmd/entrypoints/test.py
  deepmd/infer/deep_tensor.py
  deepmd/tf/infer/deep_eval.py
  source/tests/tf/test_data_modifier_shuffle.py
  source/tests/tf/test_deepdipole.py
  source/tests/tf/test_deeppolar.py
Labels: Python, breaking change

#3395 pt: ban `torch.testing.assert_allclose`
  pyproject.toml
  source/tests/pt/test_multitask.py
  source/tests/pt/test_training.py
Labels: Python

#3385 Doc: Update PT tensor fitting
  deepmd/utils/argcheck.py
  doc/backend.md
  doc/conf.py
  doc/development/create-a-model-pt.md
  doc/model/dprc.md
  doc/model/train-energy.md
  doc/model/train-fitting-tensor.md
  doc/model/train-hybrid.md
  doc/model/train-se-e2-a.md
  doc/model/train-se-e2-r.md
Labels: Python, Docs

#3391 ut: add null test
  source/tests/pt/model/test_null_input.py
Labels: Python

#3378 Merge `change_energy_bias` and fix finetune
  deepmd/pt/model/task/fitting.py
  deepmd/pt/utils/finetune.py
  deepmd/tf/fit/ener.py
  deepmd/utils/finetune.py
  source/tests/pt/test_finetune.py
  source/tests/pt/test_training.py
Labels: Python

#3399 bump LAMMPS to stable_2Aug2023_update3
  backend/dynamic_metadata.py
  doc/install/install-lammps.md
  pyproject.toml
  source/install/build_cc.sh
  source/install/build_from_c.sh
  source/install/build_lammps.sh
  source/install/test_cc.sh
  source/install/test_cc_local.sh
Labels: Docs

#3394 allow loading either nsel or natoms atomic tensor data
  deepmd/common.py
  deepmd/pt/utils/dataset.py
  deepmd/utils/data.py
  deepmd/utils/data_system.py
  source/tests/tf/test_data_requirement.py
  source/tests/tf/test_deepmd_data.py
Labels: Python

#3396 do not return g2, h2, sw in hybrid descriptors
  deepmd/dpmodel/descriptor/hybrid.py
  deepmd/pt/model/descriptor/hybrid.py
Labels: Python

#3397 format training logging
  deepmd/loggers/loggers.py
  deepmd/loggers/training.py
  deepmd/pt/train/training.py
  deepmd/tf/train/trainer.py
Labels: Python

#3403 fix deepmd-kit-cu11 again
  .github/workflows/build_wheel.yml
  pyproject.toml
Labels: bug

#3405 pt: Fix compilation with libtorch
  source/CMakeLists.txt
  source/api_cc/CMakeLists.txt
Labels: C++

#3409 pt: fix multitask print_summary
  deepmd/pt/train/training.py
Labels: Python

#3411 pt: fix multitask stuck on multiple-gpu
  deepmd/pt/model/descriptor/descriptor.py
Labels: Python

#3410 Chore: make type_map complusory model attribute
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/model/__init__.py
  source/tests/common/dpmodel/test_linear_atomic_model.py
  source/tests/common/dpmodel/test_pairtab_atomic_model.py
  source/tests/pt/model/test_linear_atomic_model.py
  source/tests/pt/model/test_pairtab_atomic_model.py
Labels: Python

#3413 fix bug of rcut_smth >= rcut in the test cases
  source/tests/common/dpmodel/case_single_frame_with_nlist.py
  source/tests/pt/model/test_dp_model.py
  source/tests/pt/model/test_env_mat.py
Labels: Python

#3415 ban print
  data/raw/copy_raw.py
  data/raw/shuffle_raw.py
  deepmd/entrypoints/doc.py
  doc/sphinx_contrib_exhale_multiproject.py
  pyproject.toml
  source/tests/pt/model/test_unused_params.py
  source/tests/pt/test_dp_test.py
  source/tests/tf/common.py
  source/tests/tf/test_adjust_sel.py
  source/tests/tf/test_finetune_se_atten.py
  source/tests/tf/test_mixed_prec_training.py
  source/tests/tf/test_model_compression_se_a.py
  source/tests/tf/test_model_compression_se_a_ebd.py
  source/tests/tf/test_model_compression_se_a_ebd_type_one_side.py
  source/tests/tf/test_model_compression_se_a_type_one_side_exclude_types.py
  source/tests/tf/test_model_compression_se_atten.py
  source/tests/tf/test_model_compression_se_r.py
  source/tests/tf/test_model_compression_se_t.py
  source/tests/tf/test_parallel_training.py
  source/tests/tf/test_transfer.py
Labels: Python, Docs

#3393 throw errros if rmin is no less than rmax
  deepmd/dpmodel/utils/env_mat.py
  deepmd/pt/utils/preprocess.py
  source/tests/common/dpmodel/test_linear_atomic_model.py
  source/tests/pt/model/test_linear_atomic_model.py
Labels: Python

#3418 convert exclude_types to sel_type
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/pt/model/task/fitting.py
  source/tests/common/dpmodel/test_fitting_invar_fitting.py
  source/tests/pt/model/test_ener_fitting.py
Labels: Python

#3424 pt: avoid D2H in se_e2_a
  deepmd/pt/model/descriptor/se_a.py
Labels: Python

#3398 Feat: add zbl training
  deepmd/dpmodel/atomic_model/__init__.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/make_base_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/atomic_model/__init__.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/model/dp_zbl_model.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/stat.py
  source/tests/common/dpmodel/test_linear_atomic_model.py
  source/tests/pt/model/test_linear_atomic_model.py
  source/tests/pt/model/test_pairtab_atomic_model.py
  source/tests/pt/model/water/zbl.json
  source/tests/pt/test_finetune.py
  source/tests/pt/test_training.py
Labels: Python

#3425 pt: improve nlist performance
  deepmd/pt/train/training.py
  deepmd/pt/utils/nlist.py
  deepmd/pt/utils/region.py
Labels: Python

#3422 pt: make get_data non-blocking
  deepmd/pt/train/training.py
Labels: Python

#3423 pt: fix print_on_training when there is no validation data
  deepmd/pt/train/training.py
Labels: Python

#3431 Consistent activation functions between backends
  deepmd/common.py
  deepmd/dpmodel/utils/network.py
  deepmd/pt/utils/utils.py
  deepmd/tf/common.py
  source/tests/consistent/test_activation.py
Labels: Python

#3437 fix errors when `dp` is executed without any subcommands
  deepmd/main.py
Labels: Python

#3421 pt: avoid torch.tensor(constant) during forward
  deepmd/pt/loss/denoise.py
  deepmd/pt/loss/ener.py
  deepmd/pt/loss/tensor.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
Labels: Python

#3434 clean up the init interface of pt.dataloader
  deepmd/pt/entrypoints/main.py
  deepmd/pt/utils/dataloader.py
  deepmd/pt/utils/dataset.py
  source/tests/pt/model/test_model.py
  source/tests/pt/model/test_saveload_dpa1.py
  source/tests/pt/model/test_saveload_se_e2_a.py
  source/tests/pt/test_sampler.py
  source/tests/pt/test_stat.py
Labels: Python

#3441 Add `max_ckpt_keep` for trainer
  deepmd/pt/train/training.py
  deepmd/tf/train/trainer.py
  deepmd/utils/argcheck.py
Labels: Python

#3442 pt: cleanup tester
  deepmd/pt/entrypoints/main.py
  deepmd/pt/infer/inference.py
  source/tests/pt/model/test_jit.py
Labels: Python

#3426 Feat: Add polar stat constant matrix calculation to PT
  deepmd/dpmodel/fitting/dipole_fitting.py
  deepmd/dpmodel/fitting/ener_fitting.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/fitting/invar_fitting.py
  deepmd/dpmodel/fitting/polarizability_fitting.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/model/task/polarizability.py
  deepmd/tf/fit/polar.py
  source/tests/consistent/common.py
  source/tests/pt/model/test_polar_stat.py
  source/tests/pt/test_training.py
Labels: Python

#3443 pt: make jit happy with torch 2.0.0
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/polarizability.py
Labels: Python

#3447 Fix: ZBL null test
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  source/tests/pt/model/test_null_input.py
Labels: bug, Python

#3436 pt: Add parallel implementation for LKF
  deepmd/pt/optimizer/LKF.py
Labels: Python

#3432 Fix: ZBL state_dict duplicated keys
  deepmd/pt/model/atomic_model/linear_atomic_model.py
Labels: Python

#3449 fix: remove model_def_script from AtomicModel
  deepmd/dpmodel/atomic_model/make_base_atomic_model.py
  deepmd/dpmodel/model/base_model.py
  deepmd/dpmodel/model/make_model.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/model/model.py
Labels: Python

#3450 feat(pt): consistent "frozen" model
  deepmd/dpmodel/utils/network.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/model/frozen.py
  deepmd/tf/fit/ener.py
  deepmd/tf/model/frozen.py
  deepmd/tf/model/model.py
  deepmd/utils/argcheck.py
  source/tests/consistent/model/test_frozen.py
  source/tests/infer/deeppot.dp
Labels: Python

#3453 chore: remove unused init_fitting_stat
  deepmd/dpmodel/fitting/invar_fitting.py
  deepmd/dpmodel/fitting/make_base_fitting.py
Labels: Python

#3451 Chore: refactor LinearAtomicModel serialize/deserialize
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
Labels: Python

#3458 fix the bug of empty fitting net neuron.
  deepmd/dpmodel/utils/network.py
  source/tests/pt/model/test_ener_fitting.py
Labels: Python

#3465 Fix: remove debug output in infer
  source/api_cc/src/DeepPotPT.cc
Labels: C++

#3464 fix(tf): fix DeepEval degradation for virtual types
  deepmd/infer/deep_eval.py
  deepmd/tf/infer/deep_eval.py
Labels: Python

#3452 Feat: add DOS net
  deepmd/dpmodel/fitting/__init__.py
  deepmd/dpmodel/fitting/dos_fitting.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/fitting/invar_fitting.py
  deepmd/infer/deep_dos.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/model/dos_model.py
  deepmd/pt/model/model/dp_model.py
  deepmd/pt/model/task/dos.py
  deepmd/pt/train/training.py
  deepmd/tf/fit/dos.py
  source/tests/consistent/common.py
  source/tests/consistent/fitting/test_dos.py
  source/tests/pt/dos/data/set.000/atom_dos.npy
  source/tests/pt/dos/data/set.000/box.npy
  source/tests/pt/dos/data/set.000/coord.npy
  source/tests/pt/dos/data/set.000/dos.npy
  source/tests/pt/dos/data/type.raw
  source/tests/pt/dos/data/type_map.raw
  source/tests/pt/dos/input.json
  source/tests/pt/model/test_permutation.py
  source/tests/pt/model/test_rot.py
  source/tests/pt/model/test_smooth.py
  source/tests/pt/model/test_trans.py
  source/tests/pt/test_training.py
  source/tests/tf/test_fitting_dos.py
  source/tests/tf/test_model_dos.py
Labels: Python

#3462 docs: add deprecation notice for the official conda channel and more conda docs
  doc/install/build-conda.md
  doc/install/easy-install-dev.md
  doc/install/easy-install.md
Labels: Docs

#3468 Chore: Move InvarFitting
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/invar_fitting.py
Labels: Python

#3469 Feat: support virtual atom
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/atomic_model/make_base_atomic_model.py
  deepmd/dpmodel/utils/nlist.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/utils/nlist.py
  source/tests/common/dpmodel/case_single_frame_with_nlist.py
  source/tests/common/dpmodel/test_dp_atomic_model.py
  source/tests/common/dpmodel/test_dp_model.py
  source/tests/common/dpmodel/test_nlist.py
  source/tests/pt/model/test_dp_atomic_model.py
  source/tests/pt/model/test_dp_model.py
  source/tests/pt/model/test_env_mat.py
  source/tests/pt/model/test_nlist.py
Labels: Python

#3460 [Paddle Backend] Add tensor polar
  deepmd/fit/polar.py
  deepmd/infer/deep_eval.py
  deepmd/infer/deep_tensor.py
  deepmd/model/tensor.py
  deepmd/train/trainer.py
Labels: Python

#3473 Fix LAMMPS plugin symlink path on macOS platform
  source/lmp/plugin/CMakeLists.txt
Labels: bug, LAMMPS

#3484 fix(pt): Fix PairTabAtomicModel OOM error
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
Labels: Python

#3485 Fix: Invar_fitting warning msg
  deepmd/pt/model/task/invar_fitting.py
Labels: Python

#3519 Clean TODOs and convert them into issues
  .github/workflows/todo.yml
  .pre-commit-config.yaml
  deepmd/common.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/utils/network.py
  deepmd/dpmodel/utils/update_sel.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/loss/ener.py
  deepmd/pt/loss/ener_spin.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/update_sel.py
  deepmd/tf/descriptor/descriptor.py
  deepmd/tf/descriptor/se_a.py
  deepmd/tf/descriptor/se_a_mask.py
  deepmd/tf/descriptor/se_r.py
  deepmd/tf/env.py
  deepmd/tf/fit/dipole.py
  deepmd/tf/fit/dos.py
  deepmd/tf/fit/ener.py
  deepmd/tf/fit/polar.py
  deepmd/tf/infer/deep_tensor.py
  deepmd/tf/loss/ener.py
  deepmd/tf/model/linear.py
  deepmd/tf/train/trainer.py
  deepmd/tf/utils/batch_size.py
  deepmd/tf/utils/finetune.py
  deepmd/tf/utils/graph.py
  deepmd/tf/utils/multi_init.py
  deepmd/tf/utils/update_sel.py
  deepmd/utils/batch_size.py
  deepmd/utils/data_system.py
  deepmd/utils/path.py
  pyproject.toml
  source/api_cc/include/common.h
  source/api_cc/src/DeepPot.cc
  source/op/tabulate_multi_device.cc
Labels: Python, OP, C++

#3445 pt: add explicit decay_rate for lr
  deepmd/pt/utils/learning_rate.py
  deepmd/utils/argcheck.py
  source/tests/pt/test_lr.py
Labels: Python

#3456 pt: add index input for `use_spin`
  deepmd/pt/model/model/__init__.py
  deepmd/utils/argcheck.py
Labels: Python

#3569 pt: refactor loss
  deepmd/pt/loss/ener.py
  deepmd/pt/loss/ener_spin.py
  deepmd/pt/loss/loss.py
  deepmd/pt/loss/tensor.py
  deepmd/pt/train/training.py
  deepmd/pt/train/wrapper.py
  source/tests/pt/model/test_model.py
  source/tests/pt/test_loss.py
Labels: Python

#3570 fix(pt): fix a typo in DeepEval to check do_atomic_virial
  deepmd/pt/infer/deep_eval.py
Labels: Python

#3573 pt: support multitask dp test
  deepmd/pt/infer/deep_eval.py
Labels: Python

#3572 test: add LAMMPS MPI tests
  .github/workflows/test_cc.yml
  .github/workflows/test_cuda.yml
  source/lmp/tests/run_mpi_pair_deepmd.py
  source/lmp/tests/test_lammps.py
  source/lmp/tests/test_lammps_pt.py
Labels: LAMMPS

#3480 pt: support multitask finetune
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/make_base_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/auto_batch_size.py
  deepmd/pt/utils/finetune.py
  deepmd/pt/utils/stat.py
  deepmd/tf/fit/ener.py
  deepmd/tf/model/ener.py
  deepmd/tf/model/model.py
  deepmd/tf/train/trainer.py
  deepmd/utils/finetune.py
  source/tests/pt/model/water/multitask.json
  source/tests/pt/test_finetune.py
  source/tests/pt/test_multitask.py
Labels: Python

#3571 pt: fix loss training when no data available
  deepmd/pt/loss/ener.py
  deepmd/pt/loss/ener_spin.py
  deepmd/pt/loss/loss.py
  deepmd/pt/loss/tensor.py
  deepmd/pt/train/training.py
  source/tests/pt/model/test_model.py
  source/tests/pt/test_loss.py
Labels: Python

#3580 fix: move DeepPotential from `deepmd.tf.infer` to `deepmd.infer`
  deepmd/infer/__init__.py
  deepmd/tf/infer/__init__.py
Labels: Python

#3583 tf: add explict mixed_types argument to fittings
  deepmd/tf/fit/dipole.py
  deepmd/tf/fit/dos.py
  deepmd/tf/fit/ener.py
  deepmd/tf/fit/polar.py
  deepmd/tf/model/model.py
  source/tests/consistent/fitting/test_dipole.py
  source/tests/consistent/fitting/test_dos.py
  source/tests/consistent/fitting/test_ener.py
  source/tests/consistent/fitting/test_polar.py
Labels: Python

#3581 fix(tf): fix bugs in tensor training and migrate to reformat data
  deepmd/tf/fit/polar.py
  deepmd/tf/model/tensor.py
  deepmd/utils/data.py
  examples/water_tensor/dipole/dipole_input.json
  examples/water_tensor/dipole/training_data/atomic_system/nopbc
  examples/water_tensor/dipole/training_data/atomic_system/set.000/atomic_dipole.npy
  examples/water_tensor/dipole/training_data/atomic_system/set.000/box.npy
  examples/water_tensor/dipole/training_data/atomic_system/set.000/coord.npy
  examples/water_tensor/dipole/training_data/atomic_system/type.raw
  examples/water_tensor/dipole/training_data/atomic_system/type_map.raw
  examples/water_tensor/dipole/training_data/global_system/nopbc
  examples/water_tensor/dipole/training_data/global_system/set.000/box.npy
  examples/water_tensor/dipole/training_data/global_system/set.000/coord.npy
  examples/water_tensor/dipole/training_data/global_system/set.000/dipole.npy
  examples/water_tensor/dipole/training_data/global_system/type.raw
  examples/water_tensor/dipole/training_data/global_system/type_map.raw
  examples/water_tensor/dipole/validation_data/atomic_system/nopbc
  examples/water_tensor/dipole/validation_data/atomic_system/set.000/atomic_dipole.npy
  examples/water_tensor/dipole/validation_data/atomic_system/set.000/box.npy
  examples/water_tensor/dipole/validation_data/atomic_system/set.000/coord.npy
  examples/water_tensor/dipole/validation_data/atomic_system/type.raw
  examples/water_tensor/dipole/validation_data/atomic_system/type_map.raw
  examples/water_tensor/dipole/validation_data/global_system/nopbc
  examples/water_tensor/dipole/validation_data/global_system/set.000/box.npy
  examples/water_tensor/dipole/validation_data/global_system/set.000/coord.npy
  examples/water_tensor/dipole/validation_data/global_system/set.000/dipole.npy
  examples/water_tensor/dipole/validation_data/global_system/type.raw
  examples/water_tensor/dipole/validation_data/global_system/type_map.raw
  examples/water_tensor/polar/polar_input.json
  examples/water_tensor/polar/training_data/atomic_system/set.000/atomic_polarizability.npy
  examples/water_tensor/polar/training_data/atomic_system/set.000/box.npy
  examples/water_tensor/polar/training_data/atomic_system/set.000/coord.npy
  examples/water_tensor/polar/training_data/atomic_system/type.raw
  examples/water_tensor/polar/training_data/atomic_system/type_map.raw
  examples/water_tensor/polar/training_data/global_system/set.000/box.npy
  examples/water_tensor/polar/training_data/global_system/set.000/coord.npy
  examples/water_tensor/polar/training_data/global_system/set.000/polarizability.npy
  examples/water_tensor/polar/training_data/global_system/type.raw
  examples/water_tensor/polar/training_data/global_system/type_map.raw
  examples/water_tensor/polar/validation_data/atomic_system/set.000/atomic_polarizability.npy
  examples/water_tensor/polar/validation_data/atomic_system/set.000/box.npy
  examples/water_tensor/polar/validation_data/atomic_system/set.000/coord.npy
  examples/water_tensor/polar/validation_data/atomic_system/type.raw
  examples/water_tensor/polar/validation_data/atomic_system/type_map.raw
  examples/water_tensor/polar/validation_data/global_system/set.000/box.npy
  examples/water_tensor/polar/validation_data/global_system/set.000/coord.npy
  examples/water_tensor/polar/validation_data/global_system/set.000/polarizability.npy
  examples/water_tensor/polar/validation_data/global_system/type.raw
  examples/water_tensor/polar/validation_data/global_system/type_map.raw
  source/tests/tf/test_polar_se_a.py
Labels: Python, Examples

#3597 fix: natom error in calc_model_devi
  deepmd/infer/model_devi.py
Labels: Python

#3584 Fix: Pt Polar Stat keyword
  deepmd/pt/model/task/polarizability.py
  deepmd/pt/utils/stat.py
  deepmd/pt/utils/utils.py
  source/tests/pt/model/test_polar_stat.py
Labels: Python

#3601 feat: Support bfloat16 and ensure valid precision and activation functions consistent everywhere
  deepmd/common.py
  deepmd/dpmodel/common.py
  deepmd/pt/model/network/mlp.py
  deepmd/pt/utils/env.py
  deepmd/pt/utils/utils.py
  deepmd/tf/common.py
  deepmd/tf/utils/graph.py
  deepmd/utils/argcheck.py
  pyproject.toml
  source/tests/consistent/fitting/test_ener.py
  source/tests/consistent/test_activation.py
Labels: Python

#3607 pt: fix typo in multitask finetune
  deepmd/pt/utils/finetune.py
Labels: Python

#3600 chore: remove incorrect memset TODOs
  source/lib/src/gpu/prod_env_mat.cu
Labels: Core, CUDA, ROCM

#3605 feat: Add `USE_PT_PYTHON_LIBS` CMake variable
  doc/install/install-from-source.md
  source/CMakeLists.txt
Labels: Docs

#3612 fix pt bug: missing get_ntype method
  deepmd/pt/model/model/model.py
Labels: Python

#3609 implement electronic configuration embedding
  backend/dynamic_metadata.py
  deepmd/utils/econf_embd.py
  source/tests/common/test_econf_embd.py
Labels: Python

#3615 Fix bug in `preprocess_shared_params` when using non-zero share level
  deepmd/pt/utils/multi_task.py
Labels: Python

#3616 Fix fine-tuning entries bug when doing restart.
  deepmd/pt/train/training.py
Labels: Python

#3613 fix c++ interface bug
  source/api_cc/src/DeepPotPT.cc
  source/lmp/tests/test_lammps_pt.py
Labels: C++, LAMMPS

#3614 pt: support list format batch size
  deepmd/pt/utils/dataloader.py
Labels: Python

#3619 pt: use unified activation
  deepmd/pt/model/descriptor/repformer_layer.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/network/network.py
  deepmd/pt/utils/utils.py
  source/tests/consistent/test_activation.py
Labels: Python

#3620 feat(pt): add op library
  backend/find_pytorch.py
  backend/read_env.py
  deepmd/pt/__init__.py
  deepmd/pt/cxx_op.py
  deepmd/pt/entrypoints/main.py
  doc/install/install-from-source.md
  source/CMakeLists.txt
  source/api_cc/CMakeLists.txt
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/common.cc
  source/op/pt/CMakeLists.txt
  source/op/pt/print_summary.cc
Labels: Python, OP, C++, Docs

#3621 chore: move `source/op` to `source/op/tf`
  source/CMakeLists.txt
  source/api_cc/CMakeLists.txt
  source/op/tf/CMakeLists.txt
  source/op/tf/add_flt_nvnmd.cc
  source/op/tf/copy_flt_nvnmd.cc
  source/op/tf/custom_op.cc
  source/op/tf/custom_op.h
  source/op/tf/descrpt.cc
  source/op/tf/descrpt_se_a_ef.cc
  source/op/tf/descrpt_se_a_ef_para.cc
  source/op/tf/descrpt_se_a_ef_vert.cc
  source/op/tf/descrpt_se_a_mask.cc
  source/op/tf/dotmul_flt_nvnmd.cc
  source/op/tf/ewald_recp.cc
  source/op/tf/flt_nvnmd.cc
  source/op/tf/gelu_multi_device.cc
  source/op/tf/map_aparam.cc
  source/op/tf/map_flt_nvnmd.cc
  source/op/tf/matmul_fitnet_nvnmd.cc
  source/op/tf/matmul_flt2fix_nvnmd.cc
  source/op/tf/matmul_flt_nvnmd.cc
  source/op/tf/mul_flt_nvnmd.cc
  source/op/tf/neighbor_stat.cc
  source/op/tf/optimizer/parallel.cc
  source/op/tf/optimizer/parallel.h
  source/op/tf/pair_tab.cc
  source/op/tf/pairwise.cc
  source/op/tf/prod_env_mat_multi_device.cc
  source/op/tf/prod_env_mat_multi_device_nvnmd.cc
  source/op/tf/prod_force.cc
  source/op/tf/prod_force_grad.cc
  source/op/tf/prod_force_grad_multi_device.cc
  source/op/tf/prod_force_multi_device.cc
  source/op/tf/prod_force_se_a_grad.cc
  source/op/tf/prod_force_se_a_mask.cc
  source/op/tf/prod_force_se_a_mask_grad.cc
  source/op/tf/prod_force_se_r_grad.cc
  source/op/tf/prod_virial.cc
  source/op/tf/prod_virial_grad.cc
  source/op/tf/prod_virial_grad_multi_device.cc
  source/op/tf/prod_virial_multi_device.cc
  source/op/tf/prod_virial_se_a_grad.cc
  source/op/tf/prod_virial_se_r_grad.cc
  source/op/tf/quantize_nvnmd.cc
  source/op/tf/readme
  source/op/tf/soft_min.cc
  source/op/tf/soft_min_force.cc
  source/op/tf/soft_min_force_grad.cc
  source/op/tf/soft_min_virial.cc
  source/op/tf/soft_min_virial_grad.cc
  source/op/tf/tabulate_multi_device.cc
  source/op/tf/tanh4_flt_nvnmd.cc
  source/op/tf/unaggregated_grad.cc
Labels: OP, C++

#3624 fix: fix type hint of sel
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/tf/descriptor/loc_frame.py
  deepmd/tf/descriptor/se_a.py
  deepmd/tf/descriptor/se_a_ebd.py
  deepmd/tf/descriptor/se_a_ebd_v2.py
  deepmd/tf/descriptor/se_a_ef.py
  deepmd/tf/descriptor/se_a_mask.py
  deepmd/tf/descriptor/se_atten.py
  deepmd/tf/descriptor/se_atten_v2.py
  deepmd/tf/descriptor/se_r.py
  deepmd/tf/descriptor/se_t.py
Labels: Python

#3617 feat: consistent type embedding
  deepmd/dpmodel/utils/type_embed.py
  deepmd/pt/model/network/network.py
  deepmd/tf/env.py
  deepmd/tf/model/model.py
  deepmd/tf/model/multi.py
  deepmd/tf/model/pairwise_dprc.py
  deepmd/tf/utils/graph.py
  deepmd/tf/utils/type_embed.py
  source/tests/consistent/test_type_embedding.py
  source/tests/pt/model/models/dpa2_tebd.pth
  source/tests/pt/model/test_descriptor_dpa1.py
  source/tests/pt/model/test_descriptor_dpa2.py
  source/tests/tf/test_data_large_batch.py
  source/tests/tf/test_descrpt_hybrid.py
  source/tests/tf/test_descrpt_se_a_type.py
  source/tests/tf/test_descrpt_se_atten.py
  source/tests/tf/test_dipole_se_a_tebd.py
  source/tests/tf/test_model_se_a.py
  source/tests/tf/test_model_se_a_ebd_v2.py
  source/tests/tf/test_model_se_a_type.py
  source/tests/tf/test_model_se_atten.py
  source/tests/tf/test_polar_se_a_tebd.py
  source/tests/tf/test_type_embed.py
Labels: Python

#3626 feat: auto batch size supports methods that return a dict
  deepmd/pt/utils/auto_batch_size.py
  source/tests/pt/test_auto_batch_size.py
Labels: Python
