Repository deepmodeling/deepmd-kit, pull requests merged in 2024-11, with the labels that each got.

#4274 fix(lmp): add pair_deepmd_index arg to fix dplr for multiple deepmd pairs
  doc/model/dplr.md
  source/lmp/fix_dplr.cpp
  source/lmp/fix_dplr.h
Labels: LAMMPS, Docs

#4287 feat(jax/array-api): property fitting
  deepmd/jax/fitting/fitting.py
  source/tests/array_api_strict/fitting/fitting.py
  source/tests/consistent/fitting/test_property.py
Labels: Python

#4286 feat(jax/array-api): se_e3
  deepmd/dpmodel/descriptor/se_t.py
  deepmd/dpmodel/utils/network.py
  deepmd/jax/descriptor/__init__.py
  deepmd/jax/descriptor/se_t.py
  doc/model/train-se-e3.md
  source/tests/array_api_strict/descriptor/se_t.py
  source/tests/consistent/descriptor/test_se_t.py
Labels: Python, Docs

#4227 Add 4 pt descriptor compression
  deepmd/dpmodel/descriptor/make_base_descriptor.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_t.py
  deepmd/pt/utils/tabulate.py
  deepmd/tf/utils/tabulate.py
  deepmd/utils/tabulate.py
  source/op/pt/tabulate_multi_device.cc
  source/tests/pt/model/test_compressed_descriptor_se_a.py
  source/tests/pt/model/test_compressed_descriptor_se_atten.py
  source/tests/pt/model/test_compressed_descriptor_se_r.py
  source/tests/pt/model/test_compressed_descriptor_se_t.py
  source/tests/pt/test_tabulate.py
Labels: Python, OP

#4288 feat(jax/array-api): se_t_tebd
  deepmd/dpmodel/descriptor/se_t_tebd.py
  deepmd/jax/descriptor/se_t_tebd.py
  doc/model/train-se-e3-tebd.md
  source/tests/array_api_strict/descriptor/se_t_tebd.py
  source/tests/consistent/descriptor/test_se_t_tebd.py
Labels: Python, Docs

#4289 feat(jax/array-api): se_atten_v2
  deepmd/dpmodel/descriptor/se_atten_v2.py
  deepmd/jax/descriptor/se_atten_v2.py
  source/tests/array_api_strict/descriptor/se_atten_v2.py
  source/tests/consistent/descriptor/test_se_atten_v2.py
Labels: Python

#4290 feat(jax): atomic virial
  deepmd/jax/infer/deep_eval.py
  deepmd/jax/model/base_model.py
  deepmd/jax/model/hlo.py
  deepmd/jax/utils/serialization.py
  source/tests/consistent/io/test_io.py
  source/tests/consistent/model/common.py
  source/tests/consistent/model/test_ener.py
Labels: Python

#4297 Enable Hybrid Descriptor to be compressed
  deepmd/dpmodel/descriptor/hybrid.py
  deepmd/pt/model/descriptor/hybrid.py
Labels: Python

#4298 Add compression API to BaseModel and AtomicModel
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/make_base_atomic_model.py
  deepmd/dpmodel/model/base_model.py
  deepmd/dpmodel/model/make_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/model/make_model.py
Labels: Python

#4254 feat(jax): export call_lower to SavedModel via jax2tf
  .github/workflows/test_python.yml
  deepmd/backend/jax.py
  deepmd/jax/infer/deep_eval.py
  deepmd/jax/jax2tf/__init__.py
  deepmd/jax/jax2tf/serialization.py
  deepmd/jax/jax2tf/tfmodel.py
  deepmd/jax/utils/serialization.py
  doc/backend.md
  pyproject.toml
  source/tests/consistent/io/test_io.py
  source/tests/utils.py
Labels: Python, Docs

#4309 fix(cmake): Replace deprecated `FetchContent_Populate` with `FetchContent_MakeAvailable`
  source/lmp/plugin/CMakeLists.txt
Labels: LAMMPS

#4304 fix(jax): calculate virial in `call_lower`
  deepmd/jax/model/base_model.py
  source/tests/consistent/model/test_ener.py
Labels: Python

#4315 fix(jax): fix several serialization and jit issues for DPA-2
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/jax/descriptor/__init__.py
  deepmd/jax/model/dp_zbl_model.py
  deepmd/jax/model/ener_model.py
Labels: Python

#4313 fix(lmp): add `pair_deepmd_index` key to `is_key` function in dplr
  source/lmp/fix_dplr.cpp
  source/lmp/tests/test_dplr.py
Labels: LAMMPS

#4312 fix: make sure `head` can be used in `DeepPot`
  deepmd/calculator.py
Labels: Python

#4084 fix dplr: support initializing from a restart file
  source/lmp/fix_dplr.cpp
  source/lmp/fix_dplr.h
  source/lmp/tests/test_dplr.py
Labels: LAMMPS

#4320 fix: consistent DPA-1 model
  deepmd/dpmodel/descriptor/hybrid.py
  deepmd/dpmodel/model/model.py
  deepmd/jax/descriptor/__init__.py
  deepmd/jax/model/model.py
  deepmd/pt/model/task/fitting.py
  deepmd/tf/descriptor/hybrid.py
  deepmd/tf/descriptor/se_atten.py
  deepmd/tf/descriptor/se_atten_v2.py
  deepmd/tf/fit/ener.py
  deepmd/tf/model/model.py
  deepmd/tf/utils/type_embed.py
  doc/backend.md
  source/tests/consistent/model/test_dpa1.py
Labels: Python, Docs

#4324 fix(pt/dp): make dpa2 convertable to `.dp` format
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/pt/model/descriptor/repformer_layer.py
Labels: Python

#4300 Add pt compress commad line
  deepmd/main.py
  deepmd/pt/entrypoints/compress.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_t.py
  deepmd/pt/model/model/model.py
  deepmd/pt/utils/serialization.py
  deepmd/pt/utils/tabulate.py
  deepmd/tf/entrypoints/main.py
  source/tests/pt/common.py
  source/tests/pt/model/test_descriptor_dpa1.py
  source/tests/pt/model/test_descriptor_dpa2.py
  source/tests/pt/model/test_model.py
  source/tests/pt/model/test_unused_params.py
  source/tests/pt/model_compression/data/set.000/box.npy
  source/tests/pt/model_compression/data/set.000/coord.npy
  source/tests/pt/model_compression/data/set.000/energy.npy
  source/tests/pt/model_compression/data/set.000/force.npy
  source/tests/pt/model_compression/data/type.raw
  source/tests/pt/model_compression/data/type_map.raw
  source/tests/pt/model_compression/input.json
  source/tests/pt/test_model_compression_se_a.py
  source/tests/pt/test_tabulate.py
Labels: Python

#4299 Add pt compression doc
  doc/freeze/compress.md
Labels: Docs

#4325 fix: fix for `__array__` removal from array-api-strict
  deepmd/dpmodel/common.py
  deepmd/dpmodel/descriptor/dpa1.py
  pyproject.toml
  source/tests/common/dpmodel/array_api/test_env_mat.py
  source/tests/consistent/descriptor/common.py
  source/tests/consistent/fitting/test_dipole.py
  source/tests/consistent/fitting/test_dos.py
  source/tests/consistent/fitting/test_ener.py
  source/tests/consistent/fitting/test_polar.py
  source/tests/consistent/fitting/test_property.py
  source/tests/consistent/test_activation.py
  source/tests/consistent/test_type_embedding.py
Labels: Python

#4327 chore: avoid unnecessary deepcopy
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/atomic_model/linear_atomic_model.py
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/dpmodel/descriptor/se_t.py
  deepmd/dpmodel/fitting/dipole_fitting.py
  deepmd/dpmodel/fitting/dos_fitting.py
  deepmd/dpmodel/fitting/ener_fitting.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/fitting/invar_fitting.py
  deepmd/dpmodel/fitting/polarizability_fitting.py
  deepmd/dpmodel/fitting/property_fitting.py
  deepmd/dpmodel/utils/network.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/model/dipole_model.py
  deepmd/pt/model/model/dos_model.py
  deepmd/pt/model/model/dp_linear_model.py
  deepmd/pt/model/model/dp_zbl_model.py
  deepmd/pt/model/model/ener_model.py
  deepmd/pt/model/model/polar_model.py
  deepmd/pt/model/model/property_model.py
  deepmd/pt/model/model/spin_model.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/dos.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/model/task/invar_fitting.py
  deepmd/pt/model/task/polarizability.py
  deepmd/pt/model/task/property.py
  deepmd/tf/model/model.py
  source/tests/consistent/io/test_io.py
Labels: Python

#4329 feat(pt): DPA-2 repinit compress
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/utils/tabulate.py
  source/tests/pt/model/test_compressed_descriptor_dpa2.py
Labels: Python

#4318 feat(jax): build nlist in the SavedModel & fix nopbc for StableHLO and SavedModel
  .github/workflows/test_python.yml
  deepmd/jax/infer/deep_eval.py
  deepmd/jax/jax2tf/__init__.py
  deepmd/jax/jax2tf/make_model.py
  deepmd/jax/jax2tf/nlist.py
  deepmd/jax/jax2tf/region.py
  deepmd/jax/jax2tf/serialization.py
  deepmd/jax/jax2tf/tfmodel.py
  deepmd/jax/jax2tf/transform_output.py
  deepmd/jax/model/hlo.py
  deepmd/jax/utils/serialization.py
  pyproject.toml
  source/jax2tf_tests/__init__.py
  source/jax2tf_tests/test_nlist.py
  source/jax2tf_tests/test_region.py
  source/tests/consistent/io/test_io.py
  source/tests/jax/__init__.py
Labels: Python

#4331 fix(tf): fix argcheck when compressing a model converted from other backends
  deepmd/tf/entrypoints/compress.py
Labels: Python

#4335 fix: zbl rcut, sel
  deepmd/pt/model/model/__init__.py
Labels: Python

#4342 fix(pt): fix type annotations for dummy compress op; improve docs
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_t.py
  doc/freeze/compress.md
Labels: Python, Docs

#4336 feat(jax): reformat nlist in the TF model
  deepmd/jax/jax2tf/format_nlist.py
  deepmd/jax/jax2tf/serialization.py
  source/jax2tf_tests/test_format_nlist.py
Labels: Python

#4339 fix: dpmodel zbl rcut sel
  deepmd/dpmodel/model/model.py
Labels: Python

#4345 docs: document plugin mechanisms and deepmd-gnn
  README.md
  doc/development/create-a-model-pt.md
  doc/third-party/out-of-deepmd-kit.md
Labels: Docs

#4307 feat(jax): SavedModel C++ interface (including DPA-2 supports)
  .github/workflows/test_cc.yml
  .github/workflows/test_cuda.yml
  doc/backend.md
  doc/install/install-from-source.md
  doc/model/dpa2.md
  examples/water/dpa2/frozen_model.pth
  examples/water/lmp/jax_dpa2.lammps
  source/api_c/include/c_api.h
  source/api_c/include/deepmd.hpp
  source/api_c/src/c_api.cc
  source/api_cc/include/DeepPotJAX.h
  source/api_cc/include/common.h
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepPotJAX.cc
  source/api_cc/tests/test_deeppot_jax.cc
  source/cmake/googletest.cmake.in
  source/lib/include/neighbor_list.h
  source/lmp/fix_dplr.cpp
  source/lmp/pair_deepmd.cpp
  source/lmp/tests/test_lammps_dpa_jax.py
  source/lmp/tests/test_lammps_jax.py
  source/tests/infer/convert-models.sh
  source/tests/infer/deeppot_dpa.yaml
  source/tests/infer/deeppot_sea.yaml
Labels: Python, Core, C++, LAMMPS, Docs, Examples, C

#4344 fix(pt): fix precision
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_t.py
  deepmd/pt/model/descriptor/se_t_tebd.py
  deepmd/pt/model/network/mlp.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/model/task/invar_fitting.py
  deepmd/pt/model/task/polarizability.py
  deepmd/pt/utils/env.py
  source/tests/pt/model/test_compressed_descriptor_dpa2.py
  source/tests/pt/model/test_compressed_descriptor_se_atten.py
  source/tests/pt/model/test_dipole_fitting.py
  source/tests/pt/model/test_polarizability_fitting.py
  source/tests/pt/model/test_property_fitting.py
Labels: Python

#4353 fix(pt): fix not used `sys_probs`
  deepmd/pt/train/training.py
  deepmd/pt/utils/dataloader.py
  source/tests/pt/test_sampler.py
Labels: Python

#4351 feat(pt): pass mapping from LAMMPS to PT
  source/api_cc/src/DeepPotPT.cc
Labels: Core, C++, LAMMPS, C

#4357 feat(jax): add options to use TensorFlow C library to build the JAX backend
  doc/install/easy-install.md
  doc/install/install-from-c-library.md
  doc/install/install-from-source.md
  source/CMakeLists.txt
  source/api_cc/CMakeLists.txt
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepPotJAX.cc
  source/cmake/FindTensorFlowC.cmake
Labels: C++, Docs

#4343 fix(dpmodel): fix precision
  .github/workflows/test_python.yml
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/common.py
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/dpmodel/descriptor/se_t.py
  deepmd/dpmodel/descriptor/se_t_tebd.py
  deepmd/dpmodel/fitting/dipole_fitting.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/fitting/invar_fitting.py
  deepmd/dpmodel/fitting/polarizability_fitting.py
  deepmd/dpmodel/utils/network.py
  deepmd/jax/env.py
  source/tests/common/dpmodel/test_network.py
Labels: Python

#4350 fix(tf): fix model out_bias deserialize
  deepmd/tf/model/model.py
  source/tests/consistent/model/test_ener.py
Labels: Python

#4354 feat(pt): add universal test for loss
  deepmd/dpmodel/common.py
  deepmd/pt/loss/dos.py
  source/tests/universal/common/cases/loss/__init__.py
  source/tests/universal/common/cases/loss/loss.py
  source/tests/universal/common/cases/loss/utils.py
  source/tests/universal/dpmodel/loss/__init__.py
  source/tests/universal/dpmodel/loss/test_loss.py
  source/tests/universal/pt/backend.py
  source/tests/universal/pt/loss/__init__.py
  source/tests/universal/pt/loss/test_loss.py
Labels: Python

#4363 fix(jax): handle DPA-2 pbc/nopbc without mapping
  deepmd/jax/jax2tf/serialization.py
  source/api_cc/include/DeepPotJAX.h
  source/api_cc/src/DeepPotJAX.cc
  source/api_cc/tests/test_deeppot_dpa_jax.cc
Labels: Python, C++

#4369 docs: move arg docs from Variant to sub Arguments
  deepmd/utils/argcheck.py
Labels: Python

#4377 docs: set the background color of platform icons to transparent
  doc/_static/css/custom.css
Labels: Docs

#4372 docs: set precision explicitly in the DPA-2 example
  examples/water/dpa2/input_torch_compressible.json
  examples/water/dpa2/input_torch_large.json
  examples/water/dpa2/input_torch_medium.json
  examples/water/dpa2/input_torch_small.json
Labels: Examples

#4370 Fix: Atomic stat with multi-system
  deepmd/pt/utils/stat.py
  source/tests/pt/water_tensor/dipole/O78H156/set.000/atomic_dipole.npy
  source/tests/pt/water_tensor/dipole/O78H156/set.000/box.npy
  source/tests/pt/water_tensor/dipole/O78H156/set.000/coord.npy
  source/tests/pt/water_tensor/dipole/O78H156/set.000/energy.npy
  source/tests/pt/water_tensor/dipole/O78H156/set.000/force.npy
  source/tests/pt/water_tensor/dipole/O78H156/type.raw
  source/tests/pt/water_tensor/dipole/O78H156/type_map.raw
  source/tests/pt/water_tensor/dipole/O96H192/set.000/atomic_dipole.npy
  source/tests/pt/water_tensor/dipole/O96H192/set.000/box.npy
  source/tests/pt/water_tensor/dipole/O96H192/set.000/coord.npy
  source/tests/pt/water_tensor/dipole/O96H192/set.000/energy.npy
  source/tests/pt/water_tensor/dipole/O96H192/set.000/force.npy
  source/tests/pt/water_tensor/dipole/O96H192/type.raw
  source/tests/pt/water_tensor/dipole/O96H192/type_map.raw
  source/tests/pt/water_tensor/se_e2_a.json
Labels: Python

#4380 Chore: remove grad from nlist linear model
  deepmd/pt/model/atomic_model/linear_atomic_model.py
Labels: Python

#4383 breaking(pt): drop PyTorch 2.0 support
  backend/find_pytorch.py
  doc/backend.md
Labels: Docs, breaking change

#4385 docs: clean up deprecated deepmodeling conda channel docs
  doc/install/build-conda.md
  doc/install/easy-install.md
Labels: Docs

#4386 fix: don't distinguish nlist types in high model interfaces
  deepmd/dpmodel/model/make_model.py
  deepmd/jax/jax2tf/make_model.py
  deepmd/pt/model/model/make_model.py
Labels: Python

#4391 chore(pt): Change the type of `do_message_passing` from `int` to `bool` in `DeepPotPT` and `DeepSpinPT` classes
  source/api_cc/include/DeepPotPT.h
  source/api_cc/include/DeepSpinPT.h
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/DeepSpinPT.cc
Labels: C++

#4387 fix(pt): detach coord when building nlist in DPA-2
  deepmd/pt/model/descriptor/dpa2.py
Labels: Python

#4388 docs: document more differences among different backends
  doc/model/train-fitting-tensor.md
  doc/model/train-se-atten.md
  doc/model/train-se-e2-a.md
  doc/model/train-se-e2-r.md
  doc/model/train-se-e3.md
Labels: Docs

#4390 chore: optimize compute_smooth_weight
  deepmd/dpmodel/utils/env_mat.py
  deepmd/pt/utils/preprocess.py
  source/tests/array_api_strict/__init__.py
Labels: Python

#4394 breaking(pt/dp):change env_protection for spin
  deepmd/pt/model/model/__init__.py
  doc/model/train-energy-spin.md
Labels: Python, Docs

#4395 Chore(doc): merge multitask training doc
  doc/freeze/freeze.md
  doc/train/finetuning.md
  doc/train/index.rst
  doc/train/multi-task-training-tf.md
  doc/train/multi-task-training.md
Labels: Docs

#4401 Fix: always output weighted average error
  deepmd/entrypoints/test.py
Labels: Python

#4400 fix(pt/dp): make strip more efficient
  deepmd/dpmodel/descriptor/descriptor.py
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/dpmodel/descriptor/se_t_tebd.py
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_t.py
  deepmd/pt/model/descriptor/se_t_tebd.py
  deepmd/pt/model/network/network.py
Labels: Python

#4402 fix(pt): use eval mode in the C++ interface
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/DeepSpinPT.cc
Labels: C++

#4404 fix(pt): use eval mode in the Python interface
  deepmd/pt/infer/deep_eval.py
Labels: Python

#4405 fix: add `numb_fparam` & `numb_aparam` to dipole & polar fitting
  deepmd/tf/fit/dipole.py
  deepmd/tf/fit/polar.py
  deepmd/utils/argcheck.py
  doc/model/train-fitting-tensor.md
  source/tests/consistent/model/test_dipole.py
  source/tests/consistent/model/test_polar.py
  source/tests/consistent/model/test_property.py
Labels: Python, Docs

#4403 fix(pt): optimize createNlistTensor
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/DeepSpinPT.cc
Labels: C++

#4419 chore(pt): update multitask example
  examples/water_multi_task/pytorch_example/input_torch.json
Labels: Examples

#4423 Fix: add model_def_script to ZBL
  deepmd/pt/model/model/__init__.py
Labels: Python

#4432 Feat: add pairtab compression
  deepmd/dpmodel/atomic_model/pairtab_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
Labels: Python

#4434 Perf: print summary on rank 0
  deepmd/pt/utils/dataloader.py
Labels: Python

#4426 perf: optimize training loop
  deepmd/pt/train/training.py
Labels: Python

#4439 pd: skip certain UT and fix paddle ver in in test_cuda.yml
  .github/workflows/test_cuda.yml
  source/tests/pd/test_dp_show.py
  source/tests/pd/test_multitask.py
Labels: Python

#4438 fix: unmark `eval_pd` as `abstractmethod`
  source/tests/consistent/common.py
  source/tests/consistent/descriptor/test_se_e2_a.py
  source/tests/consistent/fitting/test_ener.py
Labels: Python

#4435 chore: refactor training loop
  deepmd/pt/train/training.py
  deepmd/pt/utils/dataloader.py
Labels: Python

#4442 chore(tests): ensure the same result of frame 0 and 1
  source/tests/universal/common/cases/model/utils.py
Labels: Python
