Repository deepmodeling/deepmd-kit, pull requests merged in 2024-09, with the labels that each got.

#4088 fix: bump LAMMPS to stable_29Aug2024
  doc/install/install-lammps.md
  pyproject.toml
  source/install/build_cc.sh
  source/install/build_from_c.sh
  source/install/build_lammps.sh
  source/install/test_cc.sh
  source/install/test_cc_local.sh
  source/lmp/fix_dplr.cpp
Labels: LAMMPS, Docs

#4100 fix(pt): fix ValueError when array byte order is not native
  deepmd/pt/infer/deep_eval.py
Labels: Python

#4106 fix(pt): convert `torch.__version__` to `str` when serializing
  deepmd/pt/utils/serialization.py
Labels: Python

#4089 breaking(pt/dp): tune new sub-structures for DPA2
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/repformer_layer.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_t_tebd.py
  deepmd/utils/argcheck.py
  source/tests/consistent/descriptor/test_dpa2.py
  source/tests/pt/model/models/dpa2.json
  source/tests/pt/model/test_dpa2.py
  source/tests/universal/dpmodel/descriptor/test_descriptor.py
Labels: Python

#4111 fix(tests): fix `skip_dp`
  source/tests/consistent/descriptor/test_dpa1.py
  source/tests/consistent/descriptor/test_dpa2.py
  source/tests/consistent/descriptor/test_se_atten_v2.py
  source/tests/consistent/descriptor/test_se_t_tebd.py
Labels: Python

#4110 feat(pt): support `eval_typeebd` for `DeepEval`
  deepmd/pt/infer/deep_eval.py
  source/tests/pt/model/test_deeppot.py
Labels: Python

#4113 docs: fix defination of `se_e3`
  doc/model/train-se-e3.md
Labels: Docs

#4116 chore: support preset bias of atomic model output
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/utils/stat.py
  deepmd/utils/argcheck.py
  source/tests/pt/model/test_get_model.py
Labels: Python

#4117 [Fix] Wrap log_path with Path
  deepmd/pt/entrypoints/main.py
Labels: Python

#4120 fix: bugs in uts for property fit
  source/tests/pt/model/test_property_fitting.py
Labels: Python

#4135 fix: type of the preset out bias
  deepmd/pt/model/model/__init__.py
  deepmd/utils/argcheck.py
  source/tests/pt/model/test_get_model.py
Labels: Python

#4131 feat: `DeepEval.get_model_def_script` and common `dp show`
  deepmd/dpmodel/infer/deep_eval.py
  deepmd/entrypoints/main.py
  deepmd/entrypoints/show.py
  deepmd/infer/deep_eval.py
  deepmd/main.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/infer/deep_eval.py
  deepmd/tf/infer/deep_eval.py
  source/tests/infer/case.py
  source/tests/infer/deeppot-testcase.yaml
  source/tests/infer/fparam_aparam-testcase.yaml
  source/tests/infer/test_models.py
  source/tests/pt/common.py
Labels: Python

#4134 fix(pt): fix zero inputs for LayerNorm
  deepmd/pt/model/network/layernorm.py
Labels: Python

#4139 fix(pt/dp): share params of `repinit_three_body`
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/pt/model/descriptor/dpa2.py
  source/tests/pt/model/test_permutation.py
  source/tests/pt/test_multitask.py
Labels: Python

#4142 chore(pt): cleanup deadcode
  deepmd/pt/model/model/transform_output.py
  deepmd/pt/utils/preprocess.py
  deepmd/pt/utils/region.py
  source/tests/pt/model/test_region.py
Labels: Python

#4144 chore(pt): make `comm_dict` for dpa2 noncompulsory when nghost is 0
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/tests/test_deeppot_a_fparam_aparam_pt.cc
  source/api_cc/tests/test_deeppot_dpa_pt.cc
  source/api_cc/tests/test_deeppot_pt.cc
Labels: C++

#4138 docs(pt): examples for new dpa2 model
  doc/model/dpa2.md
  examples/water/dpa2/README.md
  examples/water/dpa2/input_torch_large.json
  examples/water/dpa2/input_torch_medium.json
  examples/water/dpa2/input_torch_small.json
  source/tests/common/test_examples.py
Labels: Python, Docs, Examples

#4146 fix(pt): move entry point from `deepmd.pt.model` to `deepmd.pt`
  deepmd/pt/__init__.py
  deepmd/pt/model/__init__.py
Labels: Python

#4150 Set ROCM_ROOT to ROCM_PATH when it exist
  backend/read_env.py
  doc/install/install-from-source.md
Labels: Docs

#4152 fix: fix `DPH5Path.glob` for new keys
  deepmd/utils/path.py
Labels: Python

#4148 fix(pt): make `state_dict` safe for `weights_only`
  deepmd/pt/train/training.py
  source/tests/pt/test_change_bias.py
Labels: Python

#4153 chore(pt): move `deepmd.pt.infer.deep_eval.eval_model` to tests
  deepmd/pt/infer/deep_eval.py
  source/tests/pt/common.py
  source/tests/pt/model/test_autodiff.py
  source/tests/pt/model/test_forward_lower.py
  source/tests/pt/model/test_null_input.py
  source/tests/pt/model/test_permutation.py
  source/tests/pt/model/test_permutation_denoise.py
  source/tests/pt/model/test_rot.py
  source/tests/pt/model/test_rot_denoise.py
  source/tests/pt/model/test_smooth.py
  source/tests/pt/model/test_smooth_denoise.py
  source/tests/pt/model/test_trans.py
  source/tests/pt/model/test_trans_denoise.py
  source/tests/pt/model/test_unused_params.py
Labels: Python

#4155 fix(pt): fix `compute_output_stats_global` when `atomic_output` is `None`
  deepmd/pt/utils/stat.py
Labels: Python

#4156 feat(jax): support neural networks
  .github/workflows/test_cuda.yml
  .github/workflows/test_python.yml
  deepmd/backend/jax.py
  deepmd/dpmodel/common.py
  deepmd/dpmodel/utils/network.py
  deepmd/dpmodel/utils/type_embed.py
  deepmd/jax/__init__.py
  deepmd/jax/common.py
  deepmd/jax/env.py
  deepmd/jax/utils/__init__.py
  deepmd/jax/utils/network.py
  deepmd/jax/utils/type_embed.py
  pyproject.toml
  source/tests/common/dpmodel/array_api/test_activation_functions.py
  source/tests/consistent/common.py
  source/tests/consistent/test_activation.py
  source/tests/consistent/test_type_embedding.py
Labels: Python

#4162 fix(pt ut): make separated uts deterministic
  source/tests/pt/model/models/dpa1.json
  source/tests/pt/model/models/dpa2.json
  source/tests/pt/model/test_descriptor_se_r.py
  source/tests/pt/model/test_dipole_fitting.py
  source/tests/pt/model/test_dpa1.py
  source/tests/pt/model/test_dpa2.py
  source/tests/pt/model/test_embedding_net.py
  source/tests/pt/model/test_ener_fitting.py
  source/tests/pt/model/test_permutation.py
  source/tests/pt/model/test_polarizability_fitting.py
  source/tests/pt/model/test_property_fitting.py
  source/tests/pt/model/test_se_atten_v2.py
  source/tests/pt/model/test_se_e2_a.py
  source/tests/pt/model/test_se_t.py
  source/tests/pt/model/water/se_atten.json
Labels: Python

#4145 fix(pt): finetuning property/dipole/polar/dos fitting with multi-dimensional data causes error
  deepmd/pt/train/training.py
  source/tests/pt/test_training.py
Labels: Python

#4165 Feat: output logs on freezing models
  deepmd/pt/entrypoints/main.py
Labels: Python

#4166 chore: change econf embed to spin representation
  deepmd/dpmodel/utils/type_embed.py
  deepmd/utils/econf_embd.py
  source/tests/common/test_econf_embd.py
Labels: Python
