Repository deepmodeling/deepmd-kit, pull requests merged in 2025-07, with the labels that each got.

#4793 fix(dpmodel/pt/pd/jax): pass trainable to layer & support JAX trainable & support TF tensor fitting trainable
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/dpmodel/descriptor/dpa3.py
  deepmd/dpmodel/descriptor/repflows.py
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/dpmodel/descriptor/se_t.py
  deepmd/dpmodel/descriptor/se_t_tebd.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/utils/network.py
  deepmd/dpmodel/utils/type_embed.py
  deepmd/jax/utils/network.py
  deepmd/pd/model/descriptor/dpa1.py
  deepmd/pd/model/descriptor/dpa2.py
  deepmd/pd/model/descriptor/dpa3.py
  deepmd/pd/model/descriptor/repflow_layer.py
  deepmd/pd/model/descriptor/repflows.py
  deepmd/pd/model/descriptor/repformer_layer.py
  deepmd/pd/model/descriptor/repformers.py
  deepmd/pd/model/descriptor/se_a.py
  deepmd/pd/model/descriptor/se_atten.py
  deepmd/pd/model/descriptor/se_t_tebd.py
  deepmd/pd/model/network/mlp.py
  deepmd/pd/model/network/network.py
  deepmd/pt/model/descriptor/dpa1.py
  deepmd/pt/model/descriptor/dpa2.py
  deepmd/pt/model/descriptor/dpa3.py
  deepmd/pt/model/descriptor/repflow_layer.py
  deepmd/pt/model/descriptor/repflows.py
  deepmd/pt/model/descriptor/repformer_layer.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/model/descriptor/se_a.py
  deepmd/pt/model/descriptor/se_atten.py
  deepmd/pt/model/descriptor/se_r.py
  deepmd/pt/model/descriptor/se_t.py
  deepmd/pt/model/descriptor/se_t_tebd.py
  deepmd/pt/model/network/mlp.py
  deepmd/pt/model/network/network.py
  deepmd/pt/model/task/fitting.py
  deepmd/tf/descriptor/se.py
  deepmd/tf/descriptor/se_a.py
  deepmd/tf/descriptor/se_atten.py
  deepmd/tf/descriptor/se_r.py
  deepmd/tf/descriptor/se_t.py
  deepmd/tf/fit/dipole.py
  deepmd/tf/fit/dos.py
  deepmd/tf/fit/ener.py
  deepmd/tf/fit/fitting.py
  deepmd/tf/fit/polar.py
  source/tests/consistent/descriptor/test_dpa1.py
  source/tests/consistent/descriptor/test_dpa2.py
  source/tests/consistent/descriptor/test_dpa3.py
Labels: Python

#4828 pd: support dpa3 dynamic shape for pd backend
  deepmd/pd/model/descriptor/repflow_layer.py
  deepmd/pd/model/descriptor/repflows.py
  deepmd/pd/model/network/utils.py
  source/tests/pd/model/test_dynamic_sel.py
Labels: Python

#4820 feat(pt): add `observed-type` option for dp show
  deepmd/entrypoints/show.py
  deepmd/infer/deep_eval.py
  deepmd/main.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/model/model/ener_model.py
  deepmd/pt/model/model/model.py
  deepmd/utils/econf_embd.py
  doc/model/show-model-info.md
  source/tests/pt/test_dp_show.py
Labels: Python, Docs

#4844 fix(cc): use insert_or_assign instead of insert
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/DeepSpinPT.cc
Labels: C++
