Repository deepmodeling/deepmd-kit, pull requests merged in 2025-09, with the labels that each got.

#4951 docs(lmp): fix the usage of LAMMPS `pair_style hybrid/overlay`
  doc/third-party/lammps-command.md
Labels: Docs

#4888 feat(dp/pt): add default_fparam
  deepmd/dpmodel/atomic_model/base_atomic_model.py
  deepmd/dpmodel/atomic_model/dp_atomic_model.py
  deepmd/dpmodel/fitting/dipole_fitting.py
  deepmd/dpmodel/fitting/dos_fitting.py
  deepmd/dpmodel/fitting/ener_fitting.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/fitting/invar_fitting.py
  deepmd/dpmodel/fitting/polarizability_fitting.py
  deepmd/dpmodel/fitting/property_fitting.py
  deepmd/dpmodel/infer/deep_eval.py
  deepmd/dpmodel/model/make_model.py
  deepmd/entrypoints/test.py
  deepmd/infer/deep_eval.py
  deepmd/jax/fitting/fitting.py
  deepmd/pd/model/task/ener.py
  deepmd/pd/model/task/fitting.py
  deepmd/pd/model/task/invar_fitting.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/task/dipole.py
  deepmd/pt/model/task/dos.py
  deepmd/pt/model/task/ener.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/model/task/invar_fitting.py
  deepmd/pt/model/task/polarizability.py
  deepmd/pt/model/task/property.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/stat.py
  deepmd/tf/fit/dipole.py
  deepmd/tf/fit/dos.py
  deepmd/tf/fit/ener.py
  deepmd/tf/fit/polar.py
  deepmd/utils/argcheck.py
  source/tests/array_api_strict/fitting/fitting.py
  source/tests/consistent/fitting/test_ener.py
  source/tests/universal/dpmodel/fitting/test_fitting.py
Labels: Python

#4969 feat: add PyTorch profiler support to LAMMPS MD
  doc/env.md
  source/api_cc/include/DeepPotPT.h
  source/api_cc/src/DeepPotPT.cc
Labels: C++, Docs

#4978 fix: change eV/A to eV/Å for dp test
  deepmd/entrypoints/test.py
Labels: Python

#4980 fix: fix unit display in dp test
  deepmd/entrypoints/test.py
Labels: Python

#4987 pd(feat): support python inference with `DP` class
  deepmd/pd/entrypoints/main.py
  deepmd/pd/infer/deep_eval.py
  deepmd/pd/model/atomic_model/base_atomic_model.py
  deepmd/pd/model/atomic_model/dp_atomic_model.py
  deepmd/pd/model/descriptor/dpa1.py
  deepmd/pd/model/descriptor/dpa2.py
  deepmd/pd/model/descriptor/dpa3.py
  deepmd/pd/model/descriptor/repflows.py
  deepmd/pd/model/descriptor/repformers.py
  deepmd/pd/model/descriptor/se_a.py
  deepmd/pd/model/descriptor/se_atten.py
  deepmd/pd/model/descriptor/se_t_tebd.py
  deepmd/pd/model/model/ener_model.py
  deepmd/pd/model/model/make_model.py
  deepmd/pd/model/model/model.py
  deepmd/pd/model/task/fitting.py
  deepmd/pd/utils/decomp.py
  deepmd/pd/utils/stat.py
  doc/third-party/ase.md
  source/api_cc/src/DeepPotPD.cc
  source/tests/pd/model/test_atomic_model_atomic_stat.py
  source/tests/pd/model/test_deeppot.py
  source/tests/pd/model/test_descriptor_dpa1.py
  source/tests/pd/model/test_descriptor_dpa2.py
Labels: Python, C++, Docs
