Repository deepmodeling/deepmd-kit, pull requests merged in 2025-08, with the labels that each got.

#4854 feat(pt): add Mean absolute percentage error (MAPE) loss for prop. pred.
  deepmd/pt/loss/property.py
Labels: Python, Docs

#4850 refactor(training): Average training loss for smoother and more representative logging
  deepmd/pt/train/training.py
  deepmd/utils/argcheck.py
Labels: Python, C++, Docs

#4866 docs: add bfloat16 option to the model precision choice
  deepmd/common.py
Labels: Python

#4867 fix: merge `get_np_precision` to `get_xp_precision`
  deepmd/common.py
Labels: Python

#4874 fix: no pinning memory on CPU
  deepmd/pt/train/training.py
Labels: Python

#4870 feat(pd): support dpa2/dpa3 C++ inference
  deepmd/pd/cxx_op.py
  deepmd/pd/entrypoints/main.py
  deepmd/pd/model/atomic_model/base_atomic_model.py
  deepmd/pd/model/atomic_model/dp_atomic_model.py
  deepmd/pd/model/descriptor/dpa1.py
  deepmd/pd/model/descriptor/dpa2.py
  deepmd/pd/model/descriptor/dpa3.py
  deepmd/pd/model/descriptor/env_mat.py
  deepmd/pd/model/descriptor/repflows.py
  deepmd/pd/model/descriptor/repformer_layer.py
  deepmd/pd/model/descriptor/repformers.py
  deepmd/pd/model/descriptor/se_a.py
  deepmd/pd/model/descriptor/se_atten.py
  deepmd/pd/model/descriptor/se_t_tebd.py
  deepmd/pd/model/model/ener_model.py
  deepmd/pd/model/model/make_model.py
  deepmd/pd/model/model/transform_output.py
  deepmd/pd/model/network/network.py
  deepmd/pd/model/task/fitting.py
  deepmd/pd/utils/exclude_mask.py
  deepmd/pd/utils/nlist.py
  deepmd/pd/utils/serialization.py
  deepmd/pd/utils/stat.py
  source/CMakeLists.txt
  source/api_cc/CMakeLists.txt
  source/api_cc/include/DeepPotPD.h
  source/api_cc/src/DeepPotPD.cc
  source/api_cc/src/common.cc
  source/op/pd/CMakeLists.txt
  source/op/pd/comm.cc
  source/op/pd/setup.py
  source/tests/pd/model/test_model.py
Labels: Python, OP, C++

#4855 Profile bug fix when both enable_profiler and profiling are set to true.
  deepmd/pt/train/training.py
  deepmd/utils/argcheck.py
Labels: Python, C++, Docs

#4849 feat(pt): support zbl finetune
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/atomic_model/linear_atomic_model.py
  deepmd/pt/model/atomic_model/pairtab_atomic_model.py
  deepmd/pt/train/training.py
  source/tests/pt/model/test_linear_atomic_model_stat.py
  source/tests/pt/test_training.py
Labels: Python

#4869 fix: get correct intensive property prediction when using virtual atoms
  deepmd/dpmodel/fitting/property_fitting.py
  deepmd/dpmodel/model/dp_model.py
  deepmd/dpmodel/model/make_model.py
  deepmd/dpmodel/model/property_model.py
  deepmd/dpmodel/model/transform_output.py
  deepmd/jax/model/base_model.py
  deepmd/pt/model/model/make_model.py
  deepmd/pt/model/model/transform_output.py
  source/tests/common/dpmodel/test_padding_atoms.py
  source/tests/jax/test_padding_atoms.py
  source/tests/pt/test_padding_atoms.py
Labels: Python

#4887 doc(pd): update paddle installation scripts and paddle related content in dpa3 document
  deepmd/pd/model/descriptor/repflows.py
  deepmd/pd/model/descriptor/repformers.py
  doc/install/easy-install.md
  doc/install/install-from-source.md
  doc/model/dpa3.md
  doc/train/training.md
Labels: Python, Docs

#4883 feat(pt): add model branch alias
  deepmd/entrypoints/show.py
  deepmd/pt/infer/deep_eval.py
  deepmd/pt/utils/finetune.py
  deepmd/utils/argcheck.py
  deepmd/utils/model_branch_dict.py
  examples/water_multi_task/pytorch_example/input_torch_with_alias.json
  source/tests/common/test_examples.py
  source/tests/pt/test_dp_show.py
Labels: Python, Examples

#4859 feat: support using train/valid data from input.json for dp test
  deepmd/entrypoints/test.py
  deepmd/main.py
  source/tests/common/test_argument_parser.py
  source/tests/pt/test_dp_test.py
Labels: Python
