Repository deepmodeling/deepmd-kit, pull requests merged in 2025-04, with the labels that each got.

#4688 perf: reschedule plus op
  deepmd/dpmodel/descriptor/repflows.py
  deepmd/pt/model/descriptor/repflow_layer.py
Labels: Python

#4687 perf: use `torch.split` in replace of slicing ops in repflow
  deepmd/dpmodel/descriptor/repflows.py
  deepmd/pt/model/descriptor/repflow_layer.py
Labels: Python

#4694 pd: update paddlepaddle version to release/3.0
  .github/workflows/test_cuda.yml
  .github/workflows/test_python.yml
  backend/find_paddle.py
  doc/install/easy-install.md
  doc/install/install-from-source.md
  source/CMakeLists.txt
Labels: Docs

#4702 fix(tests): fix tearDownClass and release GPU memory
  source/tests/universal/dpmodel/backend.py
  source/tests/universal/pt/atomc_model/test_atomic_model.py
  source/tests/universal/pt/backend.py
  source/tests/universal/pt/descriptor/test_descriptor.py
  source/tests/universal/pt/fitting/test_fitting.py
  source/tests/universal/pt/loss/test_loss.py
  source/tests/universal/pt/model/test_model.py
  source/tests/universal/pt/utils/test_type_embed.py
Labels: Python

#4701 pd: support dpa3 with paddle backend
  deepmd/pd/loss/__init__.py
  deepmd/pd/loss/ener.py
  deepmd/pd/model/descriptor/__init__.py
  deepmd/pd/model/descriptor/descriptor.py
  deepmd/pd/model/descriptor/dpa1.py
  deepmd/pd/model/descriptor/dpa2.py
  deepmd/pd/model/descriptor/dpa3.py
  deepmd/pd/model/descriptor/repflow_layer.py
  deepmd/pd/model/descriptor/repflows.py
  deepmd/pd/model/descriptor/repformer_layer.py
  deepmd/pd/model/descriptor/repformers.py
  deepmd/pd/model/descriptor/se_a.py
  deepmd/pd/model/descriptor/se_atten.py
  deepmd/pd/model/network/layernorm.py
  deepmd/pd/model/network/mlp.py
  deepmd/pd/train/training.py
  deepmd/pd/utils/auto_batch_size.py
  deepmd/pd/utils/env_mat_stat.py
  deepmd/pd/utils/learning_rate.py
  deepmd/pd/utils/neighbor_stat.py
  deepmd/pd/utils/nlist.py
  deepmd/pd/utils/stat.py
  deepmd/pd/utils/utils.py
  source/tests/consistent/descriptor/test_dpa3.py
  source/tests/pd/model/test_dpa2.py
  source/tests/pd/model/test_dpa3.py
  source/tests/pd/model/test_permutation.py
  source/tests/pd/model/test_smooth.py
  source/tests/pd/test_multitask.py
Labels: Python, Core, CUDA, ROCM, OP, Docs, Examples

#4715 pd: fix model saving in DDP mode
  deepmd/pd/train/training.py
Labels: Python
