Repository deepmodeling/deepmd-kit, pull requests merged in 2025-06, with the labels that each got.

#4763 Feat:support customized rglob
  deepmd/common.py
  deepmd/pt/entrypoints/main.py
  deepmd/utils/argcheck.py
  deepmd/utils/data_system.py
  source/tests/pt/test_training.py
Labels: Python

#4780 docs: fix PyTorch compression command
  doc/freeze/compress.md
Labels: Docs

#4781 Doc: update DPA3 reference
  README.md
  deepmd/dpmodel/descriptor/dpa3.py
  deepmd/pd/model/descriptor/dpa3.py
  deepmd/pt/model/descriptor/dpa3.py
  doc/model/dpa3.md
Labels: Python, Docs

#4783 feat(pt/pd): add size option to dp show
  deepmd/entrypoints/show.py
  deepmd/infer/deep_eval.py
  deepmd/main.py
  deepmd/pd/infer/deep_eval.py
  deepmd/pt/infer/deep_eval.py
  doc/model/index.rst
  doc/model/show-model-info.md
  source/tests/pt/test_dp_show.py
Labels: Python, Docs

#4804 perf: use contiguous memory stride for edge/angle indices
  deepmd/dpmodel/descriptor/repflows.py
  deepmd/dpmodel/utils/network.py
  deepmd/pt/model/descriptor/repflow_layer.py
  deepmd/pt/model/descriptor/repflows.py
  deepmd/pt/model/network/utils.py
Labels: Python

#4795 pd: support different label_dict in CINN
  deepmd/pd/train/training.py
Labels: Python

#4797 pd: update loc_mapping for dpa3 in paddle backend
  deepmd/pd/model/descriptor/dpa3.py
  deepmd/pd/model/descriptor/env_mat.py
  deepmd/pd/model/descriptor/repflow_layer.py
  deepmd/pd/model/descriptor/repflows.py
  deepmd/pd/model/descriptor/repformers.py
  deepmd/pd/model/network/utils.py
  deepmd/pd/utils/env.py
  deepmd/pd/utils/preprocess.py
  deepmd/pd/utils/spin.py
  deepmd/pd/utils/utils.py
  source/tests/consistent/descriptor/test_dpa3.py
Labels: Python

#4824 fix(jax): fix the usage of `jaxlib.xla_extension`
  deepmd/jax/utils/auto_batch_size.py
Labels: Python
