Repository deepmodeling/deepmd-kit, pull requests merged in 2025-02, with the labels that each got.

#4575 chore: bump pytorch to 2.6.0
  .devcontainer/download_libtorch.sh
  .github/workflows/test_cuda.yml
  backend/find_pytorch.py
  source/tests/pt/__init__.py
Labels: Python

#4547 fix(pt): detach computed descriptor tensor to prevent OOM
  deepmd/pt/model/atomic_model/dp_atomic_model.py
Labels: Python

#4582 fix(pt): throw errors for GPU tensors and the CPU OP library
  source/op/pt/tabulate_multi_device.cc
Labels: OP

#4581 use variable to store the bias of atomic polarizability
  deepmd/tf/fit/polar.py
  source/tests/consistent/common.py
Labels: Python

#4514 pd: add CINN compiler for dpa2, dpa1 training
  deepmd/pd/train/training.py
  deepmd/pd/utils/env.py
Labels: Python

#4587 Fix: pt tensor loss label name
  deepmd/pt/train/training.py
  deepmd/pt/utils/stat.py
Labels: Python

#4597 fix: print summary on local_rank=0
  deepmd/pd/entrypoints/main.py
  deepmd/pt/entrypoints/main.py
Labels: Python

#4599 feat(pt): add `trainable` to property fitting
  deepmd/pt/model/task/property.py
  deepmd/utils/argcheck.py
Labels: Python

#4600 update dpa3 with custom op and optimized update
  deepmd/dpmodel/descriptor/dpa3.py
  deepmd/pt/model/descriptor/dpa3.py
  deepmd/pt/model/descriptor/repflow_layer.py
  deepmd/pt/model/descriptor/repflows.py
  deepmd/pt/utils/dataloader.py
  deepmd/pt/utils/utils.py
  deepmd/utils/argcheck.py
  examples/water/dpa3/input_torch.json
  source/lib/include/cdsilu.h
  source/lib/include/thsilu.h
  source/lib/src/cdsilu.cc
  source/lib/src/gpu/cdsilu.cu
  source/lib/src/gpu/thsilu.cu
  source/lib/src/thsilu.cc
  source/op/pt/CMakeLists.txt
  source/op/pt/cdsilu.cc
  source/op/pt/thsilu.cc
Labels: Python, Core, CUDA, ROCM, OP, Examples

#4504 Feat(pt): Support fitting_net input statistics.
  deepmd/pt/model/atomic_model/base_atomic_model.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/model/__init__.py
  deepmd/pt/model/task/fitting.py
  source/tests/pt/test_fitting_stat.py
Labels: Python

#4619 docs: add v3 paper citations
  CITATIONS.bib
  README.md
  deepmd/utils/summary.py
  doc/credits.rst
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepspin.cpp
Labels: Python, LAMMPS, Docs
