Repository deepmodeling/deepmd-kit, pull requests merged in 2025-05, with the labels that each got.

#4720 CI: use libtorch in wheels via `USE_PT_PYTHON_LIBS`
  .github/workflows/build_cc.yml
  .github/workflows/codeql.yml
  .github/workflows/test_cc.yml
  .github/workflows/test_cuda.yml
  doc/install/install-from-source.md
  source/install/build_cc.sh
  source/install/test_cc_local.sh
Labels: Docs

#4724 fix(jax): fix NaN in sigmoid grad
  deepmd/dpmodel/utils/network.py
Labels: Python

#4728 breaking: enable PyTorch backend for PyPI LAMMPS
  backend/read_env.py
  deepmd/entrypoints/ipi.py
  deepmd/lmp.py
  doc/install/easy-install.md
  pyproject.toml
  source/CMakeLists.txt
  source/api_cc/CMakeLists.txt
  source/tests/common/test_lammps.py
  source/tests/infer/in.test
Labels: Python, C++, Docs

#4725 feat(pt): add eta message for pt backend
  deepmd/loggers/training.py
  deepmd/pd/train/training.py
  deepmd/pt/train/training.py
Labels: Python

#4726 fix(jax): set `default_matmul_precision` to `tensorfloat32`
  deepmd/jax/env.py
Labels: Python

#4730 Chore(pt): add `--model-branch` as alias
  deepmd/main.py
  source/tests/pd/test_dp_show.py
  source/tests/pt/test_dp_show.py
Labels: Python

#4729 feat(array-api): env mat stat
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/dpa2.py
  deepmd/dpmodel/descriptor/dpa3.py
  deepmd/dpmodel/descriptor/repflows.py
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/dpmodel/descriptor/se_e2_a.py
  deepmd/dpmodel/descriptor/se_r.py
  deepmd/dpmodel/descriptor/se_t.py
  deepmd/dpmodel/descriptor/se_t_tebd.py
  deepmd/dpmodel/utils/env_mat_stat.py
  deepmd/dpmodel/utils/nlist.py
  deepmd/dpmodel/utils/region.py
  source/tests/consistent/common.py
  source/tests/consistent/descriptor/test_se_e2_a.py
Labels: Python

#4735 fix(tf): always use float64 for the global tensor
  deepmd/tf/model/tensor.py
Labels: Python

#4738 docs: update the citation of deepmd-kit v3
  CITATIONS.bib
  README.md
  deepmd/utils/summary.py
  doc/credits.rst
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepspin.cpp
Labels: Python, LAMMPS, Docs

#4737 fix: remove the use of `BufferedIterator`
  deepmd/pt/train/training.py
  deepmd/pt/utils/dataloader.py
  source/tests/pt/model/test_saveload_dpa1.py
  source/tests/pt/model/test_saveload_se_e2_a.py
Labels: Python

#4747 perf: use `torch.embedding` for type embedding
  deepmd/pt/model/network/network.py
Labels: Python

#4757 feat(pt): add AdamW for pt training
  deepmd/pt/train/training.py
  deepmd/utils/argcheck.py
Labels: Python

#4759 [r3.0] release v3.0.3
  .devcontainer/download_libtorch.sh
  .github/workflows/build_cc.yml
  .github/workflows/test_cc.yml
  .github/workflows/test_cuda.yml
  .github/workflows/test_python.yml
  backend/find_pytorch.py
  deepmd/calculator.py
  deepmd/dpmodel/utils/network.py
  deepmd/jax/env.py
  deepmd/jax/model/base_model.py
  deepmd/pt/model/descriptor/repformers.py
  deepmd/pt/utils/auto_batch_size.py
  deepmd/tf/infer/deep_eval.py
  deepmd/tf/model/tensor.py
  deepmd/utils/data.py
  pyproject.toml
  source/cmake/googletest.cmake.in
  source/lmp/tests/lrdipole.pbtxt
  source/tests/tf/test_deepmd_data.py
  source/tests/tf/test_dplr.py
  source/tests/universal/dpmodel/backend.py
  source/tests/universal/pt/atomc_model/test_atomic_model.py
  source/tests/universal/pt/backend.py
  source/tests/universal/pt/descriptor/test_descriptor.py
  source/tests/universal/pt/fitting/test_fitting.py
  source/tests/universal/pt/loss/test_loss.py
  source/tests/universal/pt/model/test_model.py
  source/tests/universal/pt/utils/test_type_embed.py
Labels: Python, Core, CUDA, ROCM, C++, LAMMPS, Docs, Examples

#4754 feat(pt/dp): add dynamic sel for DPA3
  deepmd/dpmodel/array_api.py
  deepmd/dpmodel/descriptor/dpa3.py
  deepmd/dpmodel/descriptor/repflows.py
  deepmd/dpmodel/utils/__init__.py
  deepmd/dpmodel/utils/network.py
  deepmd/pd/model/descriptor/dpa3.py
  deepmd/pd/model/descriptor/repflow_layer.py
  deepmd/pd/model/descriptor/repflows.py
  deepmd/pt/model/descriptor/dpa3.py
  deepmd/pt/model/descriptor/repflow_layer.py
  deepmd/pt/model/descriptor/repflows.py
  deepmd/pt/model/network/utils.py
  deepmd/utils/argcheck.py
  source/tests/consistent/descriptor/test_dpa3.py
  source/tests/pt/model/test_dynamic_sel.py
  source/tests/universal/dpmodel/descriptor/test_descriptor.py
  source/tests/universal/dpmodel/model/test_model.py
Labels: Python

#4760 feat(pt/dp): add distance init for DPA3 edge feat
  deepmd/dpmodel/descriptor/dpa3.py
  deepmd/dpmodel/descriptor/repflows.py
  deepmd/pt/model/descriptor/dpa3.py
  deepmd/pt/model/descriptor/repflows.py
  deepmd/utils/argcheck.py
  source/tests/consistent/descriptor/test_dpa3.py
  source/tests/universal/dpmodel/descriptor/test_descriptor.py
Labels: Python

#4768 pd: revert einsum to matmul for paddle backend
  deepmd/pd/model/model/transform_output.py
Labels: Python

#4770 pd: suppport CINN for se_e2_a inference
  deepmd/pd/train/training.py
  source/api_cc/src/DeepPotPD.cc
Labels: Python, C++

#4774 fix(dpmodel): fix normalize scale of initial parameters
  deepmd/dpmodel/utils/network.py
Labels: Python

#4765 fix(dpmodel): fix energy loss
  deepmd/dpmodel/loss/ener.py
  source/tests/consistent/loss/test_ener.py
Labels: Python

#4772 feat: add use_loc_mapping
  deepmd/dpmodel/descriptor/dpa3.py
  deepmd/dpmodel/descriptor/repflows.py
  deepmd/dpmodel/utils/network.py
  deepmd/pd/model/descriptor/dpa3.py
  deepmd/pd/model/descriptor/repflows.py
  deepmd/pt/model/descriptor/dpa3.py
  deepmd/pt/model/descriptor/repflow_layer.py
  deepmd/pt/model/descriptor/repflows.py
  deepmd/pt/model/network/utils.py
  deepmd/utils/argcheck.py
  source/tests/consistent/descriptor/test_dpa3.py
  source/tests/pd/model/test_dpa3.py
  source/tests/pt/model/test_loc_mapping.py
  source/tests/universal/common/cases/model/utils.py
  source/tests/universal/dpmodel/descriptor/test_descriptor.py
Labels: Python

#4773 perf: skip bincount if unnecessary
  deepmd/pt/model/network/utils.py
Labels: Python

#4775 fix(jax): fix repflows JIT issues
  deepmd/dpmodel/descriptor/repflows.py
Labels: Python

#4766 fix(jax): make display_if_exist jit-able
  deepmd/dpmodel/loss/loss.py
Labels: Python
