Repository deepmodeling/deepmd-kit, pull requests merged in 2025-01, with the labels that each got.

#4524 Perf: replace unnecessary torch.split with indexing
  deepmd/pt/model/descriptor/repflow_layer.py
  deepmd/pt/model/descriptor/repformer_layer.py
  deepmd/pt/utils/nlist.py
Labels: Python

#4528 feat(dpa3) add n_multi_edge_message
  deepmd/dpmodel/descriptor/dpa3.py
  deepmd/pt/model/descriptor/dpa3.py
  deepmd/pt/model/descriptor/repflow_layer.py
  deepmd/pt/model/descriptor/repflows.py
  deepmd/utils/argcheck.py
  source/tests/pt/model/test_dpa3.py
  source/tests/universal/dpmodel/descriptor/test_descriptor.py
Labels: Python

#4534 fix(pt): fix clearing the list in set_eval_descriptor_hook
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  source/tests/infer/test_models.py
Labels: Python

#4538 [fix bug] load atomic_*.npy for tf tensor model
  deepmd/tf/loss/tensor.py
  deepmd/tf/train/trainer.py
Labels: Python

#4535 fix: lower `num_workers` to 4
  deepmd/pt/utils/env.py
  doc/env.md
Labels: Python, Docs

#4541 chore: align dataset summary output
  deepmd/utils/data_system.py
Labels: Python

#4542 feat(tf): support tensor fitting with hybrid descriptor
  deepmd/tf/descriptor/descriptor.py
  deepmd/tf/descriptor/hybrid.py
  deepmd/tf/model/model.py
  source/tests/tf/test_dipole_hybrid_descrpt.py
Labels: Python

#4549 feat(dpa3): add huber loss
  deepmd/pt/loss/ener.py
  deepmd/pt/utils/auto_batch_size.py
  deepmd/utils/argcheck.py
Labels: Python

#4467 pd: add CPP inference with LAMMPS
  .devcontainer/build_cxx.sh
  .github/workflows/suppr.txt
  .github/workflows/test_cc.yml
  .github/workflows/test_cuda.yml
  .pre-commit-config.yaml
  deepmd/pd/utils/serialization.py
  source/CMakeLists.txt
  source/api_cc/CMakeLists.txt
  source/api_cc/include/DeepPotPD.h
  source/api_cc/include/version.h.in
  source/api_cc/src/DeepPot.cc
  source/api_cc/src/DeepPotPD.cc
  source/api_cc/src/common.cc
  source/api_cc/tests/test_deeppot_pd.cc
  source/config/CMakeLists.txt
  source/config/run_config.ini
  source/install/test_cc_local.sh
  source/lib/include/ewald.h
  source/lmp/plugin/CMakeLists.txt
  source/lmp/tests/test_lammps_pd.py
  source/tests/infer/deeppot_sea.forward_lower.json
  source/tests/infer/deeppot_sea.forward_lower.pdiparams
  source/tests/infer/deeppot_sea.json
  source/tests/infer/deeppot_sea.pdiparams
Labels: Python, Core, C++, LAMMPS

#4550 chore: test consistency of rotation matrix
  source/tests/consistent/descriptor/common.py
  source/tests/consistent/descriptor/test_dpa1.py
  source/tests/consistent/descriptor/test_hybrid.py
  source/tests/consistent/descriptor/test_se_atten_v2.py
  source/tests/consistent/descriptor/test_se_e2_a.py
Labels: Python

#4489 pd: update paddle doc
  README.md
  doc/_static/paddle.svg
  doc/backend.md
  doc/conf.py
  doc/freeze/freeze.md
  doc/install/easy-install.md
  doc/install/install-from-source.md
  doc/model/dpa2.md
  doc/model/sel.md
  doc/model/train-energy.md
  doc/model/train-se-atten.md
  doc/model/train-se-e2-a.md
  doc/train/finetuning.md
  doc/train/parallel-training.md
  doc/train/tensorboard.md
  doc/train/training.md
Labels: Docs

#4513 Perf: use F.linear for MLP
  deepmd/pt/model/network/mlp.py
Labels: Python

#4561 chore: improve neighbor stat log
  deepmd/utils/neighbor_stat.py
Labels: Python

#4565 fix: fix YAML conversion
  deepmd/dpmodel/utils/serialization.py
Labels: Python

#4570 fix(cc): remove C++ 17 usage
  source/CMakeLists.txt
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/DeepSpinPT.cc
Labels: C++
