Repository deepmodeling/deepmd-kit, pull requests merged in 2025-03, with the labels that each got.

#4624 fix(array-api): fix xp.where errors
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/dpmodel/descriptor/se_t_tebd.py
  deepmd/dpmodel/fitting/general_fitting.py
Labels: Python

#4589 [r3.0] release v3.0.2
  .devcontainer/download_libtorch.sh
  .github/workflows/build_wheel.yml
  .github/workflows/test_cc.yml
  .github/workflows/test_cuda.yml
  .github/workflows/test_python.yml
  .readthedocs.yml
  CITATIONS.bib
  README.md
  backend/find_pytorch.py
  deepmd/dpmodel/descriptor/dpa1.py
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/dpmodel/descriptor/se_t_tebd.py
  deepmd/dpmodel/fitting/general_fitting.py
  deepmd/dpmodel/utils/serialization.py
  deepmd/pt/model/atomic_model/dp_atomic_model.py
  deepmd/pt/model/descriptor/repformer_layer.py
  deepmd/pt/model/network/mlp.py
  deepmd/pt/train/training.py
  deepmd/pt/utils/env.py
  deepmd/pt/utils/nlist.py
  deepmd/pt/utils/stat.py
  deepmd/tf/descriptor/descriptor.py
  deepmd/tf/descriptor/hybrid.py
  deepmd/tf/fit/polar.py
  deepmd/tf/loss/tensor.py
  deepmd/tf/model/model.py
  deepmd/tf/train/trainer.py
  deepmd/utils/neighbor_stat.py
  deepmd/utils/summary.py
  doc/credits.rst
  doc/env.md
  doc/model/dpa2.md
  doc/model/train-se-atten.md
  doc/train/finetuning.md
  doc/train/parallel-training.md
  doc/train/tensorboard.md
  source/CMakeLists.txt
  source/api_cc/src/DeepPotPT.cc
  source/api_cc/src/DeepSpinPT.cc
  source/lmp/pair_deepmd.cpp
  source/lmp/pair_deepspin.cpp
  source/op/pt/tabulate_multi_device.cc
  source/tests/consistent/common.py
  source/tests/infer/test_models.py
  source/tests/pt/__init__.py
  source/tests/tf/test_dipole_hybrid_descrpt.py
Labels: Python, OP, C++, LAMMPS, Docs

#4617 pd: Ignore if branch of 0-size
  deepmd/pd/model/descriptor/se_a.py
  deepmd/pd/model/network/layernorm.py
  deepmd/pd/utils/nlist.py
Labels: Python

#4558 feat(pd): add se_atten_v2
  deepmd/pd/model/descriptor/__init__.py
  deepmd/pd/model/descriptor/se_atten_v2.py
  source/tests/consistent/descriptor/test_se_atten_v2.py
Labels: Python

#4622 fix(pt): ensure proper cleanup of distributed process group
  deepmd/pt/entrypoints/main.py
Labels: Python

#4609 feat(pt/dp/jax/xp): add DPA3 descriptor
  deepmd/common.py
  deepmd/dpmodel/descriptor/__init__.py
  deepmd/dpmodel/descriptor/dpa3.py
  deepmd/dpmodel/descriptor/repflows.py
  deepmd/dpmodel/utils/network.py
  deepmd/jax/descriptor/__init__.py
  deepmd/jax/descriptor/dpa3.py
  deepmd/jax/descriptor/repflows.py
  deepmd/pd/utils/utils.py
  deepmd/pt/model/descriptor/__init__.py
  deepmd/pt/model/descriptor/descriptor.py
  deepmd/pt/model/descriptor/dpa3.py
  deepmd/pt/model/descriptor/repflow_layer.py
  deepmd/pt/model/descriptor/repflows.py
  deepmd/pt/model/task/fitting.py
  deepmd/pt/utils/utils.py
  deepmd/tf/common.py
  deepmd/utils/argcheck.py
  source/tests/array_api_strict/descriptor/dpa3.py
  source/tests/array_api_strict/descriptor/repflows.py
  source/tests/consistent/descriptor/test_dpa3.py
  source/tests/pt/model/test_dpa3.py
  source/tests/pt/model/test_permutation.py
  source/tests/pt/test_multitask.py
  source/tests/universal/dpmodel/descriptor/test_descriptor.py
  source/tests/universal/pt/descriptor/test_descriptor.py
  source/tests/universal/pt/model/test_model.py
Labels: Python

#4632 fix(dpa3): efficient stress calculation for ase
  deepmd/calculator.py
Labels: Python

#4556 feat(pd): Add dpa1 + lammps inference
  deepmd/pd/entrypoints/main.py
  deepmd/pd/model/descriptor/descriptor.py
  deepmd/pd/model/descriptor/repformers.py
  deepmd/pd/model/descriptor/se_a.py
  deepmd/pd/model/descriptor/se_atten.py
  deepmd/pd/model/descriptor/se_t_tebd.py
  deepmd/pd/model/network/layernorm.py
  deepmd/pd/utils/nlist.py
  source/lmp/plugin/CMakeLists.txt
Labels: Python, C++, LAMMPS, Examples

#4638 fix(pt): improve OOM detection
  deepmd/pt/utils/auto_batch_size.py
Labels: Python

#4640 fix(jax): fix typo c_differentiable -> r_differentiable
  deepmd/jax/model/base_model.py
Labels: Python

#4633 fix(ase): aviod duplicate stress calculation for ase calculator
  deepmd/calculator.py
Labels: Python

#4647 feat: add SiLUT activation
  deepmd/common.py
  deepmd/dpmodel/utils/network.py
  deepmd/pd/utils/utils.py
  deepmd/pt/entrypoints/main.py
  deepmd/pt/utils/env.py
  deepmd/pt/utils/utils.py
  deepmd/tf/common.py
  source/tests/pt/test_custom_activation.py
Labels: Python

#4649 feat(jax): Hessian
  .github/workflows/test_cuda.yml
  deepmd/dpmodel/array_api.py
  deepmd/dpmodel/model/ener_model.py
  deepmd/dpmodel/model/transform_output.py
  deepmd/jax/model/base_model.py
  source/tests/jax/test_dp_hessian_model.py
  source/tests/jax/test_make_hessian_model.py
Labels: Python

#4621 feat: add plugin mode for data modifier
  deepmd/dpmodel/modifier/__init__.py
  deepmd/dpmodel/modifier/base_modifier.py
  deepmd/tf/__init__.py
  deepmd/tf/entrypoints/train.py
  deepmd/tf/infer/__init__.py
  deepmd/tf/infer/deep_eval.py
  deepmd/tf/modifier/__init__.py
  deepmd/tf/modifier/base_modifier.py
  deepmd/tf/modifier/dipole_charge.py
  deepmd/utils/argcheck.py
  source/tests/tf/test_data_modifier.py
  source/tests/tf/test_data_modifier_shuffle.py
  source/tests/tf/test_dipolecharge.py
Labels: Python

#4664 refactor(pd): replace `build_strategy` with `backend` option in `to_static` API
  deepmd/pd/train/training.py
Labels: Python

#4669 fix: set fused option for Adam optimizer based on device type
  deepmd/pt/train/training.py
Labels: Python

#4673 doc(pd): update document of CINN compiler
  deepmd/pd/utils/env.py
  doc/train/training.md
Labels: Python, Docs

#4668 fix(jax): fix Hessian NaN for DPA-3
  deepmd/dpmodel/descriptor/repflows.py
  deepmd/dpmodel/descriptor/repformers.py
  deepmd/dpmodel/utils/env_mat.py
Labels: Python

#4659 feat: add new batch size rules for large systems
  deepmd/pd/utils/dataloader.py
  deepmd/pt/utils/dataloader.py
  deepmd/utils/argcheck.py
  doc/train/training-advanced.md
  source/tests/pt/test_dploaderset.py
Labels: Python, Docs

#4655 doc: update DPA3 doc and example
  doc/model/dpa2.md
  doc/model/dpa3.md
  doc/model/index.rst
  doc/model/train-energy-spin.md
  examples/water/dpa3/README.md
  examples/water/dpa3/input_torch.json
  examples/water/lmp/jax_dpa.lammps
  source/tests/common/test_examples.py
Labels: Python, Docs, Examples

#4677 perf: change order of element-wise op in edge angle update calculations
  deepmd/dpmodel/descriptor/repflows.py
  deepmd/pt/model/descriptor/repflow_layer.py
Labels: Python

#4675 fix(pt/dp): fix non-smooth edge update in DPA3
  deepmd/dpmodel/descriptor/dpa3.py
  deepmd/dpmodel/descriptor/repflows.py
  deepmd/pt/model/descriptor/dpa3.py
  deepmd/pt/model/descriptor/repflow_layer.py
  deepmd/pt/model/descriptor/repflows.py
  deepmd/utils/argcheck.py
  source/tests/pt/model/test_dpa3.py
  source/tests/pt/model/test_permutation.py
  source/tests/pt/model/test_smooth.py
  source/tests/universal/common/cases/model/utils.py
  source/tests/universal/dpmodel/descriptor/test_descriptor.py
  source/tests/universal/dpmodel/model/test_model.py
  source/tests/universal/pt/model/test_model.py
Labels: Python

#4678 perf: calculate grad on-the-fly for SiLUT
  deepmd/pt/utils/utils.py
Labels: Python
